@model Devbridge.Platform.Sample.Web.Module.Models.ModulesListViewModel

@if (Model == null)
{
    <h1>Modules list model is null</h1>
}
else
{
    if (Model.Modules == null || Model.Modules.Count == 0)
    {
        <h1>Modules list is empty</h1>
    }
    else
    {
        <h1>The list of references modules:</h1>
    
        <table border="1">
            <tr>
                <th>Assembly</th>
                <th>Name</th>
                <th>Description</th>
                <th>Descriptor Type</th>
            </tr>
            @foreach (var module in Model.Modules)
            {
                <tr>
                    <td>@module.Assembly</td>
                    <td>@module.Name</td>
                    <td>@module.Description</td>
                    <td>@module.Type</td>
                </tr>
            }
        </table>
    }
}