@* --------------------------------------------------------------------------------------------------------------------
// <copyright file="EditUserRoles.cshtml" company="Devbridge Group LLC">
// 
// Copyright (C) 2015,2016 Devbridge Group LLC
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU Lesser General Public License
// along with this program.  If not, see http://www.gnu.org/licenses/. 
// </copyright>
// 
// <summary>
// Better CMS is a publishing focused and developer friendly .NET open source CMS.
// 
// Website: https://www.bettercms.com 
// GitHub: https://github.com/devbridge/bettercms
// Email: info@bettercms.com
// </summary>
// -------------------------------------------------------------------------------------------------------------------- *@
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Users.Content.Resources

<div class="bcms-input-list-holder" data-bind="with: roles">
    <div class="bcms-content-titles">@UsersGlobalization.EditUser_Add_Role_Title</div>
    @Html.Tooltip(UsersGlobalization.EditUser_Role_Tooltip_Description)

    <div class="bcms-field-wrapper" data-bind="visible: isExpanded()">
        <input type="text" class="bcms-field-text" data-bind="
                css: { 'bcms-input-validation-error': newItem.hasError() },
                value: newItem,
                valueUpdate: 'afterkeydown',
                hasfocus: hasfocus,
                autocompleteList: 'onlyExisting',
                escPress: clearItem" />
        <!-- ko if: newItem.hasError()  -->
        <span class="bcms-field-validation-error">
            <span data-bind="text: newItem.validationMessage()"></span>
        </span>
        <!-- /ko -->
    </div>

    <div class="bcms-single-tag-holder" data-bind="foreach: items()">
        <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
            <div data-bind="text: name()"></div>
            <div class="bcms-single-tag-remove" data-bind="click: remove">@RootGlobalization.Button_Remove</div>
        </div>
        <input type="hidden" data-bind="attr: { name: getItemInputName($index()), value: name() }" />
    </div>
</div>
