@using BetterCms.Module.Root.Content.Resources

@model bool
@if (Model)
{
    <div class="bcms-action-ok">@RootGlobalization.Boolean_Yes</div>
}
else
{
    <div class="bcms-action-warn">@RootGlobalization.Boolean_No</div>
}