@using BetterCms.Module.Root.Content.Resources
<script type="text/html" id="bcms-contents-tree-template">
    <div class="bcms-scroll-window" id="bcms-contents-tree">
        <div class="bcms-padded-content">
            <div data-bind="visible: visibleItems().length > 0, with: visibleItems()">
                <h2 data-bind="visible: $parent.invisibleItems().length > 0">TODO: Visible regions</h2>
                <div data-bind='template: { name: "bcms-contents-tree-list-template" }'></div>
            </div>

            <div data-bind="visible: invisibleItems().length > 0, with: invisibleItems()">
                <h2>TODO: Invisible regions</h2>
                <div data-bind='template: { name: "bcms-contents-tree-list-template" }'></div>
            </div>
        </div>
    </div>
</script>
<style type="text/css">
    body {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .bcms-contents-tree-region {
        position: relative;
        min-height: 48px;
        padding: 15px 15px 5px 30px;
        margin-top: 40px;
        background-color: #ffffff;
        border: 1px dashed #0383df;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .bcms-contents-tree-region-icons {
        display: none;
        float: right;
    }

    .bcms-contents-tree-region-header span {
        line-height: 1em;
        color: #0383df;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .bcms-contents-tree-region-header > span:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 9px;
        width: 16px;
        height: 16px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAp0lEQVQ4y2NgaHzEgIa1gLgPiK8D8Q8ovgYV08JQj8RhA+IpQPwXiP/jwCC5GUDMiW4ASPNuPBrR8V6oHrgBU0nQDMNTYAZoA/EfJAmYofjY/6F6tEEC/WgmM5Dgin4GaGgTawC63HWQwE8SbEQ34Cc2A0jxwmdKvXAFWyCS4oUJIAEdCqJRh5KENJWqSZnizISMtcGB0/joBhD/AuIv4NCGiOmgqwcAeZoWhHl8VUoAAAAASUVORK5CYII=') no-repeat center center;
    }

    .bcms-contents-tree-content {
        position: relative;
        min-height: 43px;
        padding: 15px 15px 15px 30px;
        background-color: #ffffff;
        border: 1px solid black;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .bcms-contents-tree-content span {
            font-size: 14px;
            font-weight: 600;
        }

        .bcms-contents-tree-content > div > span:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 9px;
            width: 16px;
            height: 16px;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAoUlEQVQ4y63TMQ7CMAyF4UxI3OObaM8KHUDiLohbVJR7wAAIBEuCqkiB0jL8Qxy/J9txAkLGAkt0uEQOMbbI8/uHGdZ44FnggS3mucEMuw/CnH3UvA02P4gT62RQ4T7C4I4qYDVCnFiFOO38IhTI87qA64QKriWDMLCKU6mFobSlIX7rPdEE1BOesZ6ySJu/rvLkz9SnQoMjbjijjbE6z38BOfIicutUfNcAAAAASUVORK5CYII=') no-repeat center center;
        }

    .bcms-contents-tree-content-icons {
        display: none;
        float: right;
    }

    .bcms-dragging {
        background-color: #f5f5f5;
        opacity: 0.8;
    }

        .bcms-dragging:after {
            content: "";
            position: absolute;
            top: 14px;
            right: 20px;
            width: 18px;
            height: 18px;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAwElEQVQ4y82UMQoCMRBFAxbay9qId8ghbdQbWKynUEFFEcTCbezWRm+y6v8yA0GygYyNxWuG7IP8+RvnvXcJRuABbmCQOpuS9EAFXsIBdCyiRSBRZhbREjwDSQP2FpGiImfNyCRiiGNwyhCtQClL+Yj6YJP4oG2u+V1YEw6uke3kcndStl9FNUVDcDZcrZE5K1HosAvmYJshYtOn2vb/7VGM49cvQtYW0SSyndIiYoi7QFJpiy0ZFewICyePXOvZNzOcGkIop91gAAAAAElFTkSuQmCC') no-repeat center center;
        }

    .bcms-contents-tree-droppable {
        height: 20px;
    }

    .bcms-contents-tree-droppable-active {
        color: black;
        height: 30px;
        margin: 10px 0;
        border: 1px dashed black;
    }

    .bcms-contents-hover {
        background-color: #f5f5f5;
    }

        .bcms-contents-hover .bcms-contents-tree-content-icons {
            display: block;
        }

        .bcms-contents-hover .bcms-contents-tree-region-icons {
            display: block;
        }

    .bcms-tree-controls a {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 15px;
        background-position: center;
        cursor: pointer;
        vertical-align: middle;
        text-indent: -9999px;
    }

    .bcms-tree-controls-pointer {
        background-image: url('');
    }

        .bcms-tree-controls-pointer:hover {
            background-image: url('');
        }

    .bcms-tree-controls-history {
        background-image: url('');
    }
     
        .bcms-tree-controls-history:hover {
            background-image: url('');
        }

    .bcms-tree-controls-edit {
        background-image: url('');
    }

        .bcms-tree-controls-edit:hover {
            background-image: url('');
        }

    .bcms-tree-controls-delete {
        background-image: url('');
    }

        .bcms-tree-controls-delete:hover {
            background-image: url('');
        }

    .bcms-tree-controls-add {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAPklEQVQ4y2NgmPGOAQc+DMT/ofgwTnV4DPiPhkcNwGPAYSyKicWHGSjQDMHUMIASLxwZTQc0NuAwSmjjUAcAbxLzwsvYFoMAAAAASUVORK5CYII=');
    }

        .bcms-tree-controls-add:hover {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAPklEQVQ4y2NgaHzEgAMfBuL/UHwYpzo8BvxHw6MG4DHgMBbFxOLDDBRohmBqGECJF46MpgMaG3AYJbRxqAMATWnQwmj3tBgAAAAASUVORK5CYII=');
        }

    /*TEST ONLY*/
    .bcms-contents-tree-content:hover .bcms-contents-tree-content-icons {
        display: block;
    }

    .bcms-contents-tree-region:hover .bcms-contents-tree-region-icons {
        display: block;
    }
</style>
<script type="text/html" id="bcms-contents-tree-list-template">
    <!-- ko if: $data.length > 0 -->
    <!-- ko foreach: $data -->
    <!-- ko if: type == types.content && $index() == 0 -->
    <div class="bcms-contents-tree-droppable" data-bind="droppableContent: {type: 'top', region: parentRegion}, css: {'bcms-contents-tree-droppable-active': activeZone() == 'top'}">
        &nbsp;
    </div>
    <!-- /ko -->
    <div data-bind="
        css: {
            'bcms-contents-tree-region': type == types.region,
            'bcms-contents-tree-content': type == types.content,
            'bcms-dragging': isBeingDragged()
        },
        draggableContent: type == types.content,
        style: { zIndex: !isBeingDragged() ? '0' : '9999'}">
        <div data-bind="css: {'bcms-contents-tree-region-header': type == types.region}">
            <span data-bind="text: title()"></span>
            <div class="bcms-tree-controls" data-bind="css: {'bcms-contents-tree-region-icons': type==types.region, 'bcms-contents-tree-content-icons': type==types.content}, visible: !isBeingDragged()">
                <!-- ko if: type == types.content -->
                <!-- ko if: model.visibleButtons.configure -->
                <a class="bcms-tree-controls-pointer" data-bind="click: configure">TODO: Configure</a>
                <!-- /ko -->
                <!-- ko if: model.visibleButtons.history -->
                <a class="bcms-tree-controls-history" data-bind="click: history"></a>
                <!-- /ko -->
                <!-- ko if: model.visibleButtons.edit -->
                <a class="bcms-tree-controls-edit" data-bind="click: editItem">@RootGlobalization.Button_Edit</a>
                <!-- /ko -->
                <!-- ko if: model.visibleButtons.delete -->
                <a class="bcms-tree-controls-delete" data-bind="click: deleteItem">@RootGlobalization.Button_Delete</a>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: type == types.region -->
                <a class="bcms-tree-controls-add" data-bind="click: addContent"></a>
                <!-- /ko -->
            </div>
        </div>
        <div data-bind="with: items()">
            <div data-bind="template: { name: 'bcms-contents-tree-list-template' }"></div>
        </div>

        <!-- ko if: type == types.region && items().length === 0 -->
        <div class="bcms-contents-tree-droppable" data-bind="droppableContent: {type: 'emptyListZone', region: $data}, css: {'bcms-contents-tree-droppable-active': activeZone() == 'emptyListZone'}">
            &nbsp;
        </div>
        <!-- /ko -->
    </div>

    <!-- ko if: type == types.content -->
    <div class="bcms-contents-tree-droppable" data-bind="droppableContent: {type: 'middle', region: parentRegion}, css: {'bcms-contents-tree-droppable-active': activeZone() == 'middle'}">
        &nbsp;
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
</script>