$history-preview-box: ($header-height + $tab-height);

%history-preview-frame {
    background-color: $white;
    height: calc(60vh - #{$history-preview-box});
    position: relative;
}

.bcms-history {
    &-preview-holder {
        @extend %history-preview-frame;
        overflow: hidden;
    }

    &-preview-data {
        @extend %history-preview-frame;
        box-sizing: border-box;
        overflow: auto;
        padding: 20px 30px;
    }

    &-info {
        @include positioning($center: true);
        color: $text-dark;
        font-size: 19px;
        text-align: center;
    }

    &-table-holder {
        height: calc(40vh - #{$footer-height});
    }

    &-table-top {
        background-color: $white;
        border: {
            top: $border-thin-smoke;
            bottom: $border-thin-smoke;
        }
        padding: 3px 30px;
    }

    &-items-list {
        background-color: $white;
        height: calc(40vh - #{$footer-height + 44px});
        overflow-y: auto;
    }
}

.bcms-history-content {
    padding: 20px;
}

.bcms-published-state {
    color: $text-blue;
}

.bcms-draft-state {
    color: $text-green;
}

.bcms-archived-state {
    color: $text-red;
}
