.bcms-thumb {
    &-container {
        display: table;
        margin: 40px 0 45px;
    }

    &-box {
        @include vertical-align($block: table-cell, $align: top);
    }

    &-image {
        border: 1px solid #c6c6c6;
        display: inline-block;
        height: 124px;
        position: relative;
        width: 124px;

        img {
            max-width: 100%;
        }
    }
}

//module Add New tabbed content
//module 1st tab
.bcms-newcontent-top {
    height: 80px;
    padding-top: 20px;
}

.bcms-newcontent-top .bcms-input-field-holder {
    float: left;
    margin-left: 20px;
}

.bcms-newcontent-top .bcms-input-field-holder:first-child {
    margin-left: 0;
}

.bcms-text-editor-holder {
    padding-bottom: 25px;
    position: relative;
}

//module 2nd tab
.bcms-content-sliders {
    //fixme remove when html refactored max-width: 820px;
}

.bcms-slider-box {
    padding: 20px;
    position: relative;
}

.bcms-slider-box:hover a.bcms-slider-prev, .bcms-slider-box:hover a.bcms-slider-next {
    opacity: 1;
}

.bcms-slides-container {
    height: 265px;
    margin: 0 auto;
    width: 750px;
}

.bcms-slides-container .bcms-slides-single-slide {
    height: 265px;
    width: 750px;
}

a.bcms-slider-prev, a.bcms-slider-next {
    background: url('images/sprite-pages-2.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    transition: opacity 0.1s ease-in-out;
    -webkit-transition: opacity 0.1s ease-in-out;
    width: 44px;
    z-index: 10;
}

a.bcms-slider-prev {
    background-position: 15px 50%;
    left: 0;
}

a.bcms-slider-prev:active {
    background-position: -27px 50%;
}

a.bcms-slider-next {
    background-position: -70px 50%;
    right: 0;
}

a.bcms-slider-next:active {
    background-position: -112px 50%;
}

.bcms-slides-single-slide .bcms-preview-block {
    margin: 0 16px 0 22px;
}

.bcms-title-holder .bcms-content-titles {
    font-size: 12px;
    overflow: hidden;
    padding-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bcms-controls-holder .bcms-icn-delete {
    margin-top: -10px;
    position: absolute;
    right: -15px;
    top: 50%;
}

.bcms-category-titles {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
}

//module Edit Properties

//.bcms-page-images-holder {
//    width: 840px;
//}
//
//.bcms-page-images-holder .bcms-input-list-holder {
//    display: inline-block;
//    margin-right: 50px;
//}
//
//.bcms-page-images-holder .bcms-btn-small {
//    display: block;
//    text-align: center;
//}

.bcms-tags-box-holder {
    border-bottom: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
}

.bcms-tags-box-holder .bcms-content-titles:hover {
    color: #24597e;
    cursor: pointer;
}

.bcms-tags-box-holder .bcms-content-titles {
    display: inline-block;
    vertical-align: top;
}

.bcms-categories-box-holder {
    border-top: 1px solid #c6c6c6;
}

.bcms-categories-box-holder .bcms-content-titles:hover {
    color: #24597e;
    cursor: pointer;
}

.bcms-categories-box-holder .bcms-content-titles {
    display: inline-block;
    vertical-align: top;
}

//module Add new
.bcms-addpage-title {
    position: relative;
}

.bcms-addpage-title .bcms-tooltip-mark {
    left: -15px;
    top: 4px;
}

//module new placement
//module left-sidebar
.bcms-sidebar-info-block {
    left: 20px;
    position: absolute;
    top: 70px;
    width: 193px;
}

.bcms-sidebar-info-block > .bcms-content-titles {
    line-height: 18px;
    margin-bottom: 5px;
}

.bcms-sidebar-info-block .bcms-btn-main {
    margin-top: 10px;
}

.bcms-sitemap-title-link {
    color: #0383df;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
}

//module create menus
//.bcms-menu-settings {
//    padding: 0 20px 0 35px;
//}

//module Site settings
//module sidebar

//module content
.bcms-title-show-helper {
    position: relative;
}

.bcms-add-language-button {
    padding: 0 0 10px 50px;
}

.bcms-add-language-button .bcms-btn-links-main {
    padding-left: 0;
}

.bcms-preview-module-image {
    background: url('images/bcms-no-image-1.png') no-repeat center center #f5f5f5;
    border: 1px solid #c6c6c6;
    float: left;
    height: 350px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 521px;
}

.bcms-preview-module-image > div {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

.bcms-preview-module-image img {
    background: #f5f5f5;
    max-height: 350px;
    max-width: 521px;
}

.bcms-check-field {
    display: inline-block;
    vertical-align: middle;
}

.bcms-check-label {
    display: inline-block;
    vertical-align: middle;
}

.bcms-btn-field-holder {
    float: right;
}

//module Analytics
.bcms-tracking-code {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//module Sitemap slider
.bcms-sitemaps-arrow-left {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAbElEQVQY02NgmPGOAQnLAPFLIP4PxLP////PgCzJBsQnoZLHQXx0BXOgki+gJjEgK8iASv4EYluYJpgCK6gESEEOsptgCs5AJS+gOZh4E9DdYINNAQjPhSp6DsTS2BSwA/EpfOGAPSRBBD4MAL5/ytmW8CT1AAAAAElFTkSuQmCC") no-repeat center;
    cursor: pointer;
    float: left;
    height: 100%;
    width: 22px;
}

.bcms-sitemaps-arrow-left.bcms-sitemaps-arrow-inactive {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAbElEQVQY02Pw9PRkQMIyQPwSiP8D8ez///8zIEuyAfFJqORxEB9dwRyo5AuoSQzICjKgkj+B2BamCabACioBUpCD7CaYgjNQyQtoDibeBHQ32GBTAMJzoYqeA7E0NgXsQHwKXzhgD0kQgQ8DAGp5l2oEYfPPAAAAAElFTkSuQmCC");
}

.bcms-sitemaps-arrow-right {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAdElEQVQY02NgmPFuNhD/B+KXQCwDxAww/P//fwYQgw2Ij0MVnYTyURQwQHW+gCqai00BCNsA8U+oogxsCkA4B6oApNAKmwIQvgBVdAabgmwkE6zxuSET3Q3SQPwcly9A/j4GlTwFxOzoCmAh+QprSIIIfBgAv3TK2uB+QioAAAAASUVORK5CYII=") no-repeat center;
    cursor: pointer;
    float: right;
    height: 100%;
    width: 22px;
}

.bcms-sitemaps-arrow-right.bcms-sitemaps-arrow-inactive {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAdElEQVQY02Pw9PScDcT/gfglEMsAMQMM////nwHEYAPi41BFJ6F8FAUMUJ0voIrmYlMAwjZA/BOqKAObAhDOgSoAKbTCpgCEL0AVncGmIBvJBGt8bshEd4M0ED/H5QuQv49BJU8BMTu6AlhIvsIakiACHwYAa26Xa0spcakAAAAASUVORK5CYII=");
}

.bcms-template-usage {
    color: #C0C0C0;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding-right: 22px;
    position: relative;
}

.bcms-template-usage:hover {
    color: #303030;
    text-decoration: none;
}

.bcms-template-usage:after {
    background: url('images/sprite-base-2.png') no-repeat -60px -107px;
    content: "";
    cursor: pointer;
    height: 12px;
    margin-top: -6px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 9999px;
    top: 50%;
    transition: all 0.1s ease-in-out 0s;
    width: 18px;
}

.bcms-template-usage:hover:after {
    background-position: -60px -133px;
}

.bcms-templates-holder {

}
