.bcms-category-titles {
    border-bottom: $border-thin-smoke;
    color: $text-dark;
    font: {
        size: 16px;
        weight: 700;
    }
    padding: 10px 0;
}

.bcms-preview-thumb {
    background-color: $white;
    border: $border-thin-smoke;
    height: 350px;
    overflow: hidden;
    position: relative;

    img {
        @include positioning($center: true);
        background: #f5f5f5;
        max-height: 350px;
        max-width: 100%;
    }
}

.bcms-preview-zoom {
    &-box {
        &:hover {
            > .bcms-preview-zoom-overlay {
                cursor: pointer;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-overlay {
        @include transition(opacity 200ms);
        @include position(absolute, 0);
        background: rgba($bg-dark, .7) url($bcms-zoom) no-repeat center;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
    }
}
