
.bcms-category-titles {
    border-bottom: $border-thin-smoke;
    color: $text-dark;
    font: {
        size: 16px;
        weight: 700;
    }
    padding: 10px 0;
}

//fixme not sure that we using it
.bcms-btn-field-holder {
    float: right;
}

//
//
//
//
//
//
//
//todo
.bcms-preview-module-image {
    background: url('images/bcms-no-image-1.png') no-repeat center center #f5f5f5;
    border: 1px solid #c6c6c6;
    float: left;
    height: 350px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 521px;
}

.bcms-preview-module-image > div {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

.bcms-preview-module-image img {
    background: #f5f5f5;
    max-height: 350px;
    max-width: 521px;
}

.bcms-check-field {
    display: inline-block;
    vertical-align: middle;
}

.bcms-check-label {
    display: inline-block;
    vertical-align: middle;
}
