@import '../../core/variables';

//module sitemap "add new node"
.bcms-sitemap-links-holder {
    padding: 10px 20px;
}

.bcms-sidebar-search {
    margin: 15px 0;
    position: relative;
}

.bcms-sidebar-search .bcms-editor-field-box {
    background-color: #fff;
}

.bcms-addnode-placement-holder {
    display: block;
    min-height: 52px;
    padding: 0 0 4px;
}

.bcms-addnode-placement-holder .bcms-placement-node:hover {
    border: 1px dashed #bdbdbd;
    cursor: move;
}

.bcms-addnode-placement-holder-readonly {
    display: block;
    min-height: 52px;
    padding: 0 0 4px;
}

.bcms-sitemap-holder {
    margin-top: -8px;
    padding: 0 20px;
}

.bcms-sitemap-filter-holder {
    display: table-caption;
    height: 62px;
    margin-left: 10px;
    position: relative;
}

.bcms-language-bar {
    display: table;
    margin-top: 15px;
}

.bcms-language-selector-box {
    float: right;
    margin-top: 0;
}

.bcms-table-middle-box {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
}

.bcms-sitemap-filter-holder .bcms-expand-link-holder {
    position: absolute;
    right: 20px;
    top: 25px;
    width: auto;
}

.bcms-sitemap-history {
    height: 100%;
    overflow: auto;
}

.bcms-sitemap-history .bcms-sitemap-filter-holder {
    display: block;
}

.bcms-add-node-col {
    border-top: 1px solid #C6C6C6;
}

.bcms-drop-area {
    border: 2px dashed #0383df;
    border-radius: 4px;
    margin: 0 20px 20px;
    min-height: 65px;
    padding-top: 20px;
}

//module new placement
//module left-sidebar
.bcms-dropable-page-box {
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    cursor: move;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 15px;
    position: relative;
}

.bcms-dropable-page-box:hover {
    border: 1px dashed #a4a4a4;
}

.bcms-dropable-page-box:active {
    opacity: 0.8;
}

.bcms-dropable-page-box .bcms-content-titles {
    padding-bottom: 5px;
}

.bcms-dropable-page-box .bcms-dropable-text {
    padding-bottom: 20px;
}

//module nodes tree
.bcms-tree-holder > div {
    position: relative;
}

//module editable node
.bcms-edit-node {
    display: none;
}

.bcms-edit-node-holder {
    padding-bottom: 5px;
    position: relative;
}

.bcms-edit-node-holder .bcms-tooltip-mark {
    left: -20px;
    top: 1px;
}

.bcms-placement-node-edit {
    height: 67px;
    padding-left: 30px;
}

.bcms-placement-node-edit:hover div.bcms-node-controls {
    display: none;
}

.bcms-placement-node-edit .bcms-node-info {
    display: none;
}

.bcms-placement-node-edit .bcms-edit-node {
    display: block;
}

.bcms-node-controls {
    box-sizing: border-box;
    display: none;
    padding: 12px 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
}

//module menu
div.bcms-menu-left-col {
    width: 50%;
}

div.bcms-add-node-col > .bcms-content-titles {
    cursor: pointer;
}

div.bcms-add-node-col .bcms-placement-node {
    margin-bottom: 5px;
    width: 195px;
}

div.bcms-add-node-col .bcms-placement-dropzone {
    margin-bottom: 5px;
}
