$zone-padding: 15px;

%tree-links-ui {
    color: $text-blue;
    cursor: pointer;
    font-weight: 600;
    line-height: 20px;

    &:hover {
        color: darken($text-blue, 10%);
    }
}

.bcms-tree {
    &-zones-holder {
        display: table;
        width: 100%;
    }

    &-drag-area {
        @include vertical-align($block: table-cell, $align: top);
        width: $settings-sidebar;
    }

    &-drop-area-ui {
        @include vertical-align($block: table-cell, $align: top);
    }

    &-info-block {
        @include clearfix();
        border-bottom: $border-thin-smoke;
        margin: 20px 0 15px;

        .bcms-content-titles {
            float: left;
        }
    }

    &-controls-holder {
        @include clearfix();
        margin: 15px 0 10px;
    }

    &-expander {
        @extend %tree-links-ui;
        background: url($bcms-tree-plus) no-repeat right center;
        float: right;
        padding-right: 28px;

        &-close {
            background-image: url($bcms-tree-minus);
        }
    }

    &-add-node {
        @extend %tree-links-ui;
        background: url($bcms-tree-new-node) no-repeat left center;
        float: left;
        padding-left: 28px;

    }
}

.bcms-node-box {
    &-container {
        @include transition(border-style 200ms);
        background-color: $white;
        border: $border-thin-smoke;
        box-sizing: border-box;
        min-height: 44px;
        padding: 0 60px 0 20px;
        position: relative;

        &:hover {
            border-style: dashed;
            cursor: move;
        }
    }

    &-info {
        @include ellipsis();
        max-width: 80%;
    }

    &-title {
        @include vertical-align();
        color: $text-blue;
        line-height: 42px;
    }

    &-drag {
        background-color: $sky-blue;
        box-shadow: 5px 3px 0 2px rgba($sh-dark, .6);
    }

    &-edit {
        background-color: $sky-blue;

        .bcms-node-box-info {
            display: none;
        }

        .bcms-node-editable-box {
            display: block;
        }

        .bcms-node-delete-box {
            opacity: 0;
        }
    }

    &-active {
    }
}

.bcms-node {
    &-expander {
        @include positioning($center-y: true);
        @include size(20px);
        background: $bg-modal-options url($bcms-tree-plus) no-repeat right center;
        cursor: pointer;
        left: -10px;
        z-index: 1;
    }

    &-expanded {
        background-image: url($bcms-tree-minus);
    }

    &-edit-holder {
        margin: 5px 0;

        .bcms-field-wrapper {
            @include vertical-align();
            width: 80%;
        }
    }

    &-delete-box {
        @include transition(opacity 200ms);
        @include position(absolute, 0 0 0 null);
        border-left: $border-thin-smoke;
        opacity: 1;
        width: 50px;

        .bcms-action-delete {
            height: 100%;
            width: 100%;
        }
    }

    &-drop-zone {
        padding: 4px 0;
    }

    &-drop-zone-active {
        padding: 8px 0;
    }

    &-drop-zone-text {
        border: $border-thick-dashed-smoke;
        box-sizing: border-box;
        color: $text-smoke;
        display: none;
        font-size: 14px;
        height: 44px;
        line-height: 42px;
        padding: 0 15px;
    }

    &-drop-zone-active {
        .bcms-node-drop-zone-text {
            display: block;
        }
    }
}

.bcms-zone-holder {
    padding-left: 15px;

    > .bcms-node-container {
        position: relative;

        @include virtual(before) {
            @include position(absolute, 0 null null -15px);
            @include size(15px 100%);
            background: url($bcms-node-step) repeat-y left top;
        }

        @include virtual(after) {
            @include position(absolute, 21px null null -15px);
            @include size(15px 2px);
            background-color: $bg-node-step;
        }

        &:first-of-type {
            &:before {
                top: 8px;
            }

            &:after {
                top: 29px;
            }
        }

        &:last-of-type {
            &:before {
                height: 23px;
            }
        }
    }
}

//todo upgrade after design received
//
//
//
//
//
//
//module sitemap "add new node"
.bcms-sitemap-links-holder {
    padding: 10px 20px;
}

.bcms-sidebar-search {
    margin: 15px 0;
    position: relative;
}

.bcms-sidebar-search .bcms-editor-field-box {
    background-color: #fff;
}

.bcms-addnode-placement-holder {
    display: block;
    min-height: 52px;
    padding: 0 0 4px;
}

.bcms-addnode-placement-holder-readonly {
    display: block;
    min-height: 52px;
    padding: 0 0 4px;
}

.bcms-add-node-col {
    border-top: 1px solid #C6C6C6;
}

.bcms-drop-area {
    border: 2px dashed #0383df;
    border-radius: 4px;
    margin: 0 20px 20px;
    min-height: 65px;
    padding-top: 20px;
}

//module left-sidebar
.bcms-dropable-page-box {
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    cursor: move;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 15px;
    position: relative;
}

.bcms-dropable-page-box:hover {
    border: 1px dashed #a4a4a4;
}

.bcms-dropable-page-box:active {
    opacity: 0.8;
}

.bcms-dropable-page-box .bcms-content-titles {
    padding-bottom: 5px;
}

.bcms-dropable-page-box .bcms-dropable-text {
    padding-bottom: 20px;
}

////module editable node
//.bcms-edit-node {
//    display: none;
//}
//
//.bcms-placement-node-edit .bcms-node-info {
//    display: none;
//}
//
//.bcms-placement-node-edit .bcms-edit-node {
//    display: block;
//}

//module menu
div.bcms-menu-left-col {
    width: 50%;
}

div.bcms-add-node-col > .bcms-content-titles {
    cursor: pointer;
}

div.bcms-add-node-col .bcms-placement-node {
    margin-bottom: 5px;
    width: 195px;
}

div.bcms-add-node-col .bcms-placement-dropzone {
    margin-bottom: 5px;
}
