@import '../../core/variables';

.bcms-placement-node + .bcms-zone-holder {
    margin-top: 8px;
}

.bcms-zone-holder {
    position: relative;
    border-left: 3px solid #c6c6c6;
    padding: 0 0 0 20px;
}

.bcms-nodes-dropzone + .bcms-zone-holder {
    margin-top: 0;
}

.bcms-nodes-dropzone {
    padding: 4px 0;
}

.bcms-nodes-dropzone-active {
    padding: 8px 0;
}

.bcms-nodes-dropzone-active .bcms-node-infotext {
    display: block;
}

.bcms-node-infotext {
    display: none;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    color: #bdbdbd;
    border: 1px dashed #bdbdbd;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
}

.bcms-placement-holder {
    display: block;
    padding: 0 20px;
    margin-top: -8px;
}

.bcms-leftcol-helper {
    border-top: 1px solid #c6c6c6;
}

.bcms-placement-node {
    position: relative;
    height: 30px;
    padding: 8px 15px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    background-color: #f5f5f5;
}

.bcms-placement-node:hover .bcms-node-controls {
    display: block;
}

.bcms-placement-node .bcms-placement-title {
    max-width: 450px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    cursor: pointer;
}

.bcms-placement-node .bcms-placement-path {
    max-width: 350px;
    line-height: 16px;
    font-size: 11px;
    color: #0383df;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;
}

.bcms-placement-node-drag {
    border: 1px dashed #bdbdbd;
    background: #effcfe;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

div.bcms-placement-one-active {
    background: #effcfe;
    cursor: move;
}

.bcms-placement-node-drag a.bcms-icn-edit {
    display: none;
}

.bcms-placement-node-drag a.bcms-icn-delete {
    display: none;
}

.bcms-expand-collapse-node {
    position: absolute;
    left: -8px;
    top: -8px;
    width: 16px;
    height: 16px;
    background: url('images/sprite-base-2.png') no-repeat -2px -179px;
    cursor: pointer;
    text-indent: -9999px;
}

a.bcms-expanded-nodes {
    background-position: -23px -179px;
}

.bcms-expand-link-holder {
    display: inline-block;
    width: 100%;
}

.bcms-expand-link {
    float: right;
    line-height: 16px;
    padding-left: 11px;
    color: #0383df;
    text-decoration: none;
    cursor: pointer;
}

.bcms-expand-link:hover {
    text-decoration: underline;
}

.bcms-placement-dropzone {
    height: 46px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 46px;
    border: 2px dashed #bdbdbd;
    border-radius: 2px;
    background: #fff;
}
