//module top block
.bcms-top-block {
    &-holder {
        @include user-select();
        padding: 20px 0;
        position: relative;
    }

    &-inner {
        @include vertical-align();

        &.bcms-active-search {
            .bcms-search-block {
                min-width: 330px;
                opacity: 1;
            }

            .bcms-search-field-box {
                min-width: 280px;
            }
        }
    }

    &-pager {
        @include positioning($center-y: true);
        right: 0;
    }

    &-filters {
        @include clearfix();
        border: {
            top: $border-nav-bottom;
            bottom: $border-nav-bottom;
        }
        padding: 5px 0;
    }
}

//module buttons opener
.bcms-top-controls-btn-holder {
    @include vertical-align();
    position: relative;
}

.bcms-btn-opener {
    @include transition(background-color 200ms);
    @include vertical-align();
    @include size($form-element-height);
    background: $blue-main url($bcms-btn-down-arrow) no-repeat center;
    cursor: pointer;

    &:hover {
        background-color: darken($blue-main, 10%);
    }

    &-holder {
        @include position(absolute, calc(100% + 1px) 0 null);
        border: $border-blue;
        box-sizing: border-box;
        display: none;
        z-index: 5;

        &.bcms-opened {
            display: block;
        }
    }

    &-link {
        @include pad(20px);
        background-color: $white;
        border-top: $border-blue;
        color: $blue-main;
        cursor: pointer;
        line-height: $form-element-height;

        &:first-child {
            border-top: 0;
        }
    }
}

//module search block
.bcms-search {
    &-block {
        @include transition(opacity 150ms ease-in, width 150ms ease-in);
        @include vertical-align();
        min-width: 250px;
        opacity: 0;
        position: relative;
        white-space: nowrap;
    }

    &-field-box {
        @extend %reset;
        @include size(250px $form-element-height);
        border: {
            top: 0;
            right: 0;
            bottom: $border-search-field;
            left: 0;
        }
        box-sizing: border-box;
        color: $dark-text;
        font: {
            size: 14px;
            style: italic;
        }

        @include placeholder {
            color: $light-text;
            font: {
                size: 14px;
                style: italic;
            }
        }
    }
}

//module search filter
.bcms-filter-holder {
    float: right;
    position: relative;
    z-index: 1;
}

.bcms-grid-filtering {
    border: $border-thin-transparent;
    box-sizing: border-box;
    line-height: 30px;

    &.bcms-active-filter {
        border: {
            color: $gray-l;
            bottom-color: $white;
        }
    }
}

.bcms-filterbox {
    @include pad(5px 20px);
    background: url($bcms-grid-filter) no-repeat 90% center;
    color: $gray-light;
    cursor: pointer;
    font-size: 11px;
    line-height: 28px;
    position: relative;
    text-transform: uppercase;

}

.bcms-filter {
    &-selection-block {
        @include position(absolute, #{calc(100% - 1px)} 0 null null);
        background-color: $white;
        border: $border-nav-bottom;
        box-sizing: border-box;
        padding: 15px;
        width: 450px;
        z-index: -1;
    }

    &-controls {
        border-bottom: $border-nav-bottom;
        margin-bottom: 8px;
        padding-bottom: 5px;
    }

    &-options {
        float: left;
        padding-bottom: 5px;
        padding-right: 5px;

        &:first-child {
            margin-right: 15px;
        }

        .bcms-global-select {
            height: 28px;
            padding-top: 2px;
            width: 200px;
        }
    }

    &-text {
        color: #000;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
    }

    &-field-holder {
        position: relative;
    }
}

.bcms-check-field-holder {
    float: left;
    margin: 4px 0 0 -3px;
}
