@using BetterCms.Module.Root.Content.Resources

@model BetterCms.Core.DataContracts.Enums.PageStatus
@if (Model == BetterCms.Core.DataContracts.Enums.PageStatus.Published)
{
    <div class="bcms-icn-published">@RootGlobalization.Boolean_Yes</div>
}
else
{
    <div class="bcms-icn-unpublished">@RootGlobalization.Boolean_No</div>
}