@using BetterCms.Module.Root.Content.Resources

@model bool
           
@if (Model)
{
    <span class="bcms-tables-published">@RootGlobalization.Boolean_Yes</span>
}
else
{
    <span class="bcms-tables-unpublished">@RootGlobalization.Boolean_No</span>
}