<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>     
</head>
    <body>
        <div class="bcms-preview">
            @RenderBody()
        </div>
        @RenderSection("Scripts", false)
    </body>
</html>
