# Build and Object Folders
bin/
obj/
Obj/

#User Specific Files
*.user
*.suo
*.userprefs
*.pidb


#Resource Caches
_ReSharper.*
*.sln.cache
*.Cache

#Upgrade Report Files
_UpgradeReport_Files/

#Nuget
packages/**
!packages/repositories.config
!packages.config

#vim
*~
*.swp

#unit tests
TestResults
test-results
/logs/*.log
logs
/Sandbox/BetterCms.Sandbox.Mvc3/logs
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Root.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Users.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Users.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Admin.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Admin.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Blog.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Blog.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Pages.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Pages.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Root.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.MediaManager.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.MediaManager.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Templates.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Templates.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Navigation.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Navigation.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Newsletter.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Newsletter.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Installation.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.Installation.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.WebApi.dll
/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/Modules/BetterCms.Module.WebApi.pdb
/Sandbox/BetterCms.Sandbox.Mvc4/uploads
/Sandbox/BetterCms.Sandbox.Mvc4/trash
/Modules/BetterCms.Module.Root/Content/Styles/bcms.root.min.css
/Modules/BetterCms.Module.Root/Scripts/bcms.root.min.js
/Modules/BetterCms.Module.Blog/Scripts/bcms.blog.min.js
/Modules/BetterCms.Module.MediaManager/Scripts/bcms.media.min.js
/Modules/BetterCms.Module.Users/Scripts/bcms.users.min.js
/Modules/BetterCms.Module.Pages/Scripts/bcms.pages.min.js
/Build/BetterCms.NugetPackage/Resources
/Modules/BetterCms.Module.ImagesGallery/Scripts/bcms.images_gallery.min.js

/Modules/BetterCms.Module.Root/Scripts/bcms.knockout-3.3.0.min.js

/Modules/BetterCms.Module.Root/Scripts/bcms.require-2.1.5.min.js

/Sandbox/BetterCms.Sandbox.Mvc4/App_Data/BetterCMS/versions.info
/Tests/BetterCms.Api.Tests/App_Data/BetterCms/versions.info
/Tests/BetterCms.Api.Tests/xml_output_dir
/Tests/BetterCms.Api.Tests/App_Data/Temp/*.mdf
/Tests/BetterCms.Api.Tests/App_Data/Temp/*.ldf
/Tests/BetterCms.Api.Tests/Lucene.BetterCms.Api.Tests/

/Modules/BetterCms.Module.OpenGraphIntegration/Web.Debug.config
/Modules/BetterCms.Module.OpenGraphIntegration/Web.Release.config

/Sandbox/BetterCms.Sandbox.Mvc4/Areas/**
/Sandbox/BetterCms.Sandbox.Mvc4/file/**

#osx system files
.DS_Store
._.DS_Store
._.*

#node modules
node_modules/
npm-debug.log

#webstorm
*.sass-cache
*.idea
Modules/BetterCms.Module.Root/Scripts/bcms.knockout-3.3.0.min.js
/.vs/config
