@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}

@RenderBody()

<h1>One column layout</h1>

<div style="border: 1px solid black; width: 100%;">
    <h2>Left Column Section</h2>
    @RenderSection("CMSLeftColumn", false)
</div>