@using BetterCms.Core.Modules.Projections
@using BetterCms.Module.Root.Mvc
@model BetterCms.Module.Root.ViewModels.PageProjectionsViewModel
<div class="bcms-sidemenu-body">
    @{
        var lastItemWasSeparator = true;
        foreach (var projection in Model.Projections)
        {
            var isSeparator = projection is SeparatorProjection;
            if (!(lastItemWasSeparator && isSeparator))
            {
                if (projection.Render(Model.Page, (ViewContext.Controller as CmsControllerBase).SecurityService, Html))
                {
                    lastItemWasSeparator = isSeparator;
                }
            }
        }
    }
</div>