@model BetterCms.Module.Root.ViewModels.PageProjectionsViewModel
<div class="bcms-sidemenu-body">
        @foreach (var projection in Model.Projections)
        {
            projection.Render(Model.Page, User, Html);
        }
</div>