@using BetterCms.Module.Root.Content.Resources
@model string
<div class="bcms-sidemenu-footer">
    <span class="bcms-version-number">@Model</span>
    <div title="@RootGlobalization.Sidebar_Footer_DragTooltip" id="bcms-sidemenu-position-handle" class="bcms-sidemenu-position-handle">
        <span class="bcms-sidemenu-stick-text" title="@RootGlobalization.Sidebar_Footer_Right_DragTitle"></span>
    </div>
</div>