@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@model BetterCms.Module.Root.ViewModels.Tags.TagsTemplateViewModel

@{ var canEdit = (ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.EditContent); }

<div class="bcms-content-titles">@RootGlobalization.TagsTemplate_AddTags_Title</div>
@Html.Tooltip(Model.TooltipDescription)

<div class="bcms-field-wrapper" data-bind="visible: isExpanded()">
    <input type="text" class="bcms-field-text" data-bind="
                    css: { 'bcms-input-validation-error': newItem.hasError() },
                    value: newItem,
                    valueUpdate: 'afterkeydown',
                    hasfocus: hasfocus,
                    autocompleteList: '',
                    enterPress: addItem,
                    escPress: clearItem" />
    <!-- ko if: newItem.hasError()  -->
    <span class="bcms-field-validation-error">
        <span data-bind="text: newItem.validationMessage()"></span>
    </span>
    <!-- /ko -->
</div>

<div class="bcms-single-tag-holder" data-bind="foreach: items()">
    <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
        <div data-bind="text: name()"></div>
        <div class="bcms-single-tag-remove" data-bind="@(canEdit ? "click: remove" : string.Empty)">@RootGlobalization.Button_Remove</div>
    </div>
    <input type="hidden" data-bind="attr: { name: getItemInputName($index()), value: name() }" />
</div>
