@using BetterCms.Core.Modules.Projections
@using BetterCms.Module.Root.Mvc
@model BetterCms.Module.Root.Models.SiteSettingsMenu.SiteSettingsContainerViewModel
<div id="bcms-site-settings" class="bcms-scroll-window">
    <div class="bcms-columns-container">
        <div class="bcms-leftcol">
            <div id="bcms-site-settings-menu" class="bcms-leftcol-inner">
                <!---<div class="bcms-links-block">  !-->              
                <div class="bcms-settings-separator"></div>
                @{
                    var lastItemIsHr = true;
                    foreach (var menuItem in Model.MenuItems.Projections)
                    {
                        if (menuItem is SeparatorProjection)
                        {
                            if (!lastItemIsHr)
                            {
                                <div class="bcms-settings-separator"></div>
                                lastItemIsHr = true;
                            }
                        }
                        else
                        {
                            if (menuItem.Render(Model.MenuItems.Page, (ViewContext.Controller as CmsControllerBase).SecurityService, Html))
                            {
                                lastItemIsHr = false;
                            }
                        }
                    }
                    if (!lastItemIsHr)
                    {
                        <div class="bcms-settings-separator"></div>
                    }
                }
            </div>
        </div>
       
        <div class="bcms-rightcol">
           <div id="bcms-site-settings-placeholder"> </div>
        </div> 
    </div>
</div>

