@using BetterCms.Module.Root.Content.Resources
<script type="text/html" id="bcms-modal-alert-template">
    <div class="bcms-modal">    
        <div class="bcms-error-frame" tabindex="-1">
            <a class="bcms-error-close">@RootGlobalization.Button_Close</a>
            <h4>@RootGlobalization.Alert_DefaultTitle</h4>
            <p></p>
        </div>        
    </div>
</script>
