@using BetterCms.Module.Root.Content.Resources

<script type="text/html" id="bcms-modal-delete-template">
    <div class="bcms-modal-alert">
        <div class="bcms-error-frame" tabindex="-1">
            <div class="bcms-btn-close bcms-js-btn-close">@RootGlobalization.Button_Close</div>
            <div class="bcms-message-titles">@RootGlobalization.Confirm_Delete_DefaultMessage</div>
            <div class="bcms-message-description"></div>
            <div class="bcms-success-buttons-holder" data-bind="foreach: buttons">
                <!-- ko if: disabled() === false -->
                <div data-bind="text: title, css: css, click: click, visible: !disabled()"></div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</script>
