<script type="text/html" id="bcms-image-preview-template">
    <div class="bcms-modal-alert">
        <div class="bcms-js-preview-box" tabindex="-1">
            <div class="bcms-btn-close bcms-js-btn-close">Close</div>

            <div class="bcms-preview-image-frame">
                <img alt="" src="" style="display: none;" />
                <div class="bcms-loader"></div>
            </div>

            <div class="bcms-grid-image-holder" style="display: none;"> </div>
        </div>
    </div>
</script>
