@model BetterCms.Module.Root.ViewModels.Shared.MessagesViewModel
<div class="bcms-messages">
    <ul class="bcms-success-messages">
        @if (Model.Success != null)
        {
            @foreach (var message in Model.Success)
            {
                <li>@message</li>
            }
        }
    </ul>
    <ul class="bcms-warning-messages">
        @if (Model.Warn != null)
        {
           @foreach (var message in Model.Warn)
           {
                <li>@message</li>
           }
        }
    </ul>
    <ul class="bcms-info-messages">
        @if (Model.Info != null)
        {
           @foreach (var message in Model.Info)
           {
                <li>@message</li>
           }
        }
    </ul>
    <ul class="bcms-error-messages">
        @if (Model.Error != null)
        {
            @foreach (var message in Model.Error)
            {
                <li>@message</li>
            }
        }
    </ul>
</div>