@using BetterCms.Module.Root.Content.Resources

<script type="text/html" id="bcms-modal-template">
    <div class="bcms-modal bcms-layer" spellcheck="true">
        <div class="bcms-modal-body">
            <div class="bcms-modal-header">
                <div class="bcms-modal-title">@RootGlobalization.Message_Loading</div>
                <div class="bcms-modal-close"> </div>
            </div>
            <div class="bcms-modal-content">
                <div class="bcms-loader"></div>
                <div class="bcms-modal-content-padded" data-bind="stopBinding: true"></div>
            </div>
            <div class="bcms-modal-footer">
                <div class="bcms-modal-footer-buttons" style="float: left" data-bind="foreach: buttons">
                    <div data-bind="text: title, css: css, click: click, visible: !disabled()"></div>
                </div>
                <div class="bcms-modal-cmslogo"></div>
            </div>
        </div>
    </div>
</script>
