@using BetterCms.Module.Root.Content.Resources
<script type="text/html" id="bcms-modal-template">
    <div class="bcms-modal">
        <div class="bcms-modal-body">
            <div class="bcms-modal-header">
                <div class="bcms-modal-title">@RootGlobalization.Message_Loading</div>
                <div class="bcms-modal-close"> </div>
            </div>
            <div class="bcms-modal-content">
                <div class="bcms-loader"></div>
                <div class="bcms-modal-content-padded"></div>
        </div>
        <div class="bcms-modal-footer">
            <div class="bcms-btn-small bcms-modal-accept">@RootGlobalization.Button_Save</div>
            <div class="bcms-btn-links-small bcms-modal-cancel">@RootGlobalization.Button_Cancel</div>
            <div class="bcms-modal-cmslogo"></div>
        </div>
    </div>
</div>
</script>
