@using BetterCms.Module.Root.Content.Resources
<script type="text/html" id="bcms-modal-template">
    <div class="bcms-modal">
        <div class="bcms-modal-body">
            <div class="bcms-modal-header">
                <div class="bcms-modal-title">@RootGlobalization.Message_Loading</div>
                <div class="bcms-modal-close"> </div>
            </div>
            <div class="bcms-modal-content">
                <div class="bcms-loader"></div>
                <div class="bcms-modal-content-padded"></div>
            </div>
            <div class="bcms-modal-footer">
                <div data-bind="foreach: buttons">
                    <!-- ko if: disabled() === false -->
                    <div data-bind="text: title, css: css, click: click, visible: !disabled()"></div>
                    <!-- /ko -->
                </div>
                <div class="bcms-modal-cmslogo"></div>
            </div>
        </div>
    </div>
</script>
