@using BetterCms.Module.Root.Content.Resources
<script type="text/html" id="bcms-modal-template">
    <div class="bcms-modal bcms-layer" spellcheck="true">
        <div class="bcms-modal-body">
            <div class="bcms-modal-header">
                <div class="bcms-modal-frame-holder">
                    <div class="bcms-modal-title">@RootGlobalization.Message_Loading</div>
                    <div class="bcms-modal-close bcms-js-btn-close">Close</div>
                </div>
            </div>

            <div class="bcms-modal-content" data-bind="stopBinding: true">
                <div class="bcms-loader"></div>
            </div>

            <div class="bcms-modal-footer">
                <div class="bcms-modal-frame-holder">
                    <div class="bcms-modal-footer-buttons" data-bind="foreach: buttons">
                        <div data-bind="text: title, css: css, click: click, visible: !disabled()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
