<div class="msg-top-page">
    <div class="msg-top-holder">
        <div class="msg-top-block">Sorry, looks like <b>cookies are disabled</b> in your browser. For full web experience</div>
        <div class="msg-top-block">Cookies must be enabled.</div>
        <div class="msg-cookies"></div>
    </div>
</div>