<noscript>
    <div class="message-page" id="browserInfo">
        <div class="message-block">
            <div class="message-top">Sorry, looks like JavaScript are disabled in your browser</div>
            <div class="message-lower">
                <div class="lower-inner">To use full web app experience</div>
                JavaScript must be enabled
            </div>
        </div>
    </div>
</noscript>
