<div class="message-page" id="browserInfo">
    <div class="message-block">
        <div class="message-top">Sorry, looks like cookies are disabled in your browser</div>
        <div class="message-lower">
            <div class="lower-inner">For full web app experience</div>
            cookies must be enabled
        </div>
    </div>
</div>
