@using Autofac
@using BetterCms.Core.Services
@using BetterCms.Module.Root
@using BetterModules.Core.Web.Dependencies
@{
    var container = PerWebRequestContainerProvider.GetLifetimeScope(Context);
    if (container != null && container.IsRegistered<ISecurityService>())
    {
        var securityService = container.Resolve<ISecurityService>();
        
        var userIsAuthenticated = securityService.IsAuthorized(string.Empty);
        if (userIsAuthenticated)
        {
            <p>User is authenticated!</p>
        }

        var userInRole = securityService.IsAuthorized(
            RootModuleConstants.UserRoles.MultipleRoles(
                RootModuleConstants.UserRoles.EditContent,
                RootModuleConstants.UserRoles.PublishContent));
        if (userInRole)
        {
            <p>User is authenticated and has EditContent or PublishContent role!</p>
        }
    }
}