<div class="cart-summary">
    <div class="cart-summary-title">
        Cart Summary (@DateTime.Now)    
    </div>    
    @Html.RenderAction("Cart", "Summary", new { keyA = ViewBag.AnyCustomKeyA})    
</div>