.bcms-media {
    &-new-folder {
        background: $white url($bcms-media-new-folder) no-repeat 10px center;
        border: $border-thin-smoke;
        box-sizing: border-box;
        cursor: pointer;
        float: right;
        font: {
            size: 12px;
            weight: 600;
        }
        height: 32px;
        line-height: 30px;
        padding: 0 15px 0 40px;
    }

    &-up {
        background: url($bcms-media-folder-up) no-repeat left center;
        color: $text-blue;
        cursor: pointer;
        float: left;
        height: 32px;
        line-height: 30px;
        padding-left: 14px;
    }

    &-item-info {
        cursor: pointer;
        float: left;
    }

    &-folder {
        @include vertical-align();
        @include size(22px 18px);
        background: url($bcms-media-folder) no-repeat center;
        margin-right: 10px;
    }

    &-name {
        @include vertical-align();
        color: $text-blue;
    }

    &-controls {
        display: none;

        .bcms-field-wrapper {
            float: left;
            width: span(10);
        }
    }

    &-buttons {
        float: right;
        width: span(2);
    }

    &-preview {
        background-color: $white;
        border: $border-thin-smoke;
        box-shadow: 0 0 20px 0 rgba($black, .2);
        padding: 25px;
        position: fixed;
        z-index: 9999;

        img {
            max-height: 250px;
            max-width: 400px;
        }
    }
}

.bcms-folder-box {
    &-active {
        .bcms-media-item-info {
            display: none;
        }

        .bcms-media-controls {
            display: block;
        }
    }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//module site settings media manager
.bcms-select-list {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAZCAYAAAGZXkRaAAAAe0lEQVQ4y2M4cODAQyD+z/D/PwQjGJE7390D4v8MIHncav6D1cBEMJTgFoAZC8XHyDGDsADMhVB8AEMFNnc9RHMbfncSdAQ2R91DcxjpjsTlQAocRytjaSSJJwj/D4SxxMTaPXxBjAcfoMzmkehsYHw9xBeXePCxkehsAFIWbewiC0rOAAAAAElFTkSuQmCC') no-repeat center 1px;
    height: 12px;
    margin-right: 10px;
    overflow: hidden;
    text-indent: 9999px;
    width: 16px;
}

.bcms-vertical-separator {
    border-left: 1px solid #c0c0c0;
    display: inline-block;
    height: 34px;
    vertical-align: middle;
}

//module breadcrumbs
.bcms-breadcrumbs-holder {
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    max-width: 600px;
    padding: 5px 0;

    > div {
        @include ellipsis();
    }
}

.bcms-breadcrumbs-root {
    color: #0383df;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    max-width: 575px;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
}

.bcms-breadcrumbs-root:first-child {
    background: url('images/sprite-media-1.png') no-repeat -3px -29px;
    color: #353535;
    padding-left: 21px;
}

.bcms-breadcrumbs-root:first-child:hover {
    color: #0383df;
}

//module no data available in media manger
div.bcms-nomedia-data {
    border-bottom: 1px solid #e3e3e3;
    font-size: 14px;
    height: 62px;
    padding: 0 20px 0 55px;
    position: relative;
}

div.bcms-nomedia-data > a {
    bottom: 10px;
    cursor: pointer;
    left: 55px;
    position: absolute;
}

.bcms-no-data-available {
    line-height: 62px;
}

//module images history
.bcms-media-history-holder {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 10px;
    width: 100%;
}

.bcms-media-history-holder .bcms-messages-type-1 {
    margin: -10px -10px 10px;
}

.bcms-media-history-image-holder img {
    max-width: 100%;
}
