.bcms-croped-block {
    border: $border-thin-blue-dashed;
    max-height: 600px;
    overflow: auto;
    padding: 10px;
    text-align: center;
}

.bcms-media-manager {
    &-form {
        @include clearfix();
        border-bottom: $border-thin-smoke;
        padding-bottom: 40px;
    }

    &-column-left {
        float: left;
        width: span(7);
    }

    &-column-right {
        float: left;
        margin-left: 45px;
        width: span(4);
    }
}

.bcms-media {
    &-editor-container {
        display: table;
        width: 100%;
    }

    &-editor-column {
        @include vertical-align($block: table-cell, $align: bottom);
        padding-left: 10px;
        width: span(4);

        &:first-child {
            padding-left: 0;
        }
    }

    &-restore-size {
        clear: both;
        color: $text-blue;
        cursor: pointer;
        margin-top: 10px;
    }
}

//
//
//
//
//
//
//
//
//
//
//todo
.bcms-alignment-controls > div {
    background: url('images/sprite-media-2.png') no-repeat;
    display: inline-block;
    margin-right: 20px;
    padding-top: 60px;
    text-align: center;
    width: 51px;
}

.bcms-alignment-controls .bcms-align-left {
    background-position: 0 0;
    cursor: pointer;
}

.bcms-alignment-controls .bcms-align-center {
    background-position: -104px 0;
    cursor: pointer;
}

.bcms-alignment-controls .bcms-align-right {
    background-position: -208px 0;
    cursor: pointer;
}

div.bcms-align-left-active {
    background-position: -52px 0;
}

div.bcms-align-center-active {
    background-position: -156px 0;
}

div.bcms-align-right-active {
    background-position: -260px 0;
}

.bcms-media-reupload {
    color: #0383df;
    cursor: pointer;
    float: right;
    font-size: 13px;
    margin-top: 10px;
    padding-left: 18px;
    position: relative;
}

.bcms-media-reupload:after {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAFsus16AAAA6ElEQVQoz2Ngbr7PAMS5DFAGA4g4BSJYQcQFZGEQ7odxOIH4C7IMCB9E5vxH5oCV8QDxUyRBayC+AWKoI6uE4tkwBgfILCB+BsSfgZgRJlEEdcJJqHPAdtwGYnMkY16BJEGMnVjsOA0i+LFIPEPmrITSnUDsCBPcDnUVCJcihwMjVJABPeiUgPgaEP8F4h1AXA/EDUC8G4j/AfElIFaEaaiCKjTD4jgYtoNqLAFxvgNxOx7FMNwHxG9xSTKj8dmA+DEQr2fAIrEByaMgvy2A8iejpwpQiExHCi6QE5KBWBRbKKHjDlx+AQDr4Bggwk5KagAAAABJRU5ErkJggg==") no-repeat center;
    content: "";
    height: 14px;
    left: 0;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 12px;
}
