@import '../../core/variables';

.bcms-uknown-icn {
    background-position: 0 -279px;
}

.bcms-media-click-active .bcms-uknown-icn {
    background-position: -69px -279px;
}

.bcms-file-box:hover .bcms-uknown-icn {
    background-position: -69px -279px;
}

.bcms-file-box-active .bcms-uknown-icn {
    background-position: -69px -279px;
}

.bcms-archive-icn {
    background-position: 0 -224px;
}

.bcms-media-click-active .bcms-archive-icn {
    background-position: -69px -224px;
}

.bcms-file-box:hover .bcms-archive-icn {
    background-position: -69px -224px;
}

.bcms-file-box-active .bcms-archive-icn {
    background-position: -69px -224px;
}

.bcms-video-icn {
    background-position: 0 -168px;
}

.bcms-media-click-active .bcms-video-icn {
    background-position: -69px -168px;
}

.bcms-file-box:hover .bcms-video-icn {
    background-position: -69px -168px;
}

.bcms-file-box-active .bcms-video-icn {
    background-position: -69px -168px;
}

.bcms-audio-icn {
    background-position: 0 -112px;
}

.bcms-media-click-active .bcms-audio-icn {
    background-position: -69px -112px;
}

.bcms-file-box:hover .bcms-audio-icn {
    background-position: -69px -112px;
}

.bcms-file-box-active .bcms-audio-icn {
    background-position: -69px -112px;
}

.bcms-office-icn {
    background-position: 0 -56px;
}

.bcms-media-click-active .bcms-office-icn {
    background-position: -69px -56px;
}

.bcms-file-box:hover .bcms-office-icn {
    background-position: -69px -56px;
}

.bcms-file-box-active .bcms-office-icn {
    background-position: -69px -56px;
}

.bcms-image-icn {
    background-position: 0 0;
}

.bcms-media-click-active .bcms-image-icn {
    background-position: -69px 0;
}

.bcms-file-box:hover .bcms-image-icn {
    background-position: -69px 0;
}

.bcms-file-box-active .bcms-image-icn {
    background-position: -69px 0;
}
