@import '../node_modules/susy/sass/susy',
'bourbon',
'core/assets',
'core/mixins',
'core/colors',
'core/variables';

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url($bcms-OpenSans-Regular) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url($bcms-OpenSans-Semibold) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url($bcms-OpenSans-Bold) format('truetype');
}

//module components
@import 'core/normalize';

//module structure
@import 'structure/layout',
'structure/global';

//module styles
@import 'bcms-modules/root/autocomplete',
'bcms-modules/root/buttons',
'bcms-modules/root/browsersupport',
'bcms-modules/root/controlpanel',
'bcms-modules/root/contentstree',
'bcms-modules/root/formelements',
'bcms-modules/root/messages',
'bcms-modules/root/notifications',
'bcms-modules/root/overlays',
'bcms-modules/root/pager',
'bcms-modules/root/structurepath',
'bcms-modules/root/tables',
'bcms-modules/root/tabs',
'bcms-modules/root/templategrids',
'bcms-modules/root/index',
'bcms-modules/root/tooltips',
'plugins/markitup';

//module plugins
@import 'plugins/markitup',
'plugins/jquerycalendar';

//module text & debug
//@debug
