@import 'core/variables';

%clearfix {
    @include clearfix($extend: false);
}

.clearfix {
    @include clearfix();
}

%reset {
    margin: 0;
    padding: 0;
}

//module components
@import 'components/normalize',
'components/forms',
'components/tables';

//module structure
@import 'structure/layout',
'structure/modules',
'structure/tabs';

//module styles
@import 'bcms-modules/root/buttons',
'bcms-modules/root/calendar',
'bcms-modules/root/controlpanel',
'bcms-modules/root/messages',
'bcms-modules/root/notifications',
'bcms-modules/root/overlays',
'bcms-modules/root/texteditors',
'bcms-modules/root/index';

//todo create ckEditor adjustments SASS files and compile to theme folder
//customization
.cke_button__cmsoption_icon {
    background: url($icon-bcms-toolbar-options) no-repeat center !important;
}

.cke_button__cmsoption_label {
    display: inline !important;
}

//module text & debug
//@debug
