<?xml version="1.0"?>
<cms
      useMinifiedResources="false"
      resourcesBasePath="(local)"
      loginUrl="/?returnUrl={returnUrl}" 
      webSiteUrl="Auto" 
      pageNotFoundUrl="/404/"
      workingDirectoryRootPath="~/App_Data/BetterCms"
      articleUrlPattern="/articles/{0}/"            
      renderContentEndingDiv="true"
      contentEndingDivCssClassName="custom-clearfix" 
      urlMode="TrailingSlash"
      enableMultilanguage="true"
      enableMacros="true"><!-- urlMode Possible values: NoTrailingSlash, TrailingSlash, Mixed -->

  <installation
    Install404ErrorPage="true"
    Install500ErrorPage="true"
    InstallDefaultPage="true">
  </installation>
  
  <!-- ******************** STORAGE *********************** -->
  <!-- serviceType="FileSystem" defines to use server's file system as the uploads storage. -->
  <!-- processTimeout defines how much time file will be marked as processing, while it turns to failed. -->
  <storage serviceType="FileSystem" contentRoot="~/uploads/" contentRootUrl="http://bettercms.sandbox.mvc4.local.net/uploads" processTimeout="00:05:00" />
 
  <!-- ******************** CACHE *********************** -->
  <!-- cacheType="HttpRuntime" is default cache provider. -->
  <cache enabled="false" timeout="00:10:00" cacheType="HttpRuntime" />
  
  <database
     schemaName="dbo"
     connectionStringName="BetterCms"
     databaseType="MsSql2008" >
  </database>

  <!-- If custom role provider is used instead of "BetterCms.Module.Users.Provider.RoleProvider",
       custom roles need to be mapped to BetterCMS permissions. Example:-->
  <security fullAccessRoles="Owner" accessControlEnabled="false">
  </security>

  <moduleGallery
    feedUrl="http://mynugetfeed.com/nuget">
  </moduleGallery>
  
</cms>
