/*Seo & Publishing Status Indicators*/
.bcms-sidemenu-pubstatus {
    margin: 0 auto;
    width: 22px;
    height: 22px;
    background: url('images/sprite-pages.png') no-repeat center -69px;
    padding-top: 15px;
    margin-bottom: 10px;
}

div.bcms-pubstatus-warn {
    background-position: center -4px;
}

.bcms-sidemenu-seostatus {
    margin: 0 auto;
    width: 22px;
    height: 22px;
    background: url('images/sprite-pages.png') no-repeat center -197px;
    padding-top: 15px;
    margin-bottom: 10px;
}

div.bcms-seostatus-warn {
    background-position: center -132px;
}

/*Edit Seo Page*/
div.bcms-editseo-modal {
    width: 665px;
}

.bcms-editseo-window {
    width: 545px;
    padding: 0 30px 0 0;
    min-height: 100%;
}

    .bcms-editseo-window .bcms-editor-field-area {
        width: 100%;
    }

    .bcms-editseo-window .bcms-editor-field-box {
        width: 100%;
    }

div.bcms-first-child-holder {
    padding-top: 20px;
}

    div.bcms-first-child-holder .bcms-tooltip-mark {
        top: 21px;
    }

.bcms-editseo-urlpath {
    font-size: 12px;
    color: #595959;
}

.bcms-edit-urlpath-box {
    position: relative;
    min-width: 503px;
    max-width: 765px;
    z-index: 1;
    padding: 15px 30px 30px 40px;
    margin: -40px 0 15px -20px;
    border: 1px solid #a6a6a6;
    background-color: #f5f5f5;
}

    .bcms-edit-urlpath-box .bcms-tooltip-mark {
        top: 17px;
        left: 20px;
    }

    .bcms-edit-urlpath-box .bcms-editor-field-box {
        background: #fff;
        box-shadow: inset 0 3px 12px rgba(0, 0, 0, 0.10);
    }

    .bcms-edit-urlpath-box .input-validation-error:focus {
        background: #fcecec;
        border: 1px solid #e64343;
        box-shadow: 0 0 2px 0 rgba(230, 67, 67, 0.4);
    }

    .bcms-edit-urlpath-box .input-validation-error {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAF8oY2FAAAAZElEQVQY02N45uw8DYi/MsAZ////Z0AQQKH/YA6QYYcsuhxD5D8QO0LpTOyCIAtAElBJO5ClIEYmskoUW2ACMDdgqsRlZgtU5Rcg9kZS4A0VA8m1MCBJZEAlkHEG3G6iFRJrNQAfBNhPNe12LwAAAABJRU5ErkJggg==') no-repeat 98% center #fcecec;
        border: 1px solid #e64343;
        box-shadow: 0 0 2px 0 rgba(230, 67, 67, 0.4);
    }

a.bcms-edit-btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 14px;
    background: url('images/sprite-pages.png') no-repeat center -364px;
    overflow: hidden;
    text-indent: 9999px;
    text-decoration: none;
    cursor: pointer;
}

.bcms-edit-check-field {
    padding: 10px 0 20px;
}

    .bcms-edit-check-field input[type="checkbox"] {
        margin: 0 5px 0 0;
        vertical-align: middle;
    }

.bcms-edit-label {
    display: inline-block;
    vertical-align: middle;
}

/*Add New Content Tabbed Page*/

/*1st tab*/
.bcms-newcontent-top {
    height: 80px;
}

    .bcms-newcontent-top .bcms-input-field-holder {
        float: left;
        margin-left: 20px;
    }

        .bcms-newcontent-top .bcms-input-field-holder:first-child {
            margin-left: 0;
        }

.bcms-text-editor-holder {
    width: 817px;
}

/*2nd tab*/
.bcms-advanced-content-top {
    padding: 10px 0 15px 20px;
    max-width: 800px;
}

.bcms-search-block {
    float: right;
}

    .bcms-search-block > .bcms-editor-field-box {
        width: 287px;
        margin-right: -4px;
        border-right: 0;
    }

        .bcms-search-block > .bcms-editor-field-box:focus {
            border-right: 0;
        }

.bcms-content-sliders {
    max-width: 820px;
}

.bcms-slider-box {
    position: relative;
    padding: 20px;
}

.bcms-slides-container {
    width: 750px;
    height: 265px;
    margin: 0 auto;
}

    .bcms-slides-container .bcms-slides-single-slide {
        width: 750px;
        height: 265px;
    }

a.bcms-slider-prev, a.bcms-slider-next {
    position: absolute;
    height: 26px;
    width: 14px;
    top: 50%;
    margin-top: -13px;
    background-image: url('images/sprite-pages.png');
    background-repeat: no-repeat;
    text-indent: -99999px;
}

a.bcms-slider-prev {
    background-position: -4px -422px;
}

    a.bcms-slider-prev:active {
        background-position: -4px -487px;
    }

a.bcms-slider-next {
    right: 20px;
    background-position: -4px -388px;
}

    a.bcms-slider-next:active {
        background-position: -4px -454px;
    }

.bcms-slides-single-slide .bcms-preview-block {
    margin: 0 16px 0 22px;
}

.bcms-title-holder .bcms-content-titles {
    position: absolute;
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
}

.bcms-controls-holder .bcms-icn-delete {
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -10px;
}

.bcms-category-titles {
    padding: 10px 20px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

/*Edit Page Properties Tabbed Page*/
.bcms-featured-image-block {
}

.bcms-featured-image-holder {
    display: inline-block;
    vertical-align: bottom;
    width: 320px;
    height: 220px;
    border: 10px solid #fff;
    box-shadow: 0 0 1px 1px #a6a6a6;
    background: url('images/bcms-no-image.png') no-repeat center center #f5f5f5;
    overflow: hidden;
}

.bcms-featured-info-holder {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 20px;
}

    .bcms-featured-info-holder .bcms-btn-small {
        margin-top: 4px;
    }

.bcms-tags-box-holder {
    padding: 25px 0 0 40px;
    margin-left: -40px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

    .bcms-tags-box-holder .bcms-content-titles:hover {
        color: #0383df;
        cursor: pointer;
    }

    .bcms-tags-box-holder .bcms-content-titles {
        display: inline-block;
        vertical-align: top;
    }

/*Add new page*/
.bcms-addpage-title {
    position: relative;
}

    .bcms-addpage-title .bcms-tooltip-mark {
        top: 1px;
        left: -20px;
    }

/*new page placement*/
/*left-sidebar*/
.bcms-sidebar-info-block {
    position: absolute;
    left: 20px;
    top: 70px;
    width: 193px;
}

    .bcms-sidebar-info-block > .bcms-content-titles {
        margin-bottom: 5px;
        line-height: 18px;
    }

    .bcms-sidebar-info-block .bcms-btn-main {
        margin-top: 10px;
    }

.bcms-sitemap-title-link {
    margin-left: 20px;
    cursor: pointer;
    color: #0383df;
    font-size: 12px;
    font-weight: 600;
}

.bcms-dropable-page-box {
    position: relative;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    background-color: #fff;
    cursor: move;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

    .bcms-dropable-page-box:hover {
        border: 1px dashed #a4a4a4;
    }

    .bcms-dropable-page-box:active {
        opacity: 0.8;
    }

    .bcms-dropable-page-box .bcms-content-titles {
        padding-bottom: 5px;
    }

    .bcms-dropable-page-box .bcms-dropable-text {
        padding-bottom: 20px;
    }
/*right content*/
.bcms-placement-holder {
    display: block;
    padding: 20px;
    border-top: 1px solid #c6c6c6;
    overflow: hidden;
}

.bcms-placement-holder-inner {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAFoTx1HAAAAcUlEQVQoz5WSQQ4AIQgDebkJD5u3dS+rUSIse+il2AJFAwSYAQ7IAJuMJqOXXW8tEoo6A8YyOawP+40ct2LEOGy2MZTZlj3LojoDlUXPpvWY5IRXPa2DjlB73JVwJEmrey91buk/RGly2afwuOMX/MY/hgwMYjRiMmsAAAAASUVORK5CYII=') no-repeat 0 0;
}

.bcms-placement-node {
    position: relative;
    height: 30px;
    padding: 8px 15px;
    margin-bottom: 15px;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    background-color: #f5f5f5;
    cursor: move;
}

    .bcms-placement-node:hover {
        border: 1px dashed #bdbdbd;
    }

        .bcms-placement-node:hover .bcms-node-controls {
            display: block;
        }

    .bcms-placement-node .bcms-placement-title {
        max-width: 450px;
        line-height: 16px;
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bcms-placement-node .bcms-placement-path {
        max-width: 350px;
        line-height: 16px;
        font-size: 11px;
        color: #1187d2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
/*TESTING*/
div.bcms-drag-node { /*THIS CLASS NEEDED FOR DRAGING NODES STYLE*/
    border: 2px dashed #bdbdbd;
    background-color: #effcfe;
}

div.ui-sortable-helper { /*THIS CLASS NEEDED FOR DRAGING NODES STYLE*/
    border: 2px dashed #bdbdbd;
    background-color: #effcfe;
}

.ui-sortable-helper:hover > div.bcms-node-controls {
    display: none;
}
/*END OF TESTING*/

.bcms-placement-dropzone {
    height: 46px;
    margin-bottom: 15px;
    line-height: 46px;
    border: 2px dashed #bdbdbd;
    border-radius: 2px;
    background: #fff;
}

/*editable node*/
.bcms-edit-node {
    display: none;
}

.bcms-edit-node-holder {
    position: relative;
    padding-bottom: 5px;
}

    .bcms-edit-node-holder .bcms-tooltip-mark {
        top: 1px;
        left: -20px;
    }

.bcms-placement-node-edit {
    height: 67px;
    padding-left: 30px;
}

    .bcms-placement-node-edit:hover div.bcms-node-controls {
        display: none;
    }

    .bcms-placement-node-edit .bcms-node-info {
        display: none;
    }

    .bcms-placement-node-edit .bcms-edit-node {
        display: block;
    }


.bcms-node-controls {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 5px 10px;
    box-sizing: border-box;
}

    .bcms-node-controls .bcms-icn-edit {
        margin-right: 5px;
        background-position: center -869px;
    }
/*create menus*/
.bcms-menu-settings {
    padding: 0 20px 0 40px;
}

/* Site settings page */
/*sidebar*/
hr.bcms-settings-separator {
    padding: 0;
    margin: 0;
    border-style: solid none solid none;
    border-width: 1px;
    border-color: #c0c0c0 #fff #fff;
}

.bcms-sidebar-link {
    display: block;
    line-height: 20px;
    padding: 5px 0 5px 20px;
    color: #010101;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

    .bcms-sidebar-link:hover {
        color: #0097f8;
    }

.bcms-sidebar-link-active {
    color: #0097f8;
}

/*content*/
.bcms-top-block-holder {
    padding: 0 20px 20px 30px;
    height: 35px;
}

    .bcms-top-block-holder .bcms-large-titles {
        float: left;
        padding-top: 5px;
    }

.bcms-thumbnails-preview {
    display: inline-block;
}

    .bcms-thumbnails-preview .bcms-preview-box {
        float: left;
        margin-left: 33px;
    }

.bcms-preview-module-image {
    float: left;
    width: 521px;
    min-height: 350px;
    border: 1px solid #c6c6c6;
    background: url('images/bcms-no-image.png') no-repeat center center #f5f5f5;
    overflow: hidden;
}

    .bcms-preview-module-image img {
        display: block;
        width: 100%;
    }

/* sitemap page "add new node"*/
.bcms-sitemap-links-header {
    padding: 25px 20px 0;
}

    .bcms-sitemap-links-header > .bcms-content-titles {
        cursor: pointer;
    }

.bcms-add-custom-link {
    position: relative;
    padding: 2px 15px 15px;
    margin: 10px 0;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    background-color: #fff;
    cursor: move;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    .bcms-add-custom-link:hover {
        border: 1px dashed #a4a4a4;
    }

    .bcms-add-custom-link .bcms-content-titles {
        padding: 10px 0 5px;
    }

.bcms-sitemap-links-holder {
    padding: 10px 20px;
}

    .bcms-sitemap-links-holder > .bcms-content-titles {
        cursor: pointer;
    }

    .bcms-sitemap-links-holder .bcms-placement-node {
        margin-bottom: 5px;
    }

    .bcms-sitemap-links-holder .bcms-placement-dropzone {
        margin-bottom: 5px;
    }

.bcms-sidebar-search {
    padding-bottom: 15px;
}

    .bcms-sidebar-search .bcms-editor-field-box {
        background-color: #fff;
    }

    .bcms-sidebar-search .bcms-btn-search {
        margin-left: -5px;
    }

.bcms-addnode-placement-holder {
    min-height: 52px;
    display: block;
    padding: 0 20px 4px;
    overflow: hidden;
}

.bcms-sitemap-holder {
    padding-top: 20px;
}

.bcms-sitemap-links-block .bcms-placement-node {
    width: 195px;
}

.bcms-drop-area {
    min-height: 65px;
    padding-top: 20px;
    margin: 0 20px 20px;
    border: 2px dashed #0097f8;
    border-radius: 4px;
}

/*history page*/
.bcms-history-preview-holder {
    position: relative;
    height: 100%;
    padding-bottom: 251px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.bcms-history-preview {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.bcms-history-info {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -139px;
    line-height: 1.5em;
    color: #0097f8;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}

.bcms-history-content {
    padding: 20px;
}

.bcms-history-table-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.bcms-history-table-top {
    padding: 10px 15px;
    background-color: #e3e3e3;
    border-top: 4px solid #7a7a7a;
}

    .bcms-history-table-top .bcms-large-titles {
        display: inline-block;
        padding: 5px;
    }

td.bcms-history-table {
    padding: 0;
}

.bcms-scroll-tbody {
    height: 160px;
    overflow-y: auto;
}

    .bcms-scroll-tbody .bcms-tables td:first-child {
        width: 49px;
        vertical-align: middle;
    }

    .bcms-scroll-tbody tr:hover a.bcms-icn-preview {
        background-position: -60px -133px;
    }

        .bcms-scroll-tbody tr:hover a.bcms-icn-preview:active {
            background-position: -60px -159px;
        }

.bcms-published-state {
    color: #0097f8;
}

.bcms-draft-state {
    color: #e64343;
}

.bcms-archived-state {
    color: #20cd00;
}



/*
transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-webkit-transition: all 0.2s ease-out;
*/

























