<div class="bcms-scroll-window">
    <div class="bcms-insert-content-modal">
        @Html.Partial("../MediaManager/Partial/MediaManagerTab")
    </div>
</div>

@Html.Partial("../MediaManager/Partial/MediaManagerTemplate")
