@using BetterCms.Module.Root.Mvc.Helpers
@model BetterCms.Module.MediaManager.ViewModels.MediaManager.MediaViewModel

<script type="text/html" id="bcms-media-list-window-template">
    @Html.MessagesBox(null, new Dictionary<string, string> { { "data-bind", "attr: { id: domId() }" } })

    <div class="bcms-window-settings">
        @Html.Partial("Partial/MediaManagerInnerContentTemplate")
    </div>
</script>