<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.5" targetFramework="net40" />
  <package id="BetterModules.Core" version="1.0.0-rc9" targetFramework="net45" />
  <package id="BetterModules.Core.Web" version="1.0.0-rc9" targetFramework="net45" />
  <package id="blogml" version="2.2.0" targetFramework="net40" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="Common.Logging.NLog" version="2.0.0" requireReinstallation="True" />
  <package id="FluentMigrator" version="1.0.6.0" targetFramework="net40" />
  <package id="FluentMigrator.Tools" version="1.0.6.0" targetFramework="net40" />
  <package id="FluentNHibernate" version="1.3.0.733" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" requireReinstallation="True" />
  <package id="Iesi.Collections" version="3.3.1.4000" targetFramework="net40" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net40" />
  <package id="MicrosoftWebMvc" version="2.0" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" requireReinstallation="True" />
  <package id="Mvc3Futures" version="3.0.20105.0" targetFramework="net40" />
  <package id="MvcContrib" version="2.0.95.0" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="NHibernate.Logging" version="1.3.3" targetFramework="net40" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="2.0.4.1" targetFramework="net40" />
</packages>