@using BetterCms.Module.Pages
@using BetterCms.Module.Pages.Controllers
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.Option
@using BetterCms.Module.Root.ViewModels.Shared
@using Microsoft.Web.Mvc

@model ContentOptionValuesViewModel
           
<div class="bcms-scroll-window">
    
    @Html.TabbedContentMessagesBox()

    <div class="bcms-input-list-holder">
        @using (Html.BeginForm<ContentController>(c => c.PageContentOptions((ContentOptionValuesViewModel)null), FormMethod.Post, new
            {
                @id = "bcms-options-form",
                @class = "bcms-ajax-form",
                data_readonly = Model.IsReadOnly.ToString().ToLower()
            }))
        {              
            @Html.Partial(PagesConstants.OptionValuesGridTemplate)

            @Html.HiddenFor(model => model.OptionValuesContainerId)
        }
    </div>
</div>
