@using BetterCms.Module.Root.Content.Resources
@model BetterCms.Module.Root.Models.Authentication.InfoViewModel

<div class="bcms-user-profile" id="bcms-user-profile" data-url="@Model.EditUserProfileUrl">@Html.Encode(Model.UserName)</div>