@using BetterCms.Module.Blog.Content.Resources

<div class="bcms-innertab-header">
    <a class="bcms-tab bcms-tab-active" href="#bcms-tab-1">@BlogGlobalization.SiteSettings_Blogs_PostsTab_Title</a>
    <a class="bcms-tab" href="#bcms-tab-2">@BlogGlobalization.SiteSettings_Blogs_AuthorsTab_Title</a>
    <a class="bcms-tab" href="#bcms-tab-3">@BlogGlobalization.SiteSettings_Blogs_TemplatesTab_Title</a>
</div>
<div id="bcms-tab-1" class="bcms-tab-single">
    @Html.Partial("Partial/BlogsList")
</div>
<div id="bcms-tab-2" class="bcms-tab-single">
</div>
<div id="bcms-tab-3" class="bcms-tab-single">
</div>