@model BetterCms.Module.MediaManager.ViewModels.MediaManager.MediaFolderViewModel
<div class="bcms-media-folder-box">
    <div class="bcms-media-items-block">
        <div class="bcms-system-folder"> </div>
        <div class="bcms-system-folder-name" data-id="@Model.Id">@Html.Encode(Model.Name)</div>
    </div>
    @Html.Partial("MediaControl", Model)
</div>