@model BetterCms.Module.MediaManager.ViewModels.MediaManager.MediaImageViewModel
           
<div class="bcms-media-file-box">
    <div class="bcms-media-items-block">
        <div class="bcms-media-file-holder">
            <img src="@Html.Encode(Model.PreviewUrl)" alt="@Html.Encode(Model.Tooltip)">
        </div>
        <div class="bcms-system-folder-name">@Html.Encode(Model.Name)</div>
    </div>
    @Html.Partial("MediaControl", Model)
</div>