@using BetterCms.Module.MediaManager.Content.Resources
<div class="bcms-list-style">
    <div class="bcms-add-media-folder">
        <div class="bcms-media-items-block">
            <div class="bcms-system-addfolder"> </div>
            <div class="bcms-system-folder-name" id="bcms-add-new-folder">@MediaGlobalization.ImagesTab_AddNewFolder</div>
        </div>
    </div>
</div>