@model BetterCms.Module.Root.Models.Sidebar.SidebarContainerViewModel
<div id="bcms-sidemenu" class="bcms-sidemenu bcms-layer" style="display: none">
    @Html.Partial("Side", Model.SideProjections)
    @Html.Partial("Header", Model.HeaderProjections)
    @Html.Partial("Body", Model.BodyProjections)
    @Html.Partial("Footer", Model.Version)
</div>
