@using BetterCms.Core.Modules.Projections
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@model BetterCms.Module.Root.ViewModels.PageProjectionsViewModel

<div class="bcms-sidemenu-handle" id="bcms-sidemenu-handle">
    <div class="bcms-sidemenu-toggler" id="bcms-sidemenu-hide" title="@RootGlobalization.Sidebar_OpenShowTitle">
        <div class="bcms-sidemenu-openclosearrow">@RootGlobalization.Sidebar_Hide</div>
    </div>
    <div class="bcms-sidemenu-status">
        <div class="bcms-sidemenu-switch" id="bcms-sidemenu-switch" title="@RootGlobalization.Sidebar_EditOnOffTitle">
            <div class="bcms-sidemenu-on">On</div>
            <div class="bcms-sidemenu-off">Off</div>
        </div>
        @foreach (var projection in Model.Projections)
        {
            var renderSeparator = true;
            var htmlProjection = projection as HtmlElementProjection;
            if (htmlProjection != null && htmlProjection.ShouldBeRendered != null)
            {
                renderSeparator = htmlProjection.ShouldBeRendered.Invoke(Model.Page);
            }
            if (renderSeparator)
            {
                <div class="bcms-sidemenu-separator">&nbsp;</div>
            }
            projection.Render(Model.Page, (ViewContext.Controller as CmsControllerBase).SecurityService, Html);
        }
    </div>
    <div class="bcms-sidemenu-drag-handle" id="bcms-sidemenu-draghandle" title="@RootGlobalization.Sidebar_DragTitle">&nbsp;</div>
</div>