<?xml version="1.0"?>
<cms
      useMinifiedResources="false"
      resourcesBasePath="(local)"
      loginUrl="/?returnUrl={returnUrl}" 
      webSiteUrl="Auto" 
      pageNotFoundUrl="/404/"
      workingDirectoryRootPath="~/App_Data/BetterCms"
      articleUrlPattern="/articles/{0}/"
      renderContentEndingDiv="true"
      contentEndingDivCssClassName="custom-clearfix" 
      urlMode="TrailingSlash"
      enableMultilanguage="true"
      enableMacros="true"><!-- urlMode Possible values: NoTrailingSlash, TrailingSlash, Mixed -->

  <modules>
    <module name="google_analytics">
      <add key="LinkType" value="alternate"/>
      <add key="SitemapUrl" value="sitemap.xml"/>
      <add key="ChangeFrequency" value="weekly"/>
      <add key="Priority" value="0.5"/>
      <add key="SitemapTitle" value="Default Site Map"/>
      <add key="DateTimeFormat" value="yyyy-MM-dd"/>
      <add key="AnalyticsKey" value="UA-37459367-3"/>
    </module>
    <module name="pages">
      <add key="enableAddNewPageToSitemapAction" value="true"/>
      <add key="enableAddNewTranslationPageToSitemapAction" value="false"/>
      <add key="enableAddClonedPageToSitemapAction" value="false"/>
    </module>
  </modules>
  
  <urlPatterns>
    <add expression="\/(bin|app_code|app_globalresources|app_localresources|app_data|app_browsers|theme)\/" ignoreCase="true" negate="true" description="{0} cannot contain these as directories: bin, App_Code, App_GlobalResources, App_Localresources, App_Data, App_Browsers, Theme" />
  </urlPatterns>

  <installation
    Install404ErrorPage="true"
    Install500ErrorPage="true"
    InstallDefaultPage="true">
  </installation>
    
  <!-- ******************** STORAGE *********************** -->
  <!-- serviceType="FileSystem" defines to use server's file system as the uploads storage. -->
  <!-- processTimeout defines how much time file will be marked as processing, while it turns to failed. -->
  <storage serviceType="FileSystem" contentRoot="~/uploads/" contentRootUrl="http://bettercms.sandbox.mvc4.local.net/uploads" processTimeout="00:05:00" />
   
  <!-- ******************** CACHE *********************** -->
  <!-- cacheType="HttpRuntime" is default cache provider. -->
  <cache enabled="false" timeout="00:10:00" cacheType="HttpRuntime" />
  
  <!-- Remove the connectionProvider property and change connectionStringName to a 'BetterCmsApiTestOriginalData' to handle an original tests data.-->
  <database
     schemaName="dbo"
     connectionStringName="BetterCmsApiTest"
     connectionProvider="BetterCms.Api.Tests.Tools.LiquidConnectionProvider, BetterCms.Api.Tests"
     databaseType="MsSql2008" >
  </database>
  
<!--  <database-->
<!--     schemaName="dbo"-->
<!--     connectionStringName="BetterCmsApiTestOriginalData"-->
<!--     databaseType="MsSql2008" >-->
<!--  </database>-->

  <!--<database
     schemaName="dbo"
     connectionStringName="BetterCmsWeb"
     databaseType="MsSql2008" >
  </database>-->

  <search>
    <add key="LuceneWebSiteUrl" value="http://localhost:55558" />
    <add key="LuceneFileSystemDirectory" value="Lucene.BetterCms.Api.Tests" />
    <add key="LuceneIndexerPageFetchTimeout" value="00:01:00" />
    <add key="LucenePagesWatcherFrequency" value="00:05:00" />
    <add key="LuceneMaxPagesPerQuery" value="1000" />
    <add key="LucenePageExpireTimeout" value="00:01:00" />
    <add key="LuceneDisableStopWords" value="true" />
  </search>

  <security
              accessControlEnabled="true"
              fullAccessRoles="Owner"
              encryptionEnabled="false"
              encryptionKey="bettercmstest">
    <defaultAccessRules defaultAccessLevel="ReadWrite">
      <add identity="Everyone" accessLevel="Read" isRole="true" />
      <add identity="Authenticated Users" accessLevel="ReadWrite" isRole="true" />
    </defaultAccessRules>
  </security>

  <moduleGallery
    feedUrl="http://mynugetfeed.com/nuget">
  </moduleGallery>
  
</cms>
