<?xml version="1.0"?>

<connectionStrings>
    <!-- A connection string to handle original data for tests.-->
    <add name="BetterCmsApiTestOriginalData" connectionString="Data Source=(LocalDb)\v11.0; Initial Catalog=BetterCmsTestsDataSet; Integrated Security=SSPI; AttachDBFilename=|DataDirectory|\BetterCmsTestsDataSet.mdf" providerName="System.Data.SqlClient" />
    <add name="BetterCmsApiTest" connectionString="Data Source=(LocalDb)\v11.0; Initial Catalog=AddedDynamicallyOnApplicationStart; Integrated Security=SSPI; AttachDBFilename=|DataDirectory|\Temp\AddedDynamicallyOnApplicationStart.mdf" providerName="System.Data.SqlClient" />
    <add name="BetterCmsWeb" connectionString="Server=(local);Database=BetterCms;Integrated Security=SSPI;" />
</connectionStrings>
