html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

h1 {
  color: #282a2e;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0 0 20px;
}

h2 {
  color: #282a2e;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 20px;
}

h3 {
  color: #282a2e;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 10px 0 20px;
}

h4 {
  color: #282a2e;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5em;
  margin: 10px 0 20px;
}

hgroup h1 {
  color: #38393c;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

hgroup h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}

p {
  margin: 0;
  padding: 20px 0;
}

a {
  color: #2eadd5;
  text-decoration: none;
  transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in;
}

a:hover {
  text-decoration: underline;
}

time {
  color: #b5b5b5;
  font-size: 12px;
}

label {
  color: #282a2e;
  display: block;
  font-family: 'Opan Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

img {
  border: 0;
  display: block;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"].btn-secondary, input[type="submit"].btn-primary {
  height: 50px;
}

.page {
  background-color: #fff;
  color: #6d7076;
  margin: 0 0 -55px 0;
  min-height: 100%;
  min-width: 940px;
}

.page-header {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAFRlDm/AAAAHUlEQVQI12P4//8/AxRDqQcPHjAAMUIQyoFQEAAA0/UuXeg1e3EAAAAASUVORK5CYII=") repeat 0 0;
  border-bottom: 1px solid #ececec;
  height: 115px;
}

.page-block {
  margin: 0 auto;
  padding: 70px 0 55px;
  position: relative;
  width: 940px;
}

.page-frame {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 940px;
}

.page-footer {
  border-top: 1px solid #ececec;
  height: 49px;
  margin: 0 auto;
  width: 940px;
}

.two-col-left {
  float: left;
  width: 700px;
}

.three-col-left {
  float: left;
  margin-right: 20px;
  min-height: 1px;
  width: 460px;
}

.three-col-middle {
  float: left;
  margin-right: 20px;
  width: 220px;
}

.three-col-middle h2 {
  font-weight: 700;
  margin: 5px 0;
}

.three-col-middle p {
  word-wrap: break-word;
}

.col-right {
  float: right;
  width: 220px;
}

.col-right p {
  word-wrap: break-word;
}

.submenu {
  background: #33b2da;
  border: 1px solid #24a2c9;
}

.submenu a {
  border-top: 1px solid #24a2c9;
  color: #fff;
  display: block;
  font-family: 'Opan Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
  padding: 0 19px;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
}

.submenu a:first-child {
  border-top: none;
}

.submenu a:hover, .submenu .submenu-active {
  background: #fff;
  border-left: 1px solid #c6dae1;
  border-right: 1px solid #c6dae1;
  color: #38393c;
  margin: 0 -1px;
  text-decoration: none;
}

.side-box {
  border: 1px solid #e1e1e1;
  margin-top: 30px;
  padding: 12px 18px;
}

a.bcms-logo {
  float: left;
  margin-top: 30px;
}

.page-navigation {
  bottom: 0;
  position: absolute;
  right: 0;
}

.page-navigation a {
  color: #282a2e;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  height: 43px;
  padding: 0 15px;
  position: relative;
  text-align: center;
  transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in;
}

.page-navigation a:hover {
  color: #2eadd5;
  text-decoration: none;
}

.page-navigation a:last-child {
  padding-right: 0;
}

.page-navigation a.active {
  color: #2eadd5;
}

.page-navigation a.active > .active-border {
  visibility: visible;
}

.active-border {
  background-color: #fff;
  border-color: #ececec;
  border-style: solid solid none solid;
  border-width: 1px;
  bottom: -1px;
  display: block;
  left: 0;
  padding: 4px 4px 0;
  position: absolute;
  right: 0;
  visibility: hidden;
}

.active-border span {
  background-color: #2dacd4;
  display: block;
  height: 5px;
}

.copyright {
  color: #afafaf;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding-top: 9px;
}

.btn-primary {
  background: #2eadd5;
  background: -webkit-linear-gradient(top, #39b7df 0, #2eadd5 100%);
  background: linear-gradient(to bottom, #39b7df 0, #2eadd5 100%);
  border: 1px solid #24a2c9;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  padding: 0 46px;
  text-shadow: 0 -1px 1px #19a2cd;
  vertical-align: middle;
}

.btn-primary:hover {
  background: #2caad1;
  box-shadow: inset 0 0 5px 0 rgba(21, 142, 180, 0.75);
  text-decoration: none;
}

.btn-primary:active {
  background: #23a1c8;
  box-shadow: inset 0 0 9px 0 #0f84a9;
  text-decoration: none;
}

.btn-secondary {
  background: #eeeeee;
  background: -webkit-linear-gradient(top, #f8f8f8 0, #eeeeee 100%);
  background: linear-gradient(to bottom, #f8f8f8 0, #eeeeee 100%);
  border: 1px solid #cbd8dc;
  color: #4eaac7;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  padding: 0 46px;
  text-shadow: 0 1px 1px #fff;
  vertical-align: middle;
}

.btn-secondary:hover {
  background: #f8f8f8;
  text-decoration: none;
}

.btn-secondary:active {
  background: #f3f6f7;
  box-shadow: inset 0 0 5px 0 rgba(167, 195, 205, 0.75);
  text-decoration: none;
}

a.action-arrow {
  background: url("images/icn-btn-arrow.png") no-repeat right center #2eadd5;
  background: url("images/icn-btn-arrow.png") no-repeat right center, -webkit-linear-gradient(top, #39b7df 0, #2eadd5 100%);
  background: url("images/icn-btn-arrow.png") no-repeat right center, linear-gradient(to bottom, #39b7df 0, #2eadd5 100%);
  margin-left: 24px;
  position: relative;
  z-index: 1;
}

a.action-arrow:hover {
  background: url("images/icn-btn-arrow.png") no-repeat right center #2caad1;
}

a.action-arrow:active {
  background: url("images/icn-btn-arrow.png") no-repeat right center #23a1c8;
}

.field-holder {
  padding-bottom: 15px;
}

.text-field {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 28px;
  margin: 0;
  padding: 3px 5px;
  width: 100%;
}

.text-field:focus {
  border-color: #2EADD5;
  box-shadow: 0 0 2px 0 rgba(21, 142, 180, 0.75);
  outline: none;
}

.text-area {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 138px;
  margin: 0;
  padding: 5px;
  resize: none;
  width: 100%;
}

.text-area:focus {
  border-color: #2EADD5;
  box-shadow: 0 0 2px 0 rgba(21, 142, 180, 0.75);
  outline: none;
}
