.bcms-clearfix:after {
  content: '';
  display: table;
  clear: both;
}

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

h1 {
  color: #282a2e;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0 0 20px;
}

h2 {
  color: #282a2e;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 20px;
}

h3 {
  color: #282a2e;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 10px 0 20px;
}

h4 {
  color: #282a2e;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5em;
  margin: 10px 0 20px;
}

div > h1 {
  color: #38393c;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

div > h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}

p {
  margin: 0;
  padding: 20px 0;
}

a {
  color: #2eadd5;
  transition: color 0.1s ease-in;
}

time {
  color: #b5b5b5;
  font-size: 12px;
}

label {
  color: #282a2e;
  display: block;
  font-family: 'Opan Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

img {
  border: 0;
  display: block;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.page {
  background-color: #fff;
  color: #6d7076;
  margin: 0 0 -55px 0;
  min-height: 100%;
  min-width: 940px;
}

.page-header {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAFRlDm/AAAAHUlEQVQI12P4//8/AxRDqQcPHjAAMUIQyoFQEAAA0/UuXeg1e3EAAAAASUVORK5CYII=") repeat 0 0;
  border-bottom: 1px solid #ececec;
  height: 115px;
}

.page-block {
  margin: 0 auto;
  padding: 70px 0 55px;
  position: relative;
  width: 940px;
}

.page-frame {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 940px;
}

.page-footer {
  border-top: 1px solid #ececec;
  height: 49px;
  margin: 0 auto;
  width: 940px;
}

a.bcms-logo {
  float: left;
  margin-top: 30px;
}

.copyright {
  color: #afafaf;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding-top: 9px;
}
