@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.ViewModels.Sitemap
@model SitemapViewModel

<div class="bcms-sitemap-filter-holder" data-bind="with: sitemap">
    <div class="bcms-language-bar" style="display: none;" data-bind="visible: showLanguages, with: language">
        <div class="bcms-filter-text bcms-table-middle-box">Edit sitemap in language:</div>
        <div class="bcms-table-middle-box">
            <select class="bcms-global-select" data-bind="options: languages, optionsText: 'value', optionsValue: 'key', value: languageId"></select>
        </div>
    </div>

    <div class="bcms-expand-link-holder" @* data-bind="droppable: 'emptyListZone'" TODO: check later. NOTE: jQuery error is raised on leave over. *@>
        <div class="bcms-expand-link" data-bind="click: expandAll">@NavigationGlobalization.Sitemap_Button_ExpandAll</div>
        <div class="bcms-expand-link" data-bind="click: collapseAll">@NavigationGlobalization.Sitemap_Button_CollapseAll</div>
    </div>
</div>

<div class="bcms-sitemap-holder">
    @Html.Partial("Partial/Sitemap", new SitemapNodeViewModel())
</div>
@Html.Partial("Partial/SitemapTemplate", new SitemapNodeViewModel())