<html>
    <head>
        <title>Devbridge.Platform.Mvc5.Sandbox</title>
    </head>
    <body>
        <h1>Hello World From Sandbox!</h1>

        Routes to test:
        <p>
            <a href="/module-dbwebsample/SampleWeb/Index" target="_blank">Sample Web Module Controller: Hello World from content</a>
        </p>
        <p>
            <a href="/module-dbwebsample/SampleWeb/Test" target="_blank">Sample Web Module Controller: Hello World from precompiled view</a>
        </p>
        <p>
            <a href="/module-dbwebsample/SampleWeb/ModulesList" target="_blank">Sample Web Module Controller: The list of modules</a>
        </p>
    </body>
</html>