.autocomplete {
    &-suggestions {
        background-color: $white;
        border: $border-thin-smoke;
        box-sizing: border-box;
        font-size: 12px;
        margin-top: -1px;
        overflow: auto;
    }

    &-suggestion {
        color: $text-dark;
        cursor: pointer;
        font-weight: 400;
        padding: 4px 7px 3px;

        &:hover {
            color: $text-blue;
        }
    }

    &-selected {
        background-color: $sky-blue;
    }
}
