%btn-extender {
    @include vertical-align();
    @include transition(background-color 200ms);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: $font-base-family;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}

%btn-links-extender {
    color: $blue-main;
    margin: 0 20px 0 0;

    &:hover {
        color: darken($blue-main, 10%);
    }
}

.bcms-btn {
    &-main {
        @extend %btn-extender;
        background-color: $blue-main;
        color: $white;
        font-size: 15px;
        line-height: $form-element-height;
        padding: 0 20px;

        &:hover {
            background-color: darken($blue-main, 10%);
        }
    }

    &-small {
        @extend %btn-extender;
        background-color: $blue-main;
        color: $white;
        font-size: 12px;
        line-height: 30px;
        padding: 0 10px;

        &.bcms-btn-gray {
            background-color: $gray-l45;
        }
    }

    &-grid {
        @extend %btn-extender;
        background-color: $gray-l45;
        color: $white;
        font-size: 14px;
        font-weight: 600;
        line-height: 36px;
        padding: 0 15px;
    }

    &-links-main {
        @extend %btn-extender;
        @extend %btn-links-extender;
        font-size: 12px;
        line-height: $form-element-height;
    }

    &-links-small {
        @extend %btn-extender;
        @extend %btn-links-extender;
        font-size: 12px;
        line-height: 30px;
    }

    &-search {
        @include vertical-align();
        @include size(37px);
        background: url($bcms-search) no-repeat center;
        cursor: pointer;
        overflow: hidden;
        text-indent: -999em;
    }

    &-close {
        @include close-button($icon: $bcms-close, $position: 15px 15px null null);
    }
}

//todo need to update
//.bcms-btn-plus {
//    background: url('images/sprite-base-2.png') no-repeat -44px -179px;
//    cursor: pointer;
//    display: inline-block;
//    line-height: 16px;
//    margin-left: 5px;
//    vertical-align: middle;
//    width: 16px;
//}
//
//div.bcms-btn-plus-expand {
//    background-position: -64px -179px;
//}
