%btn-extender {
    @include vertical-align();
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: $font-base-family;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}

%btn-links-extender {
    color: $blue-main;
    margin: 0 20px 0 0;

    &:hover {
        color: darken($blue-main, 10%);
    }
}

.bcms-btn {
    &-main {
        @extend %btn-extender;
        background-color: $blue-main;
        color: $white;
        font-size: 15px;
        line-height: $form-element-height;
        padding: 0 20px;

        &:hover {
            background-color: darken($blue-main, 10%);
        }
    }

    &-small {
        @extend %btn-extender;
        @include add-gradient($top: $blue-l30, $bottom: $blue-l40);
        color: $white;
        font-size: 12px;
        line-height: 30px;
        padding: 0 10px;

        &.bcms-btn-gray {
            @include add-gradient($top: $gray-l45, $bottom: $gray-l46);
        }
    }

    &-grid {
        @extend %btn-extender;
        @include add-gradient($top: $gray-l50, $bottom: $gray-l60);
        color: $white;
        font-size: 14px;
        font-weight: 600;
        line-height: 36px;
        padding: 0 15px;
    }

    &-links-main {
        @extend %btn-extender;
        @extend %btn-links-extender;
        font-size: 12px;
        line-height: $form-element-height;
    }

    &-links-small {
        @extend %btn-extender;
        @extend %btn-links-extender;
        font-size: 12px;
        line-height: 30px;
    }

    &-search {
        @include position(absolute, 0 0 null null);
        @include size(37px);
        background: url($bcms-search) no-repeat center;
        cursor: pointer;
        overflow: hidden;
        text-indent: -999em;
    }

    &-close {
        @include position(absolute, 10px 10px null null);
        @include size(15px);
        background: url($bcms-close) no-repeat center;
        cursor: pointer;
        overflow: hidden;
        text-decoration: none;
        text-indent: -999em;
    }
}

//todo need to update
.bcms-btn-plus {
    background: url('images/sprite-base-2.png') no-repeat -44px -179px;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    margin-left: 5px;
    vertical-align: middle;
    width: 16px;
}

div.bcms-btn-plus-expand {
    background-position: -64px -179px;
}
