@import '../../core/variables';

//module control panel global
.bcms-sidemenu {
    @include position(fixed, 100px null null -260px);
    @include user-select();
    background-color: $black;
    border-radius: 0 0 4px 0;
    color: $gray-l60;
    font-family: $font-base-family;
    font-size: 12px;
    padding: 5px 5px 0 0;
    width: 255px;
    z-index: 2000;

    &-header {
        background-color: $dark;
        box-sizing: border-box;
        display: inline-block;
        padding: 10px;
        position: relative;
        width: 100%;
    }

    &-body {
        background-color: $dark;
        min-height: 190px;
        overflow: hidden;
        padding: 10px 10px 0;

        > hr {
            border: {
                top: $border-hr-control-top;
                right: 0;
                bottom: $border-hr-control-bottom;
                left: 0;
            }
            margin: 0;
        }
    }

    &-footer {
        height: 20px;
        padding: 10px;
    }

    &-btn {
        background-color: $gray-l50;
        background-image: -webkit-linear-gradient(top, $gray-l50 0, $gray-l60 100%);
        background-image: linear-gradient(to bottom, $gray-l50 0, $gray-l60 100%);
        border-radius: 2px;
        box-shadow: 0 0 1px 1px rgba($black, .2);
        box-sizing: border-box;
        color: $white;
        cursor: pointer;
        font-size: 12px;
        height: 32px;
        line-height: 32px;
        margin: 10px 0;
        overflow: hidden;
        padding: 0 10px;

        &:active {
            background: $gray-l60;
            box-shadow: 0 0 2px 1px rgba($black, .2);
        }
    }
}

.bcms-buttons-block {
    margin-bottom: 10px;

    > .bcms-btn-edit {
        float: left;
    }

    > .bcms-btn-add {
        float: left;
        margin-bottom: 10px;
    }

    > .bcms-btn-clone,
    > .bcms-btn-translate {
        float: right;

    }
}

div.bcms-btn-ok {
    background: url('images/sprite-base-1.png') no-repeat left -265px #676767;
    background: url('images/sprite-base-1.png') no-repeat left -265px, -webkit-linear-gradient(top, #676767 0, #555555 100%);
    background: url('images/sprite-base-1.png') no-repeat left -265px, linear-gradient(to bottom, #676767 0, #555555 100%);
    padding-left: 30px;
}

div.bcms-btn-ok:active {
    background: url('images/sprite-base-1.png') no-repeat left -265px #555;
}

div.bcms-btn-warn {
    background: url('images/sprite-base-1.png') no-repeat left -165px #676767;
    background: url('images/sprite-base-1.png') no-repeat left -165px, -webkit-linear-gradient(top, #676767 0, #555555 100%);
    background: url('images/sprite-base-1.png') no-repeat left -165px, linear-gradient(to bottom, #676767 0, #555555 100%);
    padding-left: 30px;
}

div.bcms-btn-warn:active {
    background: url('images/sprite-base-1.png') no-repeat left -165px #555;
}

div.bcms-btn-add {
    background-color: #1892E4;
    background-image: linear-gradient(to bottom, #1892E4 0, #0C7FC7 100%);
    margin-bottom: 20px;
    padding-right: 35px;
    position: relative;
}

div.bcms-btn-add:active {
    background-color: #0C7FC7;
}

div.bcms-btn-add:after {
    background: url('images/sprite-base-1.png') no-repeat -7px 1px;
    content: "";
    height: 20px;
    margin-top: -10px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 20px;
}

div.bcms-btn-clone {
    background-color: #1892E4;
    background-image: linear-gradient(to bottom, #1892E4 0, #0C7FC7 100%);
    padding-right: 35px;
    position: relative;
}

div.bcms-btn-clone:active {
    background-color: #0C7FC7;
}

div.bcms-btn-clone:after {
    background: url('images/sprite-base-1.png') no-repeat -6px -219px;
    content: "";
    height: 20px;
    margin-top: -10px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 20px;
}

div.bcms-btn-translate {
    background-color: #1892E4;
    background-image: linear-gradient(to bottom, #1892E4 0, #0C7FC7 100%);
    padding-right: 35px;
    position: relative;
}

div.bcms-btn-translate:active {
    background-color: #0C7FC7;
}

div.bcms-btn-translate:after {
    background: url('images/sprite-base-1.png') no-repeat 0 -1183px;
    content: "";
    height: 23px;
    margin-top: -11px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 30px;
}

div.bcms-btn-settings {
    background-color: #8E8E8E;
    background-image: linear-gradient(to bottom, #8E8E8E 0, #787878 100%);
    padding-right: 35px;
    position: relative;
}

div.bcms-btn-settings:active {
    background-color: #787878;
}

div.bcms-btn-settings:after {
    background: url('images/sprite-base-1.png') no-repeat -7px -57px;
    content: "";
    height: 20px;
    margin-top: -10px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 20px;
}

.bcms-btn-delete {
    background-color: #A63333;
    background-image: linear-gradient(to bottom, #A63333 0, #8E2626 100%);
    padding-right: 35px;
    position: relative;
}

.bcms-btn-delete:active {
    background-color: #8E2626;
}

.bcms-btn-delete:after {
    background: url('images/sprite-base-1.png') no-repeat -7px -114px;
    content: "";
    height: 20px;
    margin-top: -10px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 20px;
}

.bcms-btn-plus {
    background: url('images/sprite-base-2.png') no-repeat -44px -179px;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    margin-left: 5px;
    vertical-align: middle;
    width: 16px;
}

div.bcms-btn-plus-expand {
    background-position: -64px -179px;
}

div.bcms-btn-blue {
    background: #1892E4;
    background: -webkit-linear-gradient(top, #1892E4 0, #0C7FC7 100%);
    background: linear-gradient(to bottom, #1892E4 0, #0C7FC7 100%);
}

div.bcms-btn-blue:active {
    background: #0C7FC7;
}

div.bcms-btn-red {
    background: #A63333;
    background: -webkit-linear-gradient(top, #A63333 0, #8E2626 100%);
    background: linear-gradient(to bottom, #A63333 0, #8E2626 100%);
}

div.bcms-btn-red:active {
    background: #8E2626;
}

div.bcms-btn-gray {
    background: #8E8E8E;
    background: -webkit-linear-gradient(top, #8E8E8E 0, #787878 100%);
    background: linear-gradient(to bottom, #8E8E8E 0, #787878 100%);
}

div.bcms-btn-gray:active {
    background: #787878;
}

//module sidebar buttons for blog
div.bcms-btn-blog-add {
    background-color: #1892E4;
    background-image: linear-gradient(to bottom, #1892E4 0, #0C7FC7 100%);
    padding-right: 35px;
    position: relative;
}

div.bcms-btn-blog-add:active {
    background-color: #0C7FC7;
}

div.bcms-btn-blog-add:after {
    background: url('images/sprite-blog.png') no-repeat -7px 1px;
    content: "";
    height: 20px;
    margin-top: -10px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 20px;
}

.bcms-version-number {
    line-height: 21px;
    margin-right: 10px;
}

//module published with draft icon
.bcms-icn-pubdraft {
    background: url('images/sprite-base-2.png') no-repeat -3px -200px;
    height: 17px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 9999px;
    width: 16px;
}

.bcms-sidemenu-position-handle {
    background-color: #515151;
    background-image: url('images/sprite-base-2.png');
    background-position: 105px -70px;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 5px;
    width: 120px;
}

.bcms-sidemenu-position-handle:active {
    box-shadow: inset 0 0 2px #000;
}

.bcms-logout-btn {
    background: #A63333;
    background-image: -webkit-linear-gradient(top, #A63333 0, #8E2626 100%);
    background-image: linear-gradient(to bottom, #A63333 0, #8E2626 100%);
    border-radius: 2px;
    box-shadow: 0 0 2px rgba($black, .3);
    color: #FFF;
    cursor: pointer;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    width: 70px;
}

.bcms-logout-btn:active {
    background: #8E2626;
    box-shadow: none;
}

.bcms-sidemenu-credentials {
    left: 15px;
    position: absolute;
    top: 10px;
    width: 145px;
}

.bcms-sidemenu-username {
    background-color: #3b3b3b;
    border-radius: 2px;
    color: #0F76BE;
    line-height: 26px;
    padding: 0 10px;
    z-index: 5000;
}

.bcms-sidemenu-username:hover {
    box-shadow: 0 0 1px 0 #222222;
}

.bcms-sidemenu-username:hover .bcms-view-page-as-public {
    display: block;
}

.bcms-sidemenu-username a {
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: capitalize;
    transition: all 150ms ease;
    white-space: nowrap;
}

.bcms-sidemenu-username a.bcms-view-page-as-public {
    display: none;
}

.bcms-as-user:visited {
    color: #28add5;
}

.bcms-as-public:visited {
    color: white;
}

.bcms-as-user:after,
.bcms-as-public:after,
.bcms-as-current:after,
.bcms-as-current:before {
    content: "";
    position: absolute;
    top: 50%;
    transition: all 150ms ease;
}

.bcms-as-current {
    color: white;
    padding: 0 10px 0 22px;
}

.bcms-as-current:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAM0lEQVQI12MwMjL6TwgzAAmG6Ojo/3gwA0wRLoVgOYbY2FiYIgZsCuCKYmJi0BXC+SB5AOKZQ7HWQLV/AAAAAElFTkSuQmCC') no-repeat center;
    height: 5px;
    right: 0;
    top: 10px;
    width: 9px;
}

.bcms-as-current:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAA2ElEQVQoz3XRMUqDQRAF4A25gUjSBGwsxBsoxAMkKb2EYuENrAJibyOkSmn6pE2bHEBS2AsWoiDyq/ClyPy4LsnAMOyb994MswmpyEOM8WETr3jAQckthRf4xhx9HEWdo8LlLvFtTJqgWZg2A4c7NHLxVTR+0EYXKwwzg3b04aYWn+A3wGUQR/Guig2W/mKQ8JQBiyD14mCjQrzIuKuEc3xlk/a3/EAKvAreM47rxileojGuD5JlI3CYYa+8diu76BRn6ESd4hPXufG29bp4xHsYveE+jP5x1xJf+8rU3ne8AAAAAElFTkSuQmCC') no-repeat center;
    height: 10px;
    left: 0;
    margin-top: -5px;
    width: 15px;
}

.bcms-as-user {
    background-color: #444444;
    color: #28add5;
    margin: 0 -10px;
    padding-left: 32px;
}

.bcms-as-user:hover {
    color: white;
}

.bcms-as-user:hover:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOCAYAAAD5YeaVAAAAhklEQVQoz42QwQmAMAxFu1dxikK9uI87OIKL9NKbnUEcQEEPEn8hQpVE++ER0rwUWkNEpsCDBA6uvpy/RSmtJCdFTpJ8KPIuyZMiT5LsFNlJ8r2Qb9q4Ou03fimbBoxgBifXkc8fck/f6W+5o7p0WY6VcjT88ppsWbZgAAEsYOXhyn3gub0A9rAmBJGEUicAAAAASUVORK5CYII=') no-repeat center;
}

.bcms-as-user:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOCAYAAAD5YeaVAAAAi0lEQVQoz43QsQmAMBCF4azhLMEpAtpkH3dwBHEPG7sE3EAcQMEUoi9wgSh3mOLniPcpqqrGRWU1yKNAs8n3X3gztRz2AvYcDgI+OewE7DhsBGw4nG6ITzpoGulv/JYfajSgFV00B7r+wp3wvqkuYfsDUzbiuRDPir68BB8Ra9SjCW1op+VO54n2+gHAH1Gb5zxVcQAAAABJRU5ErkJggg==') no-repeat center;
    height: 14px;
    left: 12px;
    margin-top: -7px;
    width: 11px;
}

.bcms-as-public {
    color: #afafaf;
    padding-left: 22px;
}

.bcms-as-public:hover {
    color: white;
}

.bcms-as-public:hover:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAA2ElEQVQoz3XRMUqDQRAF4A25gUjSBGwsxBsoxAMkKb2EYuENrAJibyOkSmn6pE2bHEBS2AsWoiDyq/ClyPy4LsnAMOyb994MswmpyEOM8WETr3jAQckthRf4xhx9HEWdo8LlLvFtTJqgWZg2A4c7NHLxVTR+0EYXKwwzg3b04aYWn+A3wGUQR/Guig2W/mKQ8JQBiyD14mCjQrzIuKuEc3xlk/a3/EAKvAreM47rxileojGuD5JlI3CYYa+8diu76BRn6ESd4hPXufG29bp4xHsYveE+jP5x1xJf+8rU3ne8AAAAAElFTkSuQmCC') no-repeat center;
}

.bcms-as-public:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAA2klEQVQoz23QPUoDQBAF4A25gQTTBGwsxBsoxAOopZdQLLyBlSD2NkK+JqX2sU2bHEBS2AsWoiASFcZmIsuSYhn2/c3wSkSU+mEbY3wg8Io7bLXa1niKb0xxhJ2cUyxxttaM69z0gG4T2k08cIPOvxnnSfygjyEWuKoC+skHLiOiFOzhN8F5Ckf5XzYXzBMPHBc8VcAsRYdZ2KgxzyrtouAEX6tN6LWtprGXfOAZuytiHy9JjFeFVMZO4oFHbLRtb1aNTnCAQc4JPnFRB687b4h7vGfQG24xaLV/7jSOqr3kmscAAAAASUVORK5CYII=') no-repeat center;
    height: 10px;
    left: 0;
    margin-top: -5px;
    width: 15px;
}

.bcms-sidemenu-openclosearrow {
    background: url('images/sprite-base-1.png') no-repeat center -548px;
    color: #fff;
    font-size: 10px;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 30px;
    text-indent: 9999px;
    text-transform: uppercase;
    width: 50px;
}

.bcms-state-open .bcms-sidemenu-openclosearrow {
    background-position: center -603px;
}

.bcms-sidemenu-right .bcms-sidemenu-openclosearrow {
    background-position: 12px -493px;
}

.bcms-sidemenu-right.bcms-state-open .bcms-sidemenu-openclosearrow {
    background-position: 12px -437px;
}

.bcms-sidemenu-status {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAFRlDm/AAAAIElEQVQI12PQ0NBgkJeXB2EQE4iReJZgIA8GDBAKIgQAu28HdVPQ4uUAAAAASUVORK5CYII=') repeat left top #000;
    padding: 1px 0;
}

.bcms-sidemenu-separator {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACCAYAAABCOhwFAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8xNy8xMozYmIoAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAIUlEQVQImWNMSEj4z0BDwKijo/OfiYmJgZGRkboGQ80DACggA7Gicq8rAAAAAElFTkSuQmCC');
    height: 2px;
    margin: 10px auto;
    width: 24px;
}

#bcms-sidemenu-handle {
    background: #000000;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#bcms-sidemenu-hide {
    cursor: pointer;
    padding: 0 0 10px 0;
}

#bcms-sidemenu-switch {
    background-image: url('images/sprite-base-2.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 62px;
    margin: 5px auto;
    width: 32px;
}

.bcms-on #bcms-sidemenu-switch {
    background-position: -34px 0;
}

#bcms-sidemenu-draghandle {
    background: url('images/sprite-base-1.png') no-repeat -1px -665px;
    cursor: move;
    height: 14px;
    margin: 5px auto;
    width: 34px;
}

//module Sidemenu positioned to the right
.bcms-sidemenu-right#bcms-sidemenu {
    border-radius: 0 0 0 4px;
    left: auto;
    padding: 5px 0 5px 5px;
    right: 0;
}

.bcms-sidemenu-right #bcms-sidemenu-handle {
    border-radius: 4px 0 0 4px;
    left: -50px;
    right: auto;
}

.bcms-sidemenu-right .bcms-sidemenu-position-handle {
    background-position: -17px -70px;
    float: left;
    padding-right: 5px;
    text-align: right;
}

//module control panel right
.bcms-sidemenu-right .bcms-version-number {
    float: right;
    margin-left: 10px;
}

//todo update select to latest
.bcms-sidemenu-select {
    background: url('images/bcms-sidebar-select.png') no-repeat 0 0 #676767;
    background: url('images/bcms-sidebar-select.png') no-repeat 0 0, -webkit-linear-gradient(top, #676767 0, #555555 100%);
    background-color: #676767;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px #292929;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 34px;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 8px 5px 8px 30px;
    white-space: nowrap;
    width: 225px;
    -webkit-appearance: button;
    -webkit-padding-end: 30px;
    -webkit-padding-start: 30px;
    -webkit-user-select: none;
    -moz-padding-start: 25px;
    -moz-padding-end: 5px;
    -moz-user-select: none;
}

.bcms-sidemenu-select option {
    background: #676767;
}

.bcms-sidemenu-select:focus {
    outline: none;
}

select.bcms-select-published {
    background-position: 0 -34px;
}
