$ol-light: #536082;
$ol-dark: $dark-main;
$ol-red: #d82636;

$border-ol-thin-light: 1px solid $ol-light;
$border-ol-thin-dark: 1px solid $ol-dark;
$border-manage-thin-dashed-dark: 1px dashed $ol-dark;

$content-headers: (
                ('region', $text-blue, 16px, $bcms-manager-region),
                ('content', $text-dark, 14px, $bcms-manager-content)
);
$contents-tree-controls: (
                ('config', $bcms-manager-options),
                ('history', $bcms-manager-history),
                ('delete', $bcms-manager-delete)
);

.bcms-tree-container {
    padding-bottom: 15px;

    > h2 {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
    }
}

.bcms-contents-tree {
    &-region {
        background-color: $white;
        border: $border-manage-thin-dashed-dark;
        box-sizing: border-box;
        margin-top: 15px;
        min-height: 48px;
        padding: 15px 15px 15px 30px;
        position: relative;
        z-index: 0;
    }

    &-add-block {
        @include transition(background-color 150ms);
        @include position(absolute, -15px -15px null null);
        @include size(30px 26px);
        background: $bg-blue url($bcms-add-content) no-repeat center;
        cursor: pointer;

        &:hover,
        &.bcms-active {
            background-color: darken($bg-blue, 10%);
        }
    }

    &-add-content {
        @include position(absolute, 100% 0 null null);
        display: none;

        .bcms-active & {
            display: block;
        }
    }

    &-controls {
        @include transition(all 200ms);
        background-color: darken($bg-blue, 10%);
        color: $white;
        line-height: 18px;
        padding: 5px 20px;
        white-space: nowrap;

        &:hover {
            background-color: darken($bg-gray, 10%);
        }
    }

    &-content {
        @include transition(background-color 150ms);
        background-color: $white;
        border: $border-thin-smoke;
        box-shadow: 0 0 5px 0 rgba($black, .2);
        margin-top: 15px;
        padding: 15px 15px 15px 30px;

        &.bcms-contents-hover {
            background-color: $smoke;
            cursor: move;
        }
    }
}

.bcms-tree-controls-box {
    @include positioning($center-y: true);
    @include transition(all 150ms);
    cursor: pointer;
    height: 20px;
    opacity: 0;
    right: 0;
    visibility: hidden;
}

.bcms-tree {
    &-header {
        cursor: move;
        position: relative;

        &-region {
            cursor: default;
        }
    }

    &-button {
        @include size(18px);
        cursor: pointer;
        float: right;
        margin-left: 15px;

        &.bcms-tree-controls-edit-draft {
            background-image: url($bcms-manager-edit-draft);
        }

        @each $name, $icon, $icon-hover in $contents-tree-controls {
            &.bcms-tree-controls-#{$name} {
                background: url($icon) no-repeat center;
            }
        }
    }

    @each $name, $color, $font-size, $icon in $content-headers {
        &-#{$name}-title {
            @include vertical-align();
            color: $color;
            font-size: $font-size;
            font-weight: 700;
            position: relative;
            text-transform: capitalize;

            @include virtual(after) {
                @include positioning($center-y: true);
                @include size(16px);
                background: url($icon) no-repeat center;
                left: -20px;
            }
        }
    }

    &-content-edit {
        @include vertical-align();
        @include size(18px);
        background: url($bcms-action-edit) no-repeat center;
        cursor: pointer;
        margin-left: 5px;
    }
}

.bcms-contents-hover {
    > .bcms-tree-header {
        .bcms-tree-controls-box {
            opacity: 1;
            visibility: visible;
        }
    }
}

.bcms-dragging {
    @include clearfix();
    background-color: $smoke;
    cursor: move;
    min-height: 50px;
    opacity: .8;
    z-index: 9999;
}

.bcms-contents-tree-drop-area {
    border: 1px dashed black;
    color: black;
    height: 48px;
    margin: 15px 0 0;
}
