.bcms-filter-holder {
    @include vertical-align();
}

.bcms-grid-filtering {
    float: left;
    height: 30px;
    position: relative;
    z-index: 1;
}

.bcms-filterbox {
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAAEhcmxxAAAAkElEQVQoz2NgaXy0FIj/MwAJMGaA82BC/4H4GIzxHybNDOVwIiuD6/mDrByIL8HNB+IoqOAeIN6LLAE3Bu4QLHgpSMIKi4QizIhjSIIgZ/5EN78CiL8CsQJWi5H9gVWCD4jv43AdMgap4Uc2qQGP4hYgrgbiw+gBogDEH9EUtwIxD9Qj+9E1ILv7PzY52msAAM8HDCs6JdPsAAAAAElFTkSuQmCC") no-repeat 12px center;
    border: 1px solid #c6c6c6;
    color: #0383df;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    padding: 0 15px 0 30px;
    position: relative;
}

.bcms-filter-modified {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAAH+wC8WAAAAg0lEQVQY02M4cOAAAwOQ+A8iPBhgXLgQCIuDiB8wqb3IahiBmAeIP4E4M0CagNgKWQUIb0YWsAbiKUCsAuLoQ7VMhbsDiP/AtMIEmJEFkDHI+mNQRa+B2BlZMh8qsQiIhYBYBGYCFxBfg0qC8H0g5ke3E4Zr0awEKzgKxH5AzIQuCcIAI1rOzpfB0RIAAAAASUVORK5CYII=") no-repeat right center;
    color: #c6c6c6;
    display: none;
    font-size: 11px;
    padding: 0 10px 0 5px;
}

.bcms-filterbox:after {
    background: #383838 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAYAAAHKue4KAAAApUlEQVQoz32QWwrCQAxFM511ij/iTkSkaClFRaoiIq5SPP1JSkzHBgIhObl5CCCAiAZYUMmkBGRDNg5dCdADjVLJKp3X6LVau9asuTEhwJlfGxUWATS/GlBSe2juJEByUAJeGrf+0BTm7+MnPLTz4wRYAp9SseAZuCv7BdYCVMDt3wqu8RmYzn/eVrwEqAXeIdcoO7nRCx2ZWl06a+7eBByA7dxfBpwRF+lAPpFNAAAAAElFTkSuQmCC") no-repeat center center;
    content: "";
    height: 30px;
    position: absolute;
    right: -29px;
    top: -1px;
    width: 30px;
}

.bcms-active-filter .bcms-filterbox {
    background: #f5f5f5 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAAEhcmxxAAAAfUlEQVQoz2NgYGBYCsT/GZABJu8YjAHDDMxQBidWTX/QlF9CloyCCu4B4r0MaOA/Ogcdg5zLYIVFQhGm6xiSIMiZP9GNrADir0CsgNvT+CT4gPg+DtchY5AafmSNDXgUtwBxNRAfRrcN5MiPaIpbgZgH6pH9+NyN01O01QAAj6tCLJBd9KEAAAAASUVORK5CYII=") no-repeat 12px center;
    border-bottom-color: #f5f5f5;
    color: #000;
}

.bcms-active-filter .bcms-filterbox:after {
    background: #383838 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAYAAAHKue4KAAAAo0lEQVQoz3WQWwrCQAxF73TWKf6IOxEptWgpKOIDEXGV4vFnUkPoBAJ5nNxJRoCArYAlIJXKFNwtAHgDeyskjyb+JsON/Molnuy8ROMlij9LPnoFAbuQyyfjjNIEnE3SQcmAWyn0Bc4eEvAB2vC2Qeu4pD95cEpthdPc4Im69TWBBFwCfCj1DLxCb/CfEAe7yroZeAT2aM0FsKndGbwBrsAK0A/44hfmqu5IrwAAAABJRU5ErkJggg==") no-repeat center center;
}

.bcms-active-filter .bcms-filter-modified {
    display: inline-block;
}

.bcms-tags-block {
    background: #f5f5f5;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 34px;
    width: 450px;
}

.bcms-featured-tags {
    border-bottom: 1px solid #e3e3e3;
    margin: 0 0 8px;
    padding: 0 0 5px;
}

.bcms-filter-options {
    float: left;
    padding-bottom: 5px;
    padding-right: 5px;
}

.bcms-filter-options:first-child {
    margin-right: 15px;
}

.bcms-filter-text {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.bcms-filter-options .bcms-global-select {
    height: 28px;
    padding-top: 2px;
    width: 200px;
}

.bcms-filter-field-holder {
    position: relative;
}

.bcms-filter-field-holder .bcms-add-tags-field {
    background-color: #fff;
    height: 20px;
    line-height: 20px;
    width: 180px;
}

.bcms-check-field-holder {
    float: left;
    margin: 4px 0 0 -3px;
}
