%input-fields-ui {
    @include transition(border-color 200ms, box-shadow 200ms);
    background-color: $white;
    border: $border-form-element;
    box-sizing: border-box;
    color: $main-text;
    font-size: 14px;
    padding: 9px 11px 10px;
    width: 100%;

    &:focus {
        background: $white;
        border-color: $blue-main;
        box-shadow: 0 0 3px 0 rgba($blue-main, .35);
        outline: none;
    }

    @include placeholder {
        color: $light-text;
    }
}

.bcms-field {
    &-wrapper {
        position: relative;

        td & {
            margin-bottom: 0;
        }
    }

    &-text {
        @extend %input-fields-ui;
        height: $form-element-height;

    }

    &-textarea {
        @extend %input-fields-ui;
        height: 150px;
        resize: vertical;

        &.bcms-code-field {
            font-family: monospace !important;
        }
    }
}

.bcms-form {
    &-holder {
        @include clearfix();
        margin-bottom: 20px;
    }

    &-block-holder {
        @include clearfix();
        margin: 0 -30px;

        > div {
            @include flexible-grid($elem-class: 'div');
            box-sizing: border-box;
            float: left;
            padding: 0 30px 0 60px;
        }
    }
}

.bcms-input-list-holder {
    margin-top: 30px;
    position: relative;
}

//module Input Fields & Field Holders
.bcms-checkbox-holder {
    color: #595959;
    font-size: 12px;
    padding: 5px 10px 5px 0;
}

.bcms-checkbox-holder > input[type="checkbox"] {
    margin-top: 0;
    vertical-align: middle;
}

//module Global Select
.bcms-global-select {
    background-color: #f3f3f3;
    border: 1px solid #b8b8b8;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 17px;
    overflow: hidden;
    padding: 5px;
    white-space: nowrap;
    width: 285px;
}

.bcms-global-select:focus {
    outline: none;
}

.bcms-select-holder {
    display: inline-block;
    position: relative;
}

.bcms-select-holder span.bcms-field-validation-error {
    right: 24px;
}


.bcms-ajax-show {
    display: none;
}

.bcms-ajax-errors {
    display: none;
}
