%input-fields-ui {
    @include transition(border-color 200ms, box-shadow 200ms);
    background-color: $white;
    border: $border-form-element;
    box-sizing: border-box;
    color: $main-text;
    font-size: 14px;
    padding: 9px 11px 10px;
    width: 100%;

    &:focus {
        background: $white;
        border-color: $blue-main;
        box-shadow: 0 0 3px 0 rgba($blue-main, .35);
        outline: none;
    }

    @include placeholder {
        color: $light-text;
    }
}

.bcms-field {
    &-wrapper {
        margin-bottom: 20px;
        position: relative;

        td & {
            margin-bottom: 0;
        }
    }

    &-text {
        @extend %input-fields-ui;
        height: $form-element-height;

    }

    &-textarea {
        @extend %input-fields-ui;
        height: 150px;
        resize: vertical;

        &.bcms-code-field {
            font-family: monospace !important;
        }
    }
}

.bcms-form {
    &-holder {
        @include clearfix();
        margin-bottom: 20px;
    }

    &-block-holder {
        @include clearfix();
        margin: 0 -30px;

        > div {
            @include flexible-grid($elem-class: 'div');
            box-sizing: border-box;
            float: left;
            padding: 0 30px;
        }
    }
}

.bcms-input-list-holder {
    position: relative;

    &:first-of-type {
        margin-top: 25px;
    }
}


//module Input Fields & Field Holders
.bcms-checkbox-holder {
    color: #595959;
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px 5px 0;
}

.bcms-checkbox-holder > input[type="checkbox"] {
    margin-top: 0;
    vertical-align: middle;
}

//module Global Select
.bcms-global-select {
    background-color: #f3f3f3;
    border: 1px solid #b8b8b8;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 17px;
    overflow: hidden;
    padding: 5px;
    white-space: nowrap;
    width: 285px;
}

.bcms-global-select:focus {
    outline: none;
}

.bcms-select-holder {
    display: inline-block;
    position: relative;
}

.bcms-select-holder span.bcms-field-validation-error {
    right: 24px;
}

//module Form elements
.bcms-textbox {
    background: #F5F5F5;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    color: #787878;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 5px 7px;
    width: 300px;
}

.bcms-textbox:focus {
    background-color: #FFFFFF;
    border-color: #0383DF;
    color: #595959;
    outline: none;
}

.bcms-textbox-warn {
    background-color: #F9EDEA;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAJCAYAAAAywQxIAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8xNi8xMjRk/+8AAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAvElEQVQoka2QIQ7CQBBFXyuRdXMZBF1DWzwoLFRzBCS6YFFwAYqZ0ITDUFdXbBEMSUFtE34ymZ3/Ny+TCR5xXABLYCqqd3qqnRsDV+AoqjkeCoEGGAFl7Vzag6VAaVnjAwMIuq6jdm4NFOZNrN+s56K6HwS0jVbA7iffiOrBF/YFNOgJmNt4FtXFEBi8b9jfcAa0VjPzBunvNwxr57YGa4FMVCtRrYDMvML++AGBCHgCiahePoG9E8siX+ALMz1MZRh3zgkAAAAASUVORK5CYII=');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-color: #E64343;
    outline: none;
}

.bcms-textbox-ok {
    background-color: #E8F8E6;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAJCAYAAAAywQxIAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8xNi8xMjRk/+8AAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAyElEQVQokZXRoUpEURAG4O8sa7L4CHte4YJR0wab5rWYDUZBu8Eo+AaKvodR2AMm462CCHbBMXiQ6+Wue512/jPzMTApIgxVLukC553oA0dtE3eDA7UmK7AZFr14Azd/YTDJJe3kkrZ7+QKzgf6ztSAe8JhLOqzbTVcMPuF+HTjFZ4Vvc0lbmGOz1/eMvbaJlzEbnnbe1zhA6mRL7I7BIEWEXNIJrgb+S93sdQz2A2IIXWLeNvE+FvsFVvQYl74PsN828fYfDL4AtNQ7gD+Mkw4AAAAASUVORK5CYII=');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-color: #20CD00;
    outline: none;
}

.bcms-ajax-show {
    display: none;
}

.bcms-ajax-errors {
    display: none;
}
