$action-icons: (
                ('edit', $bcms-action-edit),
                ('usage', $bcms-action-usage),
                ('restore', $bcms-revert),
                ('history', $bcms-action-history),
                ('download', $bcms-download),
                ('delete', $bcms-action-delete),
                ('ok', $bcms-action-status-ok),
                ('warn', $bcms-action-status-warn),
                ('draft', $bcms-action-status-draft),
                ('menu', $bcms-action-menu)
);

@each $name, $icon in $action-icons {
    .bcms-action-#{$name} {
        @include vertical-align();
        @include size(20px);
        background: url($icon) no-repeat center;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        text-indent: 999em;
    }
}

.bcms-draft {
    //todo update icon
    background: $bg-blue;
}

//module Hidden form submit. Can't set display:none because we need to submit form.
.bcms-hidden-submit {
    background: none;
    border: 0 none;
    color: transparent;
    height: 0;
    width: 0;
}

//todo check where this has been used
//module preview boxes & widgets grid
//.bcms-preview-block {
//    float: left;
//    height: 265px;
//    overflow: hidden;
//    position: relative;
//    width: 210px;
//}
//
//.bcms-preview-box:hover > .bcms-zoom-overlay {
//    cursor: pointer;
//    filter: Alpha(opacity=100);
//    opacity: 1;
//}
//
//.bcms-zoom-overlay {
//    background: url('images/icn-zoom.png') no-repeat center center;
//    filter: Alpha(opacity=0);
//    height: 74px;
//    left: 50%;
//    margin: -37px 0 0 -37px;
//    opacity: 0;
//    position: absolute;
//    top: 50%;
//    width: 74px;
//    z-index: 1;
//}
