$message-success: #33aa61;
$message-warning: #e5a12a;
$message-error: #dc4250;
$message-info: #368fd3;

$message-icon-size: 22px;

$message-content-type: (
                ('success', $message-success, $bcms-messages-success),
                ('warning', $message-warning, $bcms-messages-warning),
                ('error', $message-error, $bcms-messages-error),
                ('info', $message-info, $bcms-messages-info)
);

$validation-fields: ();

//module server side messages
.bcms-messages {
    &-ui {
        @include position(fixed, 0 0 null);
        z-index: 999;

        @each $name, $color, $message-icon in $message-content-type {
            .bcms-#{$name}-messages {
                background-color: $color;

                li {
                    &:first-child {
                        @include virtual(before) {
                            @include position(absolute, 2px null null 4px);
                            @include size($message-icon-size);
                            background: url($message-icon) no-repeat center;
                        }
                    }
                }
            }
        }

        ul {
            box-sizing: border-box;
            font-size: 13px;
            margin: 0;
            min-height: 55px;
            padding: 15px 0;
            text-align: center;
        }

        li {
            box-sizing: border-box;
            color: $white;
            display: inline-block;
            line-height: 18px;
            list-style: none;
            margin: auto;
            padding: 4px 35px;
            position: relative;
            text-align: left;
            width: $page-width;
        }
    }

    &-close {
        @include close-button($icon: $bcms-close-white, $position: 4px 4px null null);
    }

    &-draft-destroy {
        color: $white;
        font-weight: 700;
        text-decoration: underline;
    }
}

//module validation messages
.bcms-input-validation-error {
    background-color: #fcecec;
    border: 1px solid #e64343;
    box-shadow: 0 0 2px 0 rgba(230, 67, 67, 0.4);

    &:focus {
        background: #fcecec;
        border: 1px solid #e64343;
        box-shadow: 0 0 2px 0 rgba(230, 67, 67, 0.4);

        ~ .bcms-field-validation-error {
            span {
                visibility: visible;
            }
        }
    }

    .bcms-date-input-box & {
        right: 23px;
    }
}

.bcms-field-validation-error {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAF8oY2FAAAAZElEQVQY02N45uw8DYi/MsAZ////Z0AQQKH/YA6QYYcsuhxD5D8QO0LpTOyCIAtAElBJO5ClIEYmskoUW2ACMDdgqsRlZgtU5Rcg9kZS4A0VA8m1MCBJZEAlkHEG3G6iFRJrNQAfBNhPNe12LwAAAABJRU5ErkJggg==') no-repeat center center;
    height: 28px;
    margin-top: -14px;
    position: absolute;
    right: 1px;
    top: 50%;
    width: 18px;

    > span {
        background: #FCECEC;
        border: 1px solid #E64343;
        bottom: 32px;
        color: #E64343;
        font-size: 10px;
        line-height: 15px;
        min-width: 161px;
        padding: 5px;
        position: absolute;
        right: -9px;
        vertical-align: middle;
        visibility: hidden;

        @include virtual($both: true) {
            border: solid transparent;
            height: 0;
            pointer-events: none;
            position: absolute;
            top: 100%;
            width: 0;
        }

        @include virtual(after) {
            border-top-color: #FCECEC;
            border-width: 10px;
            margin-left: -10px;
            right: 7px;
        }

        @include virtual(before) {
            border-top-color: #E64343;
            border-width: 11px;
            margin-left: -11px;
            right: 6px;
        }
    }
}

//
//
//
//

.bcms-drop-button {
    background: url('images/sprite-base-2.png') no-repeat -1px -96px;
    height: 4px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    text-indent: 9999px;
    top: 8px;
    width: 16px;
}

//module tag validation errors
.bcms-tag-validation-error {
    background-color: #fcecec !important;
    border: 1px solid #e64343 !important;
    box-shadow: 0 0 2px 0 rgba(230, 67, 67, 0.4) !important;
}

.bcms-tag-validation-error:focus {
    background: #fcecec;
    border: 1px solid #e64343;
    box-shadow: 0 0 2px 0 rgba(230, 67, 67, 0.4);
}

.bcms-tag-validation-error:focus + .bcms-tag-field-validation-error span {
    visibility: visible;
}

span.bcms-tag-field-validation-error {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAF8oY2FAAAAZElEQVQY02N45uw8DYi/MsAZ////Z0AQQKH/YA6QYYcsuhxD5D8QO0LpTOyCIAtAElBJO5ClIEYmskoUW2ACMDdgqsRlZgtU5Rcg9kZS4A0VA8m1MCBJZEAlkHEG3G6iFRJrNQAfBNhPNe12LwAAAABJRU5ErkJggg==') no-repeat center center #FCECEC;
    height: 22px;
    margin-top: -11px;
    position: absolute;
    right: 1px;
    top: 50%;
    width: 18px;
    z-index: 1;
}

span.bcms-tag-field-validation-error > span {
    background: #FCECEC;
    border: 1px solid #E64343;
    bottom: 26px;
    color: #E64343;
    font-size: 10px;
    line-height: 15px;
    min-width: 161px;
    padding: 5px;
    position: absolute;
    right: -9px;
    vertical-align: middle;
    visibility: hidden;
}

span.bcms-tag-field-validation-error > span:after,
span.bcms-tag-field-validation-error > span:before {
    border: solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}

span.bcms-tag-field-validation-error > span:after {
    border-top-color: #FCECEC;
    border-width: 10px;
    margin-left: -10px;
    right: 7px;
}

span.bcms-tag-field-validation-error > span:before {
    border-top-color: #E64343;
    border-width: 11px;
    margin-left: -11px;
    right: 6px;
}
