$alert-frames: (
                ('error', $text-red, $border-solid-red),
                ('popinfo', $blue-main, $border-solid-blue)
);

@each $name, $color, $border in $alert-frames {
    .bcms-#{$name}-frame {
        @include positioning($center: true);
        background-color: $white;
        border-top: $border;
        box-shadow: 0 25px 80px 5px rgba($black, .4);
        box-sizing: border-box;
        color: $dark-main;
        padding: 30px 80px 30px 40px;
        width: 600px;

        > h4 {
            color: $color;
            margin: 0;
        }

        > p {
            font-size: 14px;
            line-height: 19px;
        }
    }
}

//module information messages
//.bcms-info-message-box {
//    @include positioning($center-x: true, $position: fixed);
//    background-color: #eff9fd;
//    border: 1px solid #cecece;
//    font-size: 12px;
//    line-height: 16px;
//    padding: 8px 35px 8px 20px;
//    top: 0;
//    z-index: 99;
//
//    .bcms-tooltip-mark {
//        left: -20px;
//        margin-top: -6px;
//        top: 50%;
//    }
//}

//fixme remove when fixed functionality
a.bcms-error-close {
    background: url('images/sprite-base-1.png') no-repeat -9px -726px;
    cursor: pointer;
    height: 14px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-decoration: none;
    text-indent: 9999px;
    top: 10px;
    width: 15px;
}
