$ol-red: #d82636;

$border-ol-thin-light: 1px solid #536082;
$border-ol-thin-dashed-dark: 1px dashed $dark-main;

$overlay-mange-controls: (
                ('addcontent', $bcms-add-content),
                ('sortcontent' $bcms-manage)
);

$overlay-control-buttons: (
                ('history', $bcms-overlay-history),
                ('edit', $bcms-overlay-edit),
                ('configure', $bcms-overlay-options),
                ('delete', $bcms-overlay-delete),
                ('edit-child', $bcms-overlay-edit-child)
);

//module content region
.bcms-on {
    .bcms-region-overlay {
        display: block;
    }
}

.bcms-region {
    &-overlay {
        @include position(absolute, null);
        display: none;
        min-height: 35px;
        outline: $border-ol-thin-dashed-dark;
        z-index: 100;

        &.bcms-show-overlay {
            @include size(100%);
            //todo background-image: url($bcms-texture);
            background-color: $white;
            box-sizing: border-box;
            height: 100%;
            padding: 36px 0 10px;
            width: 100%;
        }

        @include virtual(before) {
            @include position(absolute, -1px);
            border: $border-thin-white;
            z-index: -1;
        }
    }

    &-actions {
        @include position(absolute, 0 0 null null);
        cursor: default;
        height: 26px;
        z-index: 10;
    }

    &-button {
        @include transition(all 200ms);
        @include vertical-align($align: top);
        background-color: $bg-dark;
        box-sizing: border-box;
        color: $white;
        cursor: pointer;
        font: {
            size: 12px;
            weight: 600;
        }
        height: 26px;
        line-height: 25px;
        padding: 0 10px;

        &:hover {
            background-color: darken($bg-dark, 5%);
            cursor: pointer;
        }
    }

    &-addcontent {
        position: relative;

        &.bcms-active {
            background-color: darken($bg-blue, 10%);
        }
    }

    &-sortdone {
        background-color: $bg-blue;

        &:hover {
            background-color: darken($bg-blue, 10%);
        }
    }

    &-sortcancel {
        background-color: $cp-gray;

        &:hover {
            background-color: darken($cp-gray, 10%);
        }
    }

    &-options-block {
        @include position(absolute, 100% 0 null null);
        display: none;
        white-space: nowrap;

        .bcms-active & {
            display: block;
        }
    }

    &-pick-editor {
        @include transition(all 200ms);
        background-color: darken($bg-blue, 10%);
        line-height: 18px;
        padding: 5px 20px;

        &:hover {
            background-color: $bg-dark;
        }
    }

    @each $name, $icon in $overlay-mange-controls {
        &-#{$name} {
            @include size(30px 26px);
            background: $bg-dark url($icon) no-repeat center;
        }
    }
}

.bcms-content-overlay {
    display: none;
    position: relative;
    width: 100%;
    z-index: 5;

    @include virtual(before) {
        @include position(absolute, 0);
        background-color: rgba($bg-light, .2);
    }
}

.bcms-show {
    &-overlay {
        .bcms-sort-block {
            display: block;
        }
    }

    &-controls {
        .bcms-content-overlay {
            @include size(100%);
            display: block;
        }
    }
}

//module content sorting
.bcms-sort {
    &-block {
        display: none;
        height: 100%;
        position: relative;
        z-index: 5;
    }

    &-wrapper {
        background: $white url($bcms-overlay-drag) no-repeat 10px center;
        border: $border-form-element;
        box-sizing: border-box;
        color: $text-dark;
        cursor: move;
        height: 46px;
        margin: 5px 10px;
        overflow: hidden;
        padding: 0 10px 0 25px;

        &:first-of-type {
            margin-top: 0;
        }

        &.ui-sortable-helper {
            background: $sky-blue url($bcms-overlay-drag-active) no-repeat 10px center;
            border-color: $border-blue;
            box-shadow: 0 0 4px rgba($blue-main, .24);
            color: $text-blue;
        }
    }

    &-wrapper-placeholder {
        border: $border-form-element-dashed;
        box-sizing: border-box;
        height: 46px;
        margin: 0 10px 5px;
        position: relative;
        z-index: 10;
    }

    &-content {
        font: {
            size: 14px;
            weight: 600;
        }
        line-height: 44px;
        text-transform: capitalize;
    }
}

//module content action controls
.bcms-content {
    &-actions {
        @include position(absolute, 0 null null -1px);
        height: 42px;
    }

    &-button {
        @include transition(all 200ms);
        @include size(42px);
        background-color: $bg-dark;
        border-left: $border-ol-thin-light;
        cursor: pointer;
        display: block;
        float: left;
        position: relative;

        &:first-child {
            border-left: 0;
        }

        &:hover {
            background-color: darken($bg-dark, 5%);
        }
    }

    @each $name, $icon in $overlay-control-buttons {
        &-#{$name} {
            @include virtual(after) {
                @include positioning($center: true);
                @include size(100%);
                background: url($icon) no-repeat center;
            }
        }
    }

    &-edit {
        &.bcms-active-draft {
            background-color: $ol-red;

            &:hover {
                background-color: darken($ol-red, 5%);
            }
        }
    }
}
