.bcms-layout-path-inner:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.bcms-layout-path {
    background-color: black;
    border-radius: 0 0 2px 2px;
    height: 26px;
    left: 50%;
    padding: 0 4px 4px;
    position: fixed;
    top: 0;
    transition: top 150ms;
    -webkit-transition: top 150ms;
    z-index: 1100;
}

.bcms-layout-path.bcms-path-toggler {
    top: -30px;
    transition: top 150ms;
    -webkit-transition: top 150ms;
}

.bcms-path-toggler .bcms-layout-path-handle:after {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAAdklEQVQY02NgmPFuJhCzAzEDHgySnwFi/AfiY0AsjUOhNFT+P4jzEqrhORDboCm0hor/B6sDEjJAfBIq8AuIs6EKs6B8kPgpsDqoBAcQz4VKgPBFJPZcqDwDuvsygfgnVNFPKB8hj8VDVkB8FupeVLn///8TjQFLALLwtMnQYQAAAABJRU5ErkJggg==") no-repeat center;
}

.bcms-layout-path-inner {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAaCAIAAAAfT2rCAAAAeElEQVQY0y3PawoCMQxF4bMPp6PT8f1GBBFB3P+qLOf2IxDaH7kJP51E2kMc9RV3HcRH/bHXVez0FhdtxUsbkdZD13qKDJ1FFqliqrVVApiUpfq0lcgiS5GWAEadRZ3nVmUcW/VLixhKaZUABuVEkpCvfulC3JQT//IhMX8bi4RxAAAAAElFTkSuQmCC");
    border-radius: 0 0 2px 2px;
    box-shadow: 0 0 0 0 rgba(55, 55, 55, 0.9);
    height: 100%;
    overflow: hidden;
    padding: 0 2px;
}

.bcms-layout-path-item {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAaCAYAAACHD21cAAABYklEQVQ4y5XUbU+CUBjGcUAeXLXZR8haLXzRw4sYKgiNsT5Ey0otW5iW5czU8qN33e2cRszBndt/U+Gn9w5wlFqtlpRKpURRlAgZcRwrRf288Gbped5Q1/UpPvZQmQsPCfu+PzQMg3AfbXAgtY8WQRCMgCf4+hFtcSC1h+ZhGD6bpvmKQwNU4UBqR+CxZVljHB6hbQ6kdgV+SeEKB8qxF6mx/+A8SB3QagPLBRuiTQ6kjtBXq9VKNE2Tl6rMgdQ5Wrmu28XpS3SFNA5UUY9wtVptA62Qz4HUMcEoiuiW/ERvXHgiYEeMO+EgDd2JUS/FqAEHXhByHOcaYI7anMUJ5YqqqjoDIGwUXQ6PUL1evxfoRj7oedAl1Gg0HrIoD57R3QJEd8sHTrnNbinr4CmhZrM5AJoJZBY9Vr8Imxf9U2cdykKJaLx3gayirSOLunkoDSWaCsTbHm3b7gM90W/8Z0P+BhA/CUZVilDJAAAAAElFTkSuQmCC") no-repeat right center;
    color: #a6a6a6;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 26px;
    padding: 0 25px 0 15px;
    transition: color 150ms;
    -webkit-transition: color 150ms;
}

.bcms-layout-path-item:hover {
    color: white;
}

.bcms-layout-path-handle {
    background-color: black;
    border-radius: 0 0 2px 2px;
    bottom: -15px;
    color: white;
    cursor: pointer;
    font-size: 10px;
    height: 15px;
    left: 50%;
    line-height: 15px;
    margin-left: -45px;
    padding: 2px 7px 0;
    position: absolute;
    text-transform: uppercase;
    width: 76px;
}

.bcms-layout-path-handle:after {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAAc0lEQVQY02NgmPGOAQ1bAfFpKI0qhyaQDsQ/gfg/lM7AppgdiOdAFYHwZST2HKg8WLEMEJ+ESvwC4hyoATlQ/n+ovAxI8CVU4AUQ26A5C8R/DpV/yQBlnABiaSyeZYCKnwCrAxKz4G7CjdnB6v7//080BgBM+bLzt8oXKAAAAABJRU5ErkJggg==") no-repeat center;
    content: "";
    height: 8px;
    margin-top: -4px;
    position: absolute;
    right: 7px;
    top: 50%;
    width: 11px;
}

.bcms-path-arrow-left {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAbElEQVQY02NgmPGOAQnLAPFLIP4PxLP////PgCzJBsQnoZLHQXx0BXOgki+gJjEgK8iASv4EYluYJpgCK6gESEEOsptgCs5AJS+gOZh4E9DdYINNAQjPhSp6DsTS2BSwA/EpfOGAPSRBBD4MAL5/ytmW8CT1AAAAAElFTkSuQmCC") no-repeat center black;
    cursor: pointer;
    float: left;
    height: 100%;
    width: 22px;
}

.bcms-path-arrow-left.bcms-path-arrow-inactive {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAbElEQVQY02Pw9PRkQMIyQPwSiP8D8ez///8zIEuyAfFJqORxEB9dwRyo5AuoSQzICjKgkj+B2BamCabACioBUpCD7CaYgjNQyQtoDibeBHQ32GBTAMJzoYqeA7E0NgXsQHwKXzhgD0kQgQ8DAGp5l2oEYfPPAAAAAElFTkSuQmCC");
}

.bcms-path-arrow-right {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAdElEQVQY02NgmPFuNhD/B+KXQCwDxAww/P//fwYQgw2Ij0MVnYTyURQwQHW+gCqai00BCNsA8U+oogxsCkA4B6oApNAKmwIQvgBVdAabgmwkE6zxuSET3Q3SQPwcly9A/j4GlTwFxOzoCmAh+QprSIIIfBgAv3TK2uB+QioAAAAASUVORK5CYII=") no-repeat center black;
    cursor: pointer;
    float: right;
    height: 100%;
    width: 22px;
}

.bcms-path-arrow-right.bcms-path-arrow-inactive {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAdElEQVQY02Pw9PScDcT/gfglEMsAMQMM////nwHEYAPi41BFJ6F8FAUMUJ0voIrmYlMAwjZA/BOqKAObAhDOgSoAKbTCpgCEL0AVncGmIBvJBGt8bshEd4M0ED/H5QuQv49BJU8BMTu6AlhIvsIakiACHwYAa26Xa0spcakAAAAASUVORK5CYII=");
}

.bcms-layout-path-item:after {
    content: "";
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.bcms-path-master, .bcms-path-page, .bcms-path-child-content {
    padding-left: 25px;
    position: relative;
}

.bcms-path-master:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABD0lEQVQ4y62TsQ6CMBRFmUz8DyZlYGZmZWTkD9jY2JiYUBMwkW8x/oUR/0MHNZr6LukjpT5NjA4naW/fvaWvxWnb1rGYEQuiIy6ag9Zmdr05mRAN8SDUG7C2IaZ2AMzbD0abnfYMAesvzEzDAXPiDjHPcxUEgQrDUNV1PTJEUdSvoUZr8MwRsOSiLMuU67rK932zUBVF0WtYQ40RvHR0t0cB+ALsyHqSJL0mBHQIuNoBaZr2O+IYAGNoQsBVDCjLcjBBwxiaEHASj1BVlYrjeDgKjgBNCNiLTUQxGscNxfhNwAoBHl+jGYA5XynGQgA83stDYjPgJkpr2vO/p/zzz2SCp70ijsSNOKPbWvPs+icsXlv48mIk7AAAAABJRU5ErkJggg==') no-repeat center;
}

.bcms-path-page:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAqUlEQVQ4y63TQQrCMBCF4awKHqW2Z9UuFPzOIt5CrPfQhUpL3aRSQq1iXTxIJm/+IZNJQEi0xAo1blGnGFum/uEmwwYtujdqscMiBWTYTySmOsScF2CLLs/zjxpANj2gQNMDpion5w2KgHVqeFd5pMA6xG7/CqgD7jMA91HAlz3ocJm8wtg6ARwnm/gFoAooZzxjOWeQtn8d5dmfaagCFc544IpjjJWp/wlSxkegoMPLBgAAAABJRU5ErkJggg==') no-repeat center;
}

.bcms-path-child-content:after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAApUlEQVQ4y63TMQ7CMAyF4UxIHKW0ZwUGKvGdBXGLCrgHDBSBYElRiVIElOEf4vg92Y4TEBJmmGOPc2QXY7M0v3+YYIUb7gPcsMY0NZhg80aYso2ap0H9hbhj1RmUuP5gcEUZsPhB3LEIcdovF0VRZMkY7APaERW0WYOhCjJVHLMtfEGTHeIHvXcsA6oRz1iNWaT6r6s8+jP1KbHEARec0MRYleY/AFT3fCBIyhQSAAAAAElFTkSuQmCC') no-repeat center;
}

.bcms-path-child-content-active {
    color: white;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
