//module tabbed view
.bcms-tab {
    &-header {
        background-color: $bg-blue;
        height: $tab-height;
    }

    &-ui {
        @include transition(background-color 200ms ease, color 200ms ease);
        color: $white;
        cursor: pointer;
        display: inline-block;
        font: {
            size: 16px;
            weight: 700;
        }
        line-height: $tab-height;
        max-width: 250px;
        padding: 0 30px;
        text-decoration: none;

        &:hover {
            color: $text-dark;
            text-decoration: none;
        }

        &.bcms-active {
            background-color: $bg-modal-options;
            color: $text-dark;
            cursor: default;

            &:hover {
                color: $text-dark;
            }
        }
    }

    &-single {
        display: none;

        &:first-of-type {
            display: block;
        }
    }
}

//module settings tabbed view
.bcms-inner {
    &-navigation {
        @include clearfix();
        @include position(absolute, 0 null null);
        height: $header-height;
        z-index: 10;
    }

    &-navigation-ui {
        @include transition(color 200ms, background-color 200ms);
        background-color: transparent;;
        color: $text-light;
        cursor: pointer;
        float: left;
        font: {
            family: $font-base-family;
            weight: 600;
            size: 16px;
        }
        height: 40px;
        line-height: 41px;
        margin: 15px 20px 0 0;
        overflow: hidden;
        padding: 0 15px;
        position: relative;

        &:hover {
            color: darken($text-light, 10%);
        }

        &.bcms-active {
            background-color: $white;
            color: $text-blue;
        }
    }
}
