//module tabbed view
.bcms-tab {
    &-header {
        background-color: $sky-blue;
        height: $tab-height;
    }

    &-ui {
        @include transition(all 200ms ease);
        color: $main-text;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        line-height: $tab-height;
        max-width: 250px;
        padding: 0 30px;
        text-decoration: none;

        &:hover {
            background-color: $white;
            text-decoration: none;
        }

        &.bcms-active {
            background-color: $white;

            &:hover {
                background-color: $white;
            }
        }
    }

    &-single {
        display: none;

        &:first-of-type {
            display: block;
        }
    }
}

//module settings tabbed view
.bcms-inner {
    &-navigation {
        @include clearfix();
        border-bottom: $border-nav-bottom;
        box-sizing: border-box;
        position: relative;
        height: $inner-navigation;
    }

    &-navigation-ui {
        @include transition(color 200ms);
        color: $light-text;
        cursor: pointer;
        float: left;
        font: {
            weight: 700;
            size: 16px;
        }
        margin-right: 40px;
        padding: 25px 0 10px;
        position: relative;

        &:hover {
            color: darken($light-text, 10%);
        }

        @include virtual(after) {
            @include transition(border-color 200ms);
            @include position(absolute, null 0 0);
            border-bottom: $border-thick-transparent;
        }

        &.bcms-active {
            color: $blue-main;

            &:after {
                border-color: $blue-main;
            }
        }
    }
}
