$bg-th: #eaeaea;
$bg-td-even: #f8f8f8;

$border-th: 1px solid #cbcbcb;

$text-th: #303646;

$first-column-width: 44px;

.bcms-tables {
    background-color: $white;
    border: $border-thin-smoke;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
    width: 100%;

    th {
        background-color: $bg-th;
        border: {
            bottom: $border-th;
            top: $border-th;
        }
        color: $text-th;
        cursor: default;
        font: {
            size: 14px;
            weight: 600;
        }
        line-height: 20px;
        padding: 9px 19px 8px;
        text-align: left;

        &:first-child {
            border: {
                left: $border-th;
                right: $border-th;
            }
            //padding: 0;
            //width: $first-column-width;
        }

        &:last-child {
            border-right: $border-th;
            //padding: 0;
            //width: $first-column-width;
        }
    }

    tr {
        &:nth-child(even) {
            td {
                background-color: $bg-td-even;
            }
        }
    }

    td {
        border: $border-thin-smoke;
        color: #787878;
        padding: 10px;
        word-break: break-all;

        &:first-child {
            //padding: 0;
            //width: $first-column-width;
        }

        &:last-child {
            //padding: 0;
            //width: $first-column-width;
        }

        .bcms-action-edit,
        .bcms-action-delete {
            display: block;
            margin: auto;
        }
    }
}

.bcms-table-row-active {
    background-color: #effcfe;
}

.bcms-tables-link {
    color: #0383df;
    line-height: 16px;
    text-decoration: none;
}

.bcms-table-no-data {
    margin-left: 37px;
}

.bcms-sort-arrow {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAGN9z9QAAAAV0lEQVQI12N4+vTpNCD+zwAjQPgPiAaLIIu6whi3YTJALMSAxIHhaSBBfiSB2zADQdgJZgNMkBmI92IxBoZBcmww3SCsAsQfkBSA2OrIJqLjTCDOQRcHAEn2vvYOPcQQAAAAAElFTkSuQmCC') no-repeat right 4px;
    display: inline;
    padding-right: 15px;
    text-align: left;
}

.bcms-sort-arrow-top {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAGN9z9QAAAATklEQVQI12NgQAKZIIIZiP8D8V5kGbDIfxhHBcr5wIAGMtEF3kJVqsAEdiGZ9R9qGwpwAuKfQPwHysYA/EB8A80UEL4NlQODyVgUoONpAKCTHdQ696ExAAAAAElFTkSuQmCC') no-repeat right 4px;
}

.bcms-sort-arrow-bottom {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAGN9z9QAAAAUElEQVQI12NgYGCYBsT/GWAECPyBMf4ji7rCGLeRZISQlcEwyEQGfiSB2wxIwAnZBhBgBuK9WIyBYZAcG7IGFSD+gKQAxFZnwAMygTgHXRAA+ZId8raGMaEAAAAASUVORK5CYII=') no-repeat right 4px;
}
