$inactive-red: #e64343;

$template-grid-box-states: (
                ('active', $blue-main),
                ('notcompatible', $inactive-red)
);

.bcms-templates-holder {
    @include clearfix();
    margin: 30px 0;
}

.bcms-grid {
    &-box {
        margin-bottom: gutter();

        .bcms-content-titles {
            @include ellipsis;
            font-size: 12px;
            padding-bottom: 0;
        }

        .bcms-btn-tertiary {
            margin-top: 5px;
            width: 100%;
        }
    }

    &-box-pages {
        @include gallery(2);
    }

    @each $name, $color in $template-grid-box-states {
        &-box-#{$name} {
            cursor: default;

            .bcms-content-titles {
                color: $color;
            }

            .bcms-grid-image-holder {
                border-color: $color;
            }
            .bcms-btn-tertiary {
                background-color: $color;
                border-color: $color;
                color: $white;
                cursor: default;
            }
        }
    }

    &-image-holder {
        @include transition(border-color 200ms);
        background-color: $gray-l30;
        border: $border-nav-bottom;
        box-sizing: border-box;
        height: 150px;
        overflow: hidden;
        position: relative;

        img {
            @include position(absolute, 0);
            z-index: 1;
        }

        .bcms-no-image-found {
            @include position(absolute, 0);
            z-index: 0;
        }
    }

    &-no-preview {
        @include positioning($center: true);
    }

    &-controls-holder {
        display: table;
        width: 100%;

        .bcms-btn-tertiary {
            width: 50%;
        }
    }
}

//
//
//
//
//
//
//
//.bcms-grid-active-message-text {
//    color: #0383df;
//    font-size: 19px;
//    font-weight: 700;
//}
