//module Tooltips
.bcms-tooltip {
    &-mark {
        @include size(15px);
        @include vertical-align();
        background: url($bcms-tooltip-mark) no-repeat center;
        cursor: pointer;
        margin-bottom: 4px;
        position: relative;
        z-index: 1;
    }

    &-holder {
        position: absolute;
    }

    &-box {
        background-color: $white;
        box-shadow: 0 2px 24px 0 rgba($black, .4);
        padding: 6px 8px;
        position: relative;
        width: 300px;

        p {
            color: $text-dark;
            font: {
                size: 11px;
                weight: 400;
            }
            line-height: 19px;
            margin: 0;
            padding: 0;
        }
    }
}

//todo check if design requires position arrows to tooltip mark
//.bcms-tooltip-tl:before,
//.bcms-tooltip-bl:before,
//.bcms-tooltip-tr:before,
//.bcms-tooltip-br:before
//div.bcms-tip-close {
//    background-color: $bg-red;
//    cursor: pointer;
//    height: 14px;
//    overflow: hidden;
//    position: absolute;
//    right: 10px;
//    text-decoration: none;
//    text-indent: 999em;
//    top: 10px;
//    width: 15px;
//}
