.bcms-insert-content-modal {
    padding: 20px 0 0;
}
/*image manager*/
.bcms-file-manager-inner {
    padding: 20px 35px;
}

    .bcms-file-manager-inner .bcms-large-titles {
        border-bottom: 1px solid #e3e3e3;
    }

.bcms-edit-info-block {
    padding: 10px 0 20px;
}

.bcms-croped-block {
    display: inline-block;
    width: 450px;
    min-height: 280px;
    max-height: 340px;
    overflow: hidden;
    vertical-align: top;
    border: 1px solid #c6c6c6;
    background-color: #f5f5f5;
}

    .bcms-croped-block img {
        display: block;
        max-width: 100%;
    }

.bcms-croped-block-no-preview {
    background-image: url('images/bcms-no-image-1.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.bcms-crop-image-block {
    max-width: 830px;
    padding: 20px 0;
}

.bcms-edit-file-info {
    display: inline-block;
    width: 400px;
    margin-left: 15px;
    vertical-align: top;
}

.bcms-file-info-text {
    padding-bottom: 15px;
}

    .bcms-file-info-text .bcms-btn-links-small {
        text-transform: none;
    }

.bcms-file-link {
    margin-left: 20px;
    color: #0383df;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.bcms-file-edit {
    position: relative;
    display: none;
    width: 348px;
    padding: 15px;
    margin: 10px 0 0;
    border: 1px solid #a6a6a6;
    background-color: #f5f5f5;
}

    .bcms-file-edit .bcms-content-titles {
        margin: 0 5px 0 15px;
    }

    .bcms-file-edit .bcms-editor-field-box {
        margin: 0 5px;
    }

.bcms-alignment-controls {
    padding-top: 8px;
}

    .bcms-alignment-controls > div {
        display: inline-block;
        width: 51px;
        padding-top: 60px;
        margin-right: 20px;
        background: url('images/sprite-media-2.png') no-repeat;
        text-align: center;
    }

    .bcms-alignment-controls .bcms-align-left {
        background-position: 0 0;
    }

    .bcms-alignment-controls .bcms-align-center {
        background-position: -104px 0;
    }

    .bcms-alignment-controls .bcms-align-right {
        background-position: -208px 0;
    }

div.bcms-align-left-active {
    background-position: -52px 0;
}

div.bcms-align-center-active {
    background-position: -156px 0;
}

div.bcms-align-right-active {
    background-position: -260px 0;
}

/*file uploader*/
.bcms-dropzone {
    height: 150px;
    margin-bottom: 15px;
    border-radius: 2px;
    border: 2px dashed #0C7EC7;
    background-color: #eeeeee;
    text-align: center;
}

    .bcms-dropzone:hover {
        cursor: pointer;
    }

.bcms-dropzone-active {
    border: 2px solid #0C7EC7;
    box-shadow: 0 0 10px 0 #daf5ff, inset 0 0 10px #daf5ff;
}

    .bcms-dropzone-active .bcms-dropzone-infotext {
        margin: 0;
        line-height: 145px;
        font-size: 24px;
        font-weight: 400;
    }

    .bcms-dropzone-active .bcms-btn-upload-files {
        display: none;
    }

.bcms-dropzone-infotext {
    text-align: center;
    margin-top: 40px;
    color: #0383df;
    font-size: 20px;
    font-weight: 700;
}

.bcms-upload-cancel-link {
    float: right;
    text-transform: uppercase;
}

    .bcms-upload-cancel-link:hover {
        text-decoration: underline;
    }

.bcms-btn-upload-files {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    margin: 15px 0;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    box-shadow: 0 0 1px 1px #292929;
    background-color: #676767;
    background-image: linear-gradient(to bottom, #676767 0, #555555 100%);
    background-image: -moz-linear-gradient(top, #676767 0, #555555 100%);
    background-image: -webkit-linear-gradient(top, #676767 0, #555555 100%);
}

    .bcms-btn-upload-files:active {
        box-shadow: 0 0 2px 1px #292929;
        background: #555;
    }

.bcms-icn-delete-link {
    float: right;
}

.bcms-upload-holder .bcms-upload-block:first-child {
    border-top: 1px solid #e3e3e3;
}

.bcms-upload-block {
    height: 39px;
    background-color: #eff9fd;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #e3e3e3;
    overflow: hidden;
}

    .bcms-upload-block > div {
        float: left;
    }

.bcms-upload-file-titles {
    width: 250px;
    padding: 0 15px;
    line-height: 39px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bcms-upload-bar-holder {
    width: 304px;
    padding-right: 15px;
    line-height: 39px;
    overflow: hidden;
}

.bcms-progress-bar {
    display: inline-block;
    vertical-align: middle;
    width: 302px;
    height: 10px;
    border: 1px solid #cdcdcd;
    box-shadow: inset 0 0 5px rgba(170,170,170,0.36);
    background-color: #e3e3e3;
}

.bcms-progress-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 39px;
    font-weight: 700;
    font-size: 14px;
}

.bcms-progress {
    height: 12px;
    margin: -1px;
    background-color: #0C7EC7;
}

.bcms-uploaded-info {
    width: 40px;
    text-align: right;
    padding-right: 15px;
    line-height: 39px;
    font-weight: 700;
}

.bcms-upload-size-info {
    width: 95px;
    padding: 0 10px;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    line-height: 39px;
}

.bcms-media-delete-holder {
    position: relative;
    width: 62px;
    padding: 9px;
}

.bcms-upload-description {
    font-size: 11px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.bcms-upload-failed {
    background-color: #fcecec;
}

    div.bcms-upload-failed .bcms-upload-description {
        color: #d9000d;
    }

div.bcms-upload-success {
    background-color: #e8fae5;
}

    div.bcms-upload-success .bcms-upload-description {
        color: #117000;
    }

/*site settings media manager*/
.bcms-media-controls-holder {
    float: left;
    margin-top: -4px;
}

    .bcms-media-controls-holder a {
        display: inline-block;
        color: #0383df;
        font-size: 10px;
        vertical-align: middle;
        cursor: pointer;
    }

        .bcms-media-controls-holder a:hover {
            text-decoration: underline;
        }

.bcms-select-list {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    overflow: hidden;
    text-indent: 9999px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAZCAYAAAGZXkRaAAAAe0lEQVQ4y2M4cODAQyD+z/D/PwQjGJE7390D4v8MIHncav6D1cBEMJTgFoAZC8XHyDGDsADMhVB8AEMFNnc9RHMbfncSdAQ2R91DcxjpjsTlQAocRytjaSSJJwj/D4SxxMTaPXxBjAcfoMzmkehsYHw9xBeXePCxkehsAFIWbewiC0rOAAAAAElFTkSuQmCC') no-repeat center 1px;
}

#bcms-list-view.bcms-select-active {
    background-position: center -14px;
}

.bcms-select-grid {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    overflow: hidden;
    text-indent: 9999px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAZCAYAAAGQteQgAAABE0lEQVQ4y5WTMcoCMRCF9wDCVlYLC54hlUfxAh7AMwiCJwkIVmm02htsJXiJ/2/SCnHe8BLi4IIpvjB5M9mZZGa73e3/KaQOixrTNCUA46GGyEcsAZIuuh2EleC6lFIB7o3QCy5/9SzM2DieGbInaE77ARQQchFOWAtj9pyEuRTMj4RyAVle3FyEK+34keUj46JDEkUm9QR2LI/EOkN5tFwFjtcVfRXxGo6i2g3Hf77I4s20YGzqjn8V0QFHUe2G41WbSrt4kWB9EKMRPYO90f8gboV9xZrBg9Fdcxn3SsA0HRh8MMH3xeFpmrSlHj2rQQNHvu3Z6HNnBJ1MBgfrgzjmXpKewb3Rx/onyHgGe6PHpjLeCnAjENQVvWMAAAAASUVORK5CYII=') no-repeat center -14px;
}

#bcms-grid-view.bcms-select-active {
    background-position: center 1px;
}

.bcms-media-new-folder {
    margin-left: 10px;
    padding-left: 29px;
    background: url('images/sprite-media-1.png') no-repeat -3px -56px;
}

.bcms-media-new-file {
    margin-left: 10px;
    padding-left: 29px;
    background: url('images/sprite-media-1.png') no-repeat 0 -96px;
}

.bcms-vertical-separator {
    display: inline-block;
    height: 34px;
    border-left: 1px solid #c0c0c0;
    vertical-align: middle;
}

/*breadcrumbs*/
.bcms-breadcrumbs-holder {
    height: 20px;
    margin: -15px 0 10px;
    padding-left: 30px;
    line-height: 15px;
    font-size: 14px;
    font-weight: 700;
}

.bcms-breadcrumbs-root {
    display: inline-block;
    max-width: 575px;
    height: 20px;
    color: #0383df;
    line-height: 20px;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
}

    .bcms-breadcrumbs-root:first-child {
        padding-left: 21px;
        background: url('images/sprite-media-1.png') no-repeat -3px -29px;
        color: #353535;
    }

        .bcms-breadcrumbs-root:first-child:hover {
            color: #0383df;
        }

/*default sorting block*/
.bcms-grid .bcms-media-sorting-block .bcms-media-col-1 {
    display: none;
}

.bcms-grid .bcms-media-sorting-block .bcms-media-col-2 {
    border-left: 0;
}

.bcms-list .bcms-media-sorting-block .bcms-media-col-1 {
    width: 40px;
}

.bcms-media-sorting-block {
    height: 35px;
    background-color: #f5f5f5;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

    .bcms-media-sorting-block > div {
        float: left;
        height: 100%;
    }

    .bcms-media-sorting-block .bcms-media-col-2 {
        width: 180px;
        border-left: 1px solid #c6c6c6;
        border-right: 1px solid #c6c6c6;
    }

    .bcms-media-sorting-block .bcms-media-col-3 {
        width: 180px;
        border-right: 1px solid #c6c6c6;
    }

    .bcms-media-sorting-block .bcms-media-col-4 {
        width: 180px;
        border-right: 1px solid #c6c6c6;
    }

    .bcms-media-sorting-block .bcms-sort-arrow {
        margin: 8px 0 0 20px;
    }

.bcms-media-col-2:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.bcms-media-col-3:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.bcms-media-col-4:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

/*images in grid*/
.bcms-grid .bcms-image-box {
    position: relative;
    float: left;
    width: 105px;
    height: 96px;
    margin: 10px 5px 0;
    padding: 10px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    .bcms-grid .bcms-image-box .bcms-media-file-holder {
        width: 103px;
        height: 94px;
        background: url('images/bcms-no-image-3.png') no-repeat center center;
        background-size: cover;
        border: 1px solid #c6c6c6;
        overflow: hidden;
    }

        .bcms-grid .bcms-image-box .bcms-media-file-holder img {
            display: block;
            width: 103px;
            height: 94px;
        }

    .bcms-grid .bcms-image-box:hover > .bcms-media-edit-controls {
        display: block;
    }

    .bcms-grid .bcms-image-box .bcms-media-edit-controls {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(90,187,236,0.6);
        border: 1px solid #c6c6c6;
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .bcms-grid .bcms-image-box .bcms-media-edit-controls .bcms-media-name {
            padding: 5px;
            color: #000;
            line-height: 12px;
            font-size: 10px;
            text-align: left;
            cursor: default;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .bcms-grid .bcms-image-box .bcms-icn-edit {
        position: absolute;
        bottom: 8px;
        left: 10px;
        background: 0;
        text-indent: 0;
        font-size: 10px;
        overflow: visible;
    }

        .bcms-grid .bcms-image-box .bcms-icn-edit:hover {
            text-decoration: underline;
        }

    .bcms-grid .bcms-image-box .bcms-icn-delete {
        position: absolute;
        bottom: 8px;
        right: 10px;
        padding-right: 0;
        background: 0;
        font-size: 10px;
        color: #000;
    }

        .bcms-grid .bcms-image-box .bcms-icn-delete:hover {
            text-decoration: underline;
            background-position: right -970px;
        }

    .bcms-grid .bcms-image-box .bcms-media-items-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 105px;
        height: 100px;
        overflow: hidden;
    }

        .bcms-grid .bcms-image-box .bcms-media-items-block .bcms-media-name {
            display: none;
        }

/*media manger files*/
.bcms-list .bcms-grid-input {
    display: none;
    position: absolute;
    left: 135px;
    top: 50%;
    height: 30px;
    width: 380px;
    line-height: 18px;
    padding: 6px;
    margin: -15px 0 0;
    border: 1px solid #1894e4;
    box-shadow: 0 0 3px 0 rgba(24,145,230,0.35);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #000;
    vertical-align: middle;
    background: #fff;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input.bcms-grid-input:focus {
    outline: none;
}

.bcms-add-folder:hover .bcms-system-addfolder {
    background-position: 0 -297px;
}

.bcms-system-folder {
    display: inline-block;
    width: 56px;
    height: 42px;
    background: url('images/sprite-media-1.png') no-repeat 0 -176px;
    vertical-align: middle;
}

.bcms-system-file {
    display: inline-block;
    width: 56px;
    height: 43px;
    background: url('images/sprite-media-3.png') no-repeat;
    vertical-align: middle;
}

.bcms-media-name {
    line-height: 16px;
    font-size: 11px;
    color: #0383df;
}

.bcms-list div.bcms-media-click-active {
    background-color: #effcfe;
    transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}

    .bcms-list div.bcms-media-click-active:hover {
        background-color: #effcfe;
    }

.bcms-grid div.bcms-media-click-active {
    background-color: #effcfe;
    transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}

.bcms-grid .bcms-media-click-active > .bcms-media-edit-controls {
    display: block;
    background: rgba(90,187,236,0.6);
}

/*images in list*/
.bcms-list .bcms-image-box {
    position: relative;
    height: 62px;
    padding: 0 20px 0 40px;
    border-bottom: 1px solid #e3e3e3;
}

    .bcms-list .bcms-image-box:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

        .bcms-list .bcms-image-box:hover a.bcms-icn-edit {
            background-position: center -869px;
        }

            .bcms-list .bcms-image-box:hover a.bcms-icn-edit:active {
                background-position: center -903px;
            }

    .bcms-list .bcms-image-box .bcms-icn-edit {
        position: absolute;
        left: 16px;
        top: 50%;
        margin-top: -10px;
    }

    .bcms-list .bcms-image-box .bcms-media-items-block {
        display: inline-block;
        padding: 10px 15px;
        border-left: 1px solid #e3e3e3;
        vertical-align: middle;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .bcms-list .bcms-image-box .bcms-media-name {
        display: inline-block;
        max-width: 420px;
        padding-left: 20px;
        vertical-align: middle;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bcms-list .bcms-image-box .bcms-media-edit-controls {
        float: right;
        margin-top: 22px;
    }

        .bcms-list .bcms-image-box .bcms-media-edit-controls .bcms-media-name {
            display: none;
        }

    .bcms-list .bcms-image-box .bcms-media-file-holder {
        display: inline-block;
        width: 54px;
        height: 40px;
        background: url('images/bcms-no-image-3.png') no-repeat center center;
        overflow: hidden;
        vertical-align: middle;
        border: 1px solid #c6c6c6;
        background-size: cover;
    }

        .bcms-list .bcms-image-box .bcms-media-file-holder img {
            display: block;
            width: 54px;
            height: 40px;
        }

/*folders in grid*/
.bcms-grid .bcms-folder-box {
    position: relative;
    float: left;
    width: 105px;
    height: 96px;
    margin: 10px 5px 0;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    .bcms-grid .bcms-folder-box .bcms-media-items-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 105px;
        height: 100px;
        overflow: hidden;
    }

    .bcms-grid .bcms-folder-box .bcms-system-folder {
        margin-top: 15px;
    }

    .bcms-grid .bcms-folder-box:hover div.bcms-system-folder {
        background-position: 0 -235px;
    }

    .bcms-grid .bcms-folder-box .bcms-media-name {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 105px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .bcms-grid .bcms-folder-box .bcms-grid-input {
        display: none;
        position: absolute;
        bottom: 5px;
        left: 4px;
        width: 95px;
        margin: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .bcms-grid .bcms-folder-box .bcms-media-edit-controls {
        display: none;
    }

    .bcms-grid .bcms-folder-box .bcms-media-inner-controls {
        display: none;
    }

    .bcms-grid .bcms-folder-box .bcms-icn-edit {
        display: none;
    }

    .bcms-grid .bcms-folder-box .bcms-icn-delete {
        display: none;
    }

/*folders in grid active box*/
.bcms-grid .bcms-folder-box-active {
    background-color: #effcfe;
}

    .bcms-grid .bcms-folder-box-active .bcms-media-name {
        display: none;
    }

    .bcms-grid .bcms-folder-box-active input.bcms-grid-input {
        display: block;
    }

    .bcms-grid .bcms-folder-box-active div.bcms-media-edit-controls {
        display: block;
    }

/*folders in list*/
.bcms-list .bcms-folder-box {
    position: relative;
    height: 62px;
    padding: 0 20px 0 40px;
    border-bottom: 1px solid #e3e3e3;
}

    .bcms-list .bcms-folder-box:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

        .bcms-list .bcms-folder-box:hover div.bcms-system-folder {
            background-position: 0 -235px;
        }

    .bcms-list .bcms-folder-box .bcms-icn-edit {
        position: absolute;
        left: 16px;
        top: 50%;
        margin-top: -10px;
    }

    .bcms-list .bcms-folder-box:hover a.bcms-icn-edit {
        background-position: center -869px;
    }

        .bcms-list .bcms-folder-box:hover a.bcms-icn-edit:active {
            background-position: center -903px;
        }

    .bcms-list .bcms-folder-box .bcms-media-inner-controls {
        display: none;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 130px;
        margin-top: -17px;
    }

    .bcms-list .bcms-folder-box .bcms-media-items-block {
        display: inline-block;
        min-width: 480px;
        padding: 10px 15px;
        border-left: 1px solid #e3e3e3;
        vertical-align: middle;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .bcms-list .bcms-folder-box .bcms-media-name {
        display: inline-block;
        max-width: 390px;
        padding-left: 20px;
        vertical-align: middle;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .bcms-list .bcms-folder-box .bcms-media-edit-controls {
        float: right;
        margin-top: 22px;
    }

/*folders in list active box*/
.bcms-list .bcms-folder-box-active {
    background-color: #effcfe;
}

    .bcms-list .bcms-folder-box-active:hover {
        background-color: #effcfe;
    }

    .bcms-list .bcms-folder-box-active div.bcms-system-folder {
        background-position: 0 -235px;
    }

    .bcms-list .bcms-folder-box-active div.bcms-media-inner-controls {
        display: block;
    }

    .bcms-list .bcms-folder-box-active div.bcms-media-name {
        display: none;
    }

    .bcms-list .bcms-folder-box-active input.bcms-grid-input {
        display: block;
    }

    .bcms-list .bcms-folder-box-active .bcms-icn-edit {
        background-position: center -869px;
    }

    .bcms-list .bcms-folder-box-active a.bcms-icn-delete {
        display: none;
    }

/*add new folder*/
.bcms-media-addfolder-holder {
    padding: 10px 51px;
}

.bcms-system-addfolder {
    display: inline-block;
    width: 56px;
    height: 42px;
    background: url('images/sprite-media-1.png') no-repeat 0 -126px;
    vertical-align: middle;
}

.bcms-grid .bcms-add-folder {
    position: relative;
    float: left;
    width: 105px;
    height: 96px;
    margin: 10px 5px 0;
    padding: 10px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

    .bcms-grid .bcms-add-folder .bcms-media-name {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 105px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .bcms-grid .bcms-add-folder .bcms-system-addfolder {
        margin-top: 5px;
    }

.bcms-list .bcms-add-folder {
    position: relative;
    height: 62px;
    padding: 0 20px 0 40px;
    cursor: pointer;
}

    .bcms-list .bcms-add-folder .bcms-media-items-block {
        border-left: 0;
    }

    .bcms-list .bcms-add-folder .bcms-media-items-block {
        display: inline-block;
        padding: 10px 15px;
        vertical-align: middle;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .bcms-list .bcms-add-folder .bcms-media-name {
        display: inline-block;
        padding-left: 20px;
        vertical-align: middle;
        font-size: 14px;
    }

/*files in grid*/
.bcms-grid .bcms-file-box {
    position: relative;
    float: left;
    width: 105px;
    height: 96px;
    margin: 10px 5px 0;
    padding: 10px 0;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

    .bcms-grid .bcms-file-box .bcms-media-items-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 105px;
        height: 100px;
        overflow: hidden;
    }

    .bcms-grid .bcms-file-box .bcms-system-file {
        margin-top: 20px;
    }

    .bcms-grid .bcms-file-box .bcms-media-name {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 105px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .bcms-grid .bcms-file-box .bcms-grid-input {
        display: none;
        position: absolute;
        bottom: 5px;
        left: 4px;
        width: 95px;
        margin: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .bcms-grid .bcms-file-box .bcms-media-edit-controls {
        display: none;
    }

    .bcms-grid .bcms-file-box .bcms-media-inner-controls {
        display: none;
    }

    .bcms-grid .bcms-file-box .bcms-icn-edit {
        display: none;
    }

    .bcms-grid .bcms-file-box .bcms-icn-delete {
        display: none;
    }

/*files in grid active box*/
.bcms-grid .bcms-file-box-active {
    background-color: #effcfe;
}

    .bcms-grid .bcms-file-box-active .bcms-media-name {
        display: none;
    }

    .bcms-grid .bcms-file-box-active input.bcms-grid-input {
        display: block;
    }

    .bcms-grid .bcms-file-box-active div.bcms-media-edit-controls {
        display: block;
    }

/*files in list*/
.bcms-list .bcms-file-box {
    position: relative;
    height: 62px;
    padding: 0 20px 0 40px;
    border-bottom: 1px solid #e3e3e3;
}

    .bcms-list .bcms-file-box:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .bcms-list .bcms-file-box .bcms-icn-edit {
        position: absolute;
        left: 16px;
        top: 50%;
        margin-top: -10px;
    }

    .bcms-list .bcms-file-box:hover a.bcms-icn-edit {
        background-position: center -869px;
    }

        .bcms-list .bcms-file-box:hover a.bcms-icn-edit:active {
            background-position: center -903px;
        }

    .bcms-list .bcms-file-box .bcms-media-inner-controls {
        display: none;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 130px;
        margin-top: -17px;
    }

    .bcms-list .bcms-file-box .bcms-media-items-block {
        display: inline-block;
        min-width: 480px;
        padding: 10px 15px;
        border-left: 1px solid #e3e3e3;
        vertical-align: middle;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .bcms-list .bcms-file-box .bcms-media-name {
        display: inline-block;
        max-width: 390px;
        padding-left: 20px;
        vertical-align: middle;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .bcms-list .bcms-file-box .bcms-media-edit-controls {
        float: right;
        margin-top: 22px;
    }

/*files in list active box*/
.bcms-list .bcms-file-box-active {
    background-color: #effcfe;
}

    .bcms-list .bcms-file-box-active:hover {
        background-color: #effcfe;
    }

    .bcms-list .bcms-file-box-active div.bcms-media-inner-controls {
        display: block;
    }

    .bcms-list .bcms-file-box-active div.bcms-media-name {
        display: none;
    }

    .bcms-list .bcms-file-box-active input.bcms-grid-input {
        display: block;
    }

    .bcms-list .bcms-file-box-active .bcms-icn-edit {
        background-position: center -869px;
    }

    .bcms-list .bcms-file-box-active a.bcms-icn-delete {
        display: none;
    }

/*additional file types*/
.bcms-uknown-icn {
    background-position: 0 0;
}

.bcms-media-click-active .bcms-uknown-icn {
    background-position: -84px 0;
}

.bcms-file-box:hover .bcms-uknown-icn {
    background-position: -84px 0;
}

.bcms-file-box-active .bcms-uknown-icn {
    background-position: -84px 0;
}

.bcms-pdf-icn {
    background-position: 0 -112px;
}

.bcms-media-click-active .bcms-pdf-icn {
    background-position: -84px -112px;
}

.bcms-file-box:hover .bcms-pdf-icn {
    background-position: -84px -112px;
}

.bcms-file-box-active .bcms-pdf-icn {
    background-position: -84px -112px;
}

.bcms-word-icn {
    background-position: 0 -167px;
}

.bcms-media-click-active .bcms-word-icn {
    background-position: -84px -167px;
}

.bcms-file-box:hover .bcms-word-icn {
    background-position: -84px -167px;
}

.bcms-file-box-active .bcms-word-icn {
    background-position: -84px -167px;
}

.bcms-mp3-icn {
    background-position: 0 -279px;
}

.bcms-media-click-active .bcms-mp3-icn {
    background-position: -84px -279px;
}

.bcms-file-box:hover .bcms-mp3-icn {
    background-position: -84px -279px;
}

.bcms-file-box-active .bcms-mp3-icn {
    background-position: -84px -279px;
}

.bcms-mp4-icn {
    background-position: 0 -334px;
}

.bcms-media-click-active .bcms-mp4-icn {
    background-position: -84px -334px;
}

.bcms-file-box:hover .bcms-mp4-icn {
    background-position: -84px -334px;
}

.bcms-file-box-active .bcms-mp4-icn {
    background-position: -84px -334px;
}

.bcms-ppt-icn {
    background-position: 0 -389px;
}

.bcms-media-click-active .bcms-ppt-icn {
    background-position: -84px -389px;
}

.bcms-file-box:hover .bcms-ppt-icn {
    background-position: -84px -389px;
}

.bcms-file-box-active .bcms-ppt-icn {
    background-position: -84px -389px;
}

.bcms-xls-icn {
    background-position: 0 -446px;
}

.bcms-media-click-active .bcms-xls-icn {
    background-position: -84px -446px;
}

.bcms-file-box:hover .bcms-xls-icn {
    background-position: -84px -446px;
}

.bcms-file-box-active .bcms-xls-icn {
    background-position: -84px -446px;
}

.bcms-rar-icn {
    background-position: 0 -501px;
}

.bcms-media-click-active .bcms-rar-icn {
    background-position: -84px -501px;
}

.bcms-file-box:hover .bcms-rar-icn {
    background-position: -84px -501px;
}

.bcms-file-box-active .bcms-rar-icn {
    background-position: -84px -501px;
}

.bcms-wav-icn {
    background-position: 0 -556px;
}

.bcms-media-click-active .bcms-wav-icn {
    background-position: -84px -556px;
}

.bcms-file-box:hover .bcms-wav-icn {
    background-position: -84px -556px;
}

.bcms-file-box-active .bcms-wav-icn {
    background-position: -84px -556px;
}

/*context menu*/
.bcms-media-context {
    display: none;
    position: absolute;
    min-width: 80px;
    padding: 10px 30px 10px 20px;
    background: #eff9fd;
    border: 1px solid #c6c6c6;
    z-index: 999;
    text-align: left;
}

    .bcms-media-context a {
        color: #0383df;
        cursor: pointer;
    }

        .bcms-media-context a:hover {
            text-decoration: underline;
        }

.bcms-media-context-tl:before {
    right: 100%;
    top: 10px;
    content: " ";
    height: 8px;
    width: 5px;
    position: absolute;
    pointer-events: none;
    background: url('images/sprite-media-1.png') no-repeat 0 0;
}

.bcms-media-context-bl:before {
    right: 100%;
    bottom: 10px;
    content: " ";
    height: 8px;
    width: 5px;
    position: absolute;
    pointer-events: none;
    background: url('images/sprite-media-1.png') no-repeat 0 0;
}

.bcms-media-context-tr:before {
    left: 100%;
    top: 10px;
    content: " ";
    height: 8px;
    width: 5px;
    position: absolute;
    pointer-events: none;
    background: url('images/sprite-media-1.png') no-repeat -7px 0;
}

.bcms-media-context-br:before {
    left: 100%;
    bottom: 10px;
    content: " ";
    height: 8px;
    width: 5px;
    position: absolute;
    pointer-events: none;
    background: url('images/sprite-media-1.png') no-repeat -7px 0;
}

.bcms-media-content-link {
    display: block;
    font-size: 14px;
    line-height: 24px;
}
