@using BetterCms.Module.Root.ViewModels.Cms

@model RenderPageViewModel

@if (Model.CanManageContent)
{
    <div class="bcms-layout-path" style="display:none">
        <div class="bcms-path-arrow-left bcms-path-arrow-inactive"></div>
        <div class="bcms-path-arrow-right"></div>
        <div class="bcms-layout-path-inner">
            @if (Model.RenderingPage != null)
            {
                @RenderMasterPage(Model.RenderingPage)
            }
        </div>
        <div class="bcms-layout-path-handle">
            Hide Path
        </div>
    </div>
}

@helper RenderMasterPage(RenderPageViewModel viewModel)
{
    if (viewModel.MasterPage != null)
    {
        @RenderMasterPage(viewModel.MasterPage)
        <div class="bcms-layout-path-item bcms-path-master" data-url="@viewModel.MasterPage.PageUrl">@viewModel.MasterPage.Title</div>
    }
}