<script type="text/html" id="bcms-tooltip-template">
    <div class="bcms-tooltip-holder" style="display: none; position: absolute;">
        <div class="bcms-tooltip-box">
            <p></p>
        </div>
    </div>
</script>
