<?xml version="1.0"?>

<!--
requestTimeout = 20 sec
channelOpenTimeout = 5 sec
ttlValue = 300 sec = 5 minutes
maxOutputDelay = 2 milliseconds
channelInitializationTimeout = 30 sec
receiveTimeout = 120 sec = 2 minutes
-->

<dataCacheClient requestTimeout="20000" channelOpenTimeout="5000" maxConnectionsToServer="1">
  
  <localCache isEnabled="false" sync="TimeoutBased"  objectCount="100000"  ttlValue="30" />

  <hosts>
    <host name="appfabric.cache.hostname.com" cachePort="22233" />
  </hosts>

  <securityProperties mode="None" protectionLevel="None" />

  <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456" maxBufferSize="2147483647" maxOutputDelay="2" channelInitializationTimeout="30000" receiveTimeout="1200000"/>
</dataCacheClient>

<!-- 
Instructions for server side:
      Export-CacheClusterConfig 
      Stop-CacheCluster
      Import-CacheClusterConfig 
      Start-CacheCluster 
      
XML changes:
 <advanctedProperties>
    <transportProperties maxBufferPoolSize="" maxBufferSize="" ..../>
 </advanctedProperties>

Client Side:
 <dataCacheClient>
    <transportProperties maxBufferPoolSize="" maxBufferSize="" ..../>
-->
