<div class="bcms-innertab-header">
    <a class="bcms-tab bcms-tab-active" href="#bcms-tab-1">Images</a>
    <a class="bcms-tab" href="#bcms-tab-2">Videos</a>
    <a class="bcms-tab" href="#bcms-tab-3">Files</a>
</div>
<div id="bcms-tab-1" class="bcms-tab-single">

    <div class="bcms-top-block-holder">
        <div class="bcms-media-controls-holder">
            <a id="bcms-list-view" class="bcms-view-switch bcms-select-list bcms-select-active">List</a>
            <a id="bcms-grid-view" class="bcms-view-switch bcms-select-grid">Grid</a>
            <div class="bcms-vertical-separator"> </div>
            <a class="bcms-media-new-folder">New Folder</a>
            <a class="bcms-media-new-file">Upload Image</a>
        </div>
        <div class="bcms-search-block">
            <input type="text" class="bcms-editor-field-box" placeholder="Search..." />
            <div class="bcms-btn-search">Search</div>
        </div>
    </div>

    <div id="bcms-view-container" class="bcms-list-style">

        <div class="bcms-media-sorting-block">
            <div class="bcms-media-col-1"></div>
            <div class="bcms-media-col-2">
                <a class="bcms-sort-arrow">File Name</a>
            </div>
            <div class="bcms-media-col-3">
                <a class="bcms-sort-arrow">File Size</a>
            </div>
            <div class="bcms-media-col-4">
                <a class="bcms-sort-arrow">File Type</a>
            </div>
        </div>
        
        <div class="bcms-media-folder-box">
            <div class="bcms-media-items-block">
                <div class="bcms-system-folder"></div>
                <div class="bcms-system-folder-name">Name of the Folder 36 characters max</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the Folder 36 characters max</div>
                <input type="text" name="itemname" style="display: none">
                <div class="bcms-media-inner-controls">
                    <div class="bcms-btn-small">Save</div>
                    <div class="bcms-btn-links-small">Cancel</div>
                </div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>
        
        <div class="bcms-media-folder-box">
            <div class="bcms-media-items-block">
                <div class="bcms-system-folder"></div>
                <div class="bcms-system-folder-name">Name of the Folder 36 characters max</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the Folder 36 characters max</div>
                <input type="text" name="itemname" style="display: none">
                <div class="bcms-media-inner-controls">
                    <div class="bcms-btn-small">Save</div>
                    <div class="bcms-btn-links-small">Cancel</div>
                </div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>
        
        <div class="bcms-media-folder-box">
            <div class="bcms-media-items-block">
                <div class="bcms-system-folder"></div>
                <div class="bcms-system-folder-name">Name of the Folder 36 characters max</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the Folder 36 characters max</div>
                <input type="text" name="itemname" style="display: none">
                <div class="bcms-media-inner-controls">
                    <div class="bcms-btn-small">Save</div>
                    <div class="bcms-btn-links-small">Cancel</div>
                </div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>

        <div class="bcms-media-file-box">
            <div class="bcms-media-items-block">
                <div class="bcms-media-file-holder">
                    <img src="@Url.Content("~/Content/images/thumb-media-sample.jpg")" alt=""/>
                </div>
                <div class="bcms-system-folder-name">Name of the image</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the image</div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>

        <div class="bcms-media-file-box">
            <div class="bcms-media-items-block">
                <div class="bcms-media-file-holder">
                    <img src="@Url.Content("~/Content/images/thumb-media-sample.jpg")" alt=""/>
                </div>
                <div class="bcms-system-folder-name">Name of the image</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the image</div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>

        <div class="bcms-media-file-box">
            <div class="bcms-media-items-block">
                <div class="bcms-media-file-holder">
                    <img src="@Url.Content("~/Content/images/thumb-media-sample.jpg")" alt=""/>
                </div>
                <div class="bcms-system-folder-name">Name of the image</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the image</div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>

        <div class="bcms-media-file-box">
            <div class="bcms-media-items-block">
                <div class="bcms-media-file-holder">
                    @*//captured image should be inserted here//*@
                </div>
                <div class="bcms-system-folder-name">Name of the image</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the image</div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>

        <div class="bcms-media-file-box">
            <div class="bcms-media-items-block">
                <div class="bcms-media-file-holder">
                    <img src="@Url.Content("~/Content/images/thumb-media-sample.jpg")" alt=""/>
                </div>
                <div class="bcms-system-folder-name">Name of the image</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the image</div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>

        <div class="bcms-media-file-box">
            <div class="bcms-media-items-block">
                <div class="bcms-media-file-holder">
                    @*//captured image should be inserted here//*@
                </div>
                <div class="bcms-system-folder-name">Name of the image</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the image</div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>

        <div class="bcms-media-file-box">
            <div class="bcms-media-items-block">
                <div class="bcms-media-file-holder">
                    @*//captured image should be inserted here//*@
                </div>
                <div class="bcms-system-folder-name">Name of the image</div>
            </div>
            <div class="bcms-media-edit-controls">
                <div class="bcms-system-folder-name">Name of the image</div>
                <a class="bcms-icn-edit">Edit</a>
                <a class="bcms-icn-delete">Delete</a>
            </div>
        </div>

    </div>

</div>
<div id="bcms-tab-2" class="bcms-tab-single">
   
</div>
<div id="bcms-tab-3" class="bcms-tab-single">
   
</div>