@using BetterCms.Module.Root.Content.Resources

@model BetterCms.Module.Root.Mvc.Grids.EditableGridColumn

<td @Html.Raw(Model.Attributes)>
    <div class="bcms-author-picture">
        <!-- ko if: image().url() && isActive() -->
        <a class="bcms-remove-image" data-bind="click: image().remove.bind(image())">@RootGlobalization.Button_Remove</a>
        <!-- /ko -->
        <!-- ko if: image().url() -->
        <a data-bind="click: image().preview.bind(image())"><img data-bind="attr: {src: image().thumbnailUrl(), alt: image().tooltip() }" /></a>
        <!-- /ko -->
    </div>

    <!-- ko if: isActive() -->
    <div class="bcms-blog-browse-images" data-bind="click: image().select.bind(image())">@RootGlobalization.Button_Browse</div>
    <!-- /ko -->
</td>