@using BetterCms.Module.Pages.ViewModels.SiteSettings

@model BetterCms.Module.Pages.ViewModels.Filter.PagesGridViewModel<SiteSettingPageViewModel>

<div class="bcms-scroll-window">
    @Html.Partial("Pages")
</div>