@import '../../core/variables';

//module blog templates grid
.bcms-blog-templates-container {
    padding-top: 10px;
}

.bcms-blog-templates-container .bcms-top-block-holder {
    border-bottom: 1px solid #c6c6c6;
}

.bcms-blog-templates-holder {
    display: inline-block;
    padding: 0 0 10px 11px;
}

.bcms-blog-templates {
    position: relative;
    float: left;
    width: 217px;
    height: 260px;
    padding: 10px 24px 20px;
    margin-left: 11px;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.bcms-blog-templates:first-child {
    margin-left: 0;
}

.bcms-blog-templates-active {
    border-color: #0383df;
    background-color: #eff9fd;
}

.bcms-blog-templates-active-text {
    color: #0383df;
    font-size: 18px;
    font-weight: 700;
}

.bcms-blog-templates-image-holder {
    position: relative;
    height: 145px;
    width: 165px;
    margin: 0 auto;
    border: 1px solid #c6c6c6;
    background: url('images/bcms-no-image-1.png') no-repeat center center #f5f5f5;
    overflow: hidden;
}

.bcms-blog-templates-image-holder > div.bcms-blog-templates-image {
    height: 100%;
    width: 100%;
    background: #ffffff;
}

.bcms-blog-templates-image-holder img {
    display: block;
    max-height: 145px;
    max-width: 165px;
}

.bcms-blog-templates-button-holder {
    padding-top: 20px;
    line-height: 33px;
    text-align: center;
}

.bcms-blog-templates-image-holder:hover > .bcms-zoom-overlay {
    cursor: pointer;
    opacity: 1;
    filter: Alpha(opacity=100);
}

.bcms-blog-templates-image-holder:hover > .bcms-blog-templates-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #148add;
    opacity: 0.4;
}

.bcms-blog-templates-notcompatible {
    border: 1px solid #e64343;
    background-color: #fcecec;
}

.bcms-blog-templates-notcompatible .bcms-zoom-overlay {
    background-image: url('images/icn-zoom-notcompatible.png');
}

.bcms-blog-templates-notcompatible-text {
    color: #e64343;
    font-size: 18px;
    font-weight: 700;
}

//module create new blog post
.bcms-new-blog-content {
    display: inline-block;
    padding: 20px 0 20px 40px;
}

.bcms-blog-left {
    float: left;
    width: 510px;
}

.bcms-blog-right {
    float: left;
    width: 330px;
    margin: 20px 0 0 20px;
    padding: 20px 5px;
    border-style: solid;
    border-width: 5px 1px 1px 1px;
    border-color: #cce0e9 #e4e4e4 #e4e4e4 #e4e4e4;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.bcms-blog-dates-holder {
    display: inline-block;
}

.bcms-blog-dates-holder .bcms-input-field-holder {
    float: left;
    margin-left: 20px;
}

.bcms-blog-right > .bcms-input-field-holder {
    margin: 20px 0 0 20px;
}

.bcms-blog-right > .bcms-create-author-holder {
    position: relative;
    margin: 0 0 0 20px;
}

.bcms-blog-right .bcms-upload-info {
    display: inline-block;
    width: 140px;
    padding-left: 20px;
    vertical-align: top;
}

.bcms-blog-right .bcms-upload-info-text {
    height: 86px;
    font-size: 12px;
    overflow: hidden;
}

.bcms-blog-right .bcms-btn-small {
    margin-top: 10px;
}

.bcms-create-author-holder .bcms-tooltip-mark {
    top: 4px;
    left: -15px;
}

.bcms-blog-categories-holder {
    position: relative;
    margin: 5px 0 -17px 20px;
}

.bcms-blog-categories-holder .bcms-content-titles {
    display: inline-block;
}

.bcms-blog-tags-holder {
    position: relative;
    margin: 0 0 0 20px;
}

.bcms-blog-tags-holder .bcms-content-titles {
    display: inline-block;
}

//module author tab
.bcms-author-picture {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    background: url('images/bcms-no-image-3.png') no-repeat center center;
    vertical-align: middle;
    border: 1px solid #c6c6c6;
    background-size: cover;
}

.bcms-author-picture img {
    width: 100%;
    background: #f5f5f5;
}

.bcms-blog-browse-images {
    margin: 10px auto 0;
    cursor: pointer;
    color: #0383df;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.bcms-blog-browse-images:hover {
    color: #24597e;
}

//module Import blog posts
.bcms-import-failed {
    background-color: #fcecec;
}

.bcms-import-failed .bcms-import-error {
    color: #d9000d;
    font-size: 12px;
}

.bcms-import-success {
    background-color: #e8fae5;
}

.bcms-icn-import-success {
    width: 12px;
    height: 13px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 9999px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANCAYAAAHqLr/UAAAAsklEQVQoz2NQOMvAAMIgggfGABMGDDA5IP4PY1yCq4HipcicELBaKEZRhsqBYhWYyauBuBoqeBiIXyHraIGaF4jPKBAWwib4GWQ8umA+shP/QwWZoWwhmMQ9IL4BxN+AeAW65f+RdKJIqMOMIORcXI5aSkghyKEHoIpBISXKALVyBVQSPYw/QxWvRnbSfKjgTyA2Q3MCCIdg84MlEP+BKviG5AQhdGcic9iA+CTMc7j8BQD3Drtv1DbDeQAAAABJRU5ErkJggg==');
}

.bcms-icn-import-warn {
    width: 12px;
    height: 12px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 9999px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAAE8d1zJAAAA+klEQVQoz13RP0tCURjH8asEBRGIDWltCs4J6dKrMME2oa1egbk2NjSka0OQe1ONOeomVITQJi0RQkHY4p/vT35HLg2fw33+3Oece2708ZKJsFySGOmhqmVLyzGG6onceB6CItYwVzBz9Sq0zVHGNp5wpOQZcm4YYB2T8IaCBzyjHt8x412rjpcFBX9I4RDTUNDGB7h2dwk1PUyc2Mct9nCqRAsnLhY8IRk2r/tEj9iInyqBCvr4xLuN8era6rRZvKGHbrjEmE3nNSAbbvkLO24oe8CNL0q5Xfc0In/yL5r/Juc9uY0L/Kg3FPVzOr48Xf2l3eMbd0irdwG2fCIWmRn0SgAAAABJRU5ErkJggg==');
}

.bcms-icn-import-error {
    width: 10px;
    height: 9px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 9999px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAF8oY2FAAAAZElEQVQY02N45uw8DYi/MsAZ////Z0AQQKH/YA6QYYcsuhxD5D8QO0LpTOyCIAtAElBJO5ClIEYmskoUW2ACMDdgqsRlZgtU5Rcg9kZS4A0VA8m1MCBJZEAlkHEG3G6iFRJrNQAfBNhPNe12LwAAAABJRU5ErkJggg==');
}

.bcms-download-sample-file {
    margin-top: -7px;
}
