<?xml version="1.0"?>
<cms
      useMinifiedResources="true"
      resourcesBasePath="//d3hf62uppzvupw.cloudfront.net/{bcms.version}/"
      loginUrl="/?returnUrl={returnUrl}"
      webSiteUrl="Auto" 
      pageNotFoundUrl="/404/"
      workingDirectoryRootPath="~/App_Data/BetterCms"
      articleUrlPattern="/articles/{0}/"
      accessControlEnabled="false"
      urlMode="TrailingSlash"> <!-- Possible values: NoTrailingSlash, TrailingSlash, Mixed -->

  <urlPatterns>
    <add expression="\/(bin|app_code|app_globalresources|app_localresources|app_data|app_browsers|theme)\/" ignoreCase="true" negate="true" description="{0} cannot contain these as directories: bin, App_Code, App_GlobalResources, App_Localresources, App_Data, App_Browsers, Theme" />
  </urlPatterns>

  <storage serviceType="Ftp" contentRoot="[content root]" processTimeout="00:30:00">
    <add key="RootUrl" value="[root url]" />
    <add key="FtpRoot" value="[ftp root]" />
    <add key="FtpUserName" value="[ftp user name]" />
    <add key="FtpPassword" value="[ftp password]" />
  </storage>


  <!--<storage serviceType="AmazonS3" contentRoot="[contentRoot]" processTimeout="00:30:00">
    <add key="AmazonAccessKey" value="[your access key]" />
    <add key="AmazonSecretKey" value="[your secret key]" />
    <add key="AmazonBucketName" value="[your bucket name]" />
  </storage>-->
  

  <database
     schemaName="dbo"
     connectionStringName="BetterCms"
     databaseType="MsSql2008">
  </database>

  <!-- If custom role provider is used instead of "BetterCms.Module.Users.Provider.RoleProvider",
       custom roles need to be mapped to Better CMS permissions. Example: -->
  <security fullAccessRoles="Admin,User" enableContentEncryption="true" contentEncryptionKey="hellohehellohellohellohellollo"> 
    <!--
    <customRoles>
      <add permission="BcmsEditContent" roles="User" />
      <add permission="BcmsPublishContent" roles="User" />
      <add permission="BcmsDeleteContent" roles="User, Admin" />
      <add permission="BcmsAdministration" roles="Admin" />
    </customRoles>
    -->
  </security>

  <moduleGallery
    feedUrl="http://mynugetfeed.com/nuget">
  </moduleGallery>

</cms>
