<?xml version="1.0"?>
<cms
      controlerPath="/cms/"
      loginUrl="/?returnUrl={returnUrl}"
      resourcesRoot="/Content/Resources/"
      workingDirectoryRootPath="~/App_Data/BetterCms"
      defaultImageWidth="550"
      localResourcesPath="/Content/Resources/uploadify/"
      cmsDevEnv="true"
      enforcePermissions="true">

  <urlPatterns>
    <add expression="^[0-9a-z-/]+$" description="Path can contain only following characters: '0-9', 'a-z', '-', '/'" />
    <add expression="^/" description="Path must start with forward flash: /" />
    <add expression="/$" description="Path must end with forward flash: /" />
    <add expression="^/(cms|bin)/" negate="true" description="Url can not have these as first directory: cms, local, bin" />
  </urlPatterns>

  <menuSections>
    <section name="Custom Links">
      <links>
        <link name="Home" url="/" />
        <link name="Documentation" url="/documentation/" />
      </links>
    </section>
  </menuSections>

  <storage serviceType="Ftp" contentRoot="[content root]">
    <add key="RootUrl" value="[root url]" />
    <add key="FtpRoot" value="[ftp root]" />
    <add key="FtpUserName" value="[ftp user name]" />
    <add key="FtpPassword" value="[ftp password]" />
  </storage>


  <!--<storage serviceType="AmazonS3" contentRoot="[contentRoot]">
    <add key="AmazonAccessKey" value="[your access key]" />
    <add key="AmazonSecretKey" value="[your secret key]" />
    <add key="AmazonBucketName" value="[your bucket name]" />
  </storage>-->
  

  <database
     schemaName="dbo"
     connectionStringName="BetterCmsTest" >
  </database>

  <security
     contentManagementRoles="?,Admin,Users"
     contentPublishingRoles="?,Admin"
     pagePublishingRoles="?,Admin">
  </security>

  <moduleGallery
    feedUrl="http://mynugetfeed.com/nuget">
  </moduleGallery>

</cms>
