<?xml version="1.0"?>

<storage>
  <amazonStorage serviceType="Auto" contentRoot="" contentRootUrl="" processTimeout="00:05:00">
    <add key="AmazonAccessKey" value="" />
    <add key="AmazonSecretKey" value="" />
    <add key="AmazonBucketName" value="" />
  </amazonStorage>

  <ftpStorage serviceType="Ftp" contentRoot="" processTimeout="00:05:00">
    <add key="FtpRoot" value="" />
    <add key="FtpUserName" value="" />
    <add key="FtpPassword" value="" />
    <add key="UsePassiveMode" value="" />
  </ftpStorage>

  <azureStorage serviceType="Auto" contentRoot="" processTimeout="00:05:00">
    <add key="AzureAccountName" value="" />
    <add key="AzureSecondaryKey" value="" />
    <add key="AzureContainerName" value="" />
    <add key="AzureUseHttps" value="" />
  </azureStorage>
</storage>