/* sitemap page "add new node"*/
.bcms-sitemap-links-holder {
    padding: 10px 20px;
}

.bcms-sidebar-search {
    position: relative;
    padding: 15px 30px 15px 0;
}

    .bcms-sidebar-search .bcms-editor-field-box {
        background-color: #fff;
    }

    .bcms-sidebar-search .bcms-btn-search {
        margin-left: -5px;
    }

.bcms-addnode-placement-holder {
    min-height: 52px;
    display: block;
    padding: 0 0 4px;
}

    .bcms-addnode-placement-holder .bcms-placement-node:hover {
        border: 1px dashed #bdbdbd;
        cursor: move;
    }

    .bcms-addnode-placement-holder-readonly {
        min-height: 52px;
        display: block;
        padding: 0 0 4px;
    }

.bcms-sitemap-holder {
    padding: 0 20px;
    margin-top: -8px;
}

.bcms-sitemap-filter-holder {
    position: relative;
    display: table-caption;
    height: 62px;
    margin-left: 10px;
}

.bcms-language-bar {
    display: table;
    height: 63px;
}

.bcms-sitemap-filter-holder .bcms-table-middle-box {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

.bcms-sitemap-filter-holder .bcms-expand-link-holder {
    position: absolute;
    top: 25px;
    right: 20px;
    width: auto;
}

.bcms-sitemap-history {
    height: 100%;
    overflow: auto;
}

    .bcms-sitemap-history .bcms-sitemap-filter-holder {
        display: block;
    }

.bcms-add-node-col {
    border-top: 1px solid #C6C6C6;
}

.bcms-drop-area {
    min-height: 65px;
    padding-top: 20px;
    margin: 0 20px 20px;
    border: 2px dashed #0383df;
    border-radius: 4px;
}

/*new page placement*/
/*left-sidebar*/
.bcms-dropable-page-box {
    position: relative;
    padding: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    background-color: #fff;
    cursor: move;
}

    .bcms-dropable-page-box:hover {
        border: 1px dashed #a4a4a4;
    }

    .bcms-dropable-page-box:active {
        opacity: 0.8;
    }

    .bcms-dropable-page-box .bcms-content-titles {
        padding-bottom: 5px;
    }

    .bcms-dropable-page-box .bcms-dropable-text {
        padding-bottom: 20px;
    }

/*nodes tree*/
.bcms-tree-holder > div {
    position: relative;
}

.bcms-placement-node + .bcms-zone-holder {
    margin-top: 8px;
}

.bcms-zone-holder {
    position: relative;
    border-left: 3px solid #c6c6c6;
    padding: 0 0 0 20px;
}

.bcms-nodes-dropzone + .bcms-zone-holder {
    margin-top: 0;
}

/*dropzone*/
.bcms-nodes-dropzone {
    padding: 4px 0;
}

.bcms-nodes-dropzone-active {
    padding: 8px 0;
}

    .bcms-nodes-dropzone-active .bcms-node-infotext {
        display: block;
    }

.bcms-node-infotext {
    display: none;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    color: #bdbdbd;
    border: 1px dashed #bdbdbd;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
}

.bcms-placement-holder {
    display: block;
    padding: 0 20px;
    margin-top: -8px;
}

.bcms-leftcol-helper {
    border-top: 1px solid #c6c6c6;
}

.bcms-placement-node {
    position: relative;
    height: 30px;
    padding: 8px 15px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    background-color: #f5f5f5;
}

    .bcms-placement-node:hover .bcms-node-controls {
        display: block;
    }

    .bcms-placement-node .bcms-placement-title {
        max-width: 450px;
        line-height: 16px;
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
        cursor: pointer;
    }

    .bcms-placement-node .bcms-placement-path {
        max-width: 350px;
        line-height: 16px;
        font-size: 11px;
        color: #0383df;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        text-decoration: none;
    }

.bcms-load-more-btn {
    height: 17px;
    cursor: pointer;
    text-align: center;
}
    .bcms-load-more-btn:hover {
        border-color: #0383df;
    }
.bcms-load-spinner-item {
    height: 17px !important;
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    background-size: 35px 35px !important;
    margin: 0 !important;
    border: 0 !important;
}
.bcms-placement-node-drag {
    border: 1px dashed #bdbdbd;
    background: #effcfe;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

div.bcms-placement-one-active {
    background: #effcfe;
    cursor: move;
}

.bcms-placement-node-drag a.bcms-icn-edit {
    display: none;
}

.bcms-placement-node-drag a.bcms-icn-delete {
    display: none;
}

.bcms-expand-collapse-node {
    position: absolute;
    left: -8px;
    top: -8px;
    width: 16px;
    height: 16px;
    background: url('images/sprite-base-2.png') no-repeat -2px -179px;
    cursor: pointer;
    text-indent: -9999px;
}

a.bcms-expanded-nodes {
    background-position: -23px -179px;
}

.bcms-expand-link-holder {
    display: inline-block;
    width: 100%;
}

.bcms-expand-link {
    float: right;
    line-height: 16px;
    padding-left: 11px;
    color: #0383df;
    text-decoration: none;
    cursor: pointer;
}

    .bcms-expand-link:hover {
        text-decoration: underline;
    }

.bcms-placement-dropzone {
    height: 46px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 46px;
    border: 2px dashed #bdbdbd;
    border-radius: 2px;
    background: #fff;
}

/*editable node*/
.bcms-edit-node {
    display: none;
}

.bcms-edit-node-holder {
    position: relative;
    padding-bottom: 5px;
}

    .bcms-edit-node-holder .bcms-tooltip-mark {
        top: 1px;
        left: -20px;
    }

.bcms-placement-node-edit {
    height: 67px;
    padding-left: 30px;
}

    .bcms-placement-node-edit:hover div.bcms-node-controls {
        display: none;
    }

    .bcms-placement-node-edit .bcms-node-info {
        display: none;
    }

    .bcms-placement-node-edit .bcms-edit-node {
        display: block;
    }

.bcms-node-controls {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 5px 10px;
    box-sizing: border-box;
}

/*menu*/
div.bcms-menu-left-col {
    width: 50%;
}

div.bcms-add-node-col > .bcms-content-titles {
    cursor: pointer;
}

div.bcms-add-node-col .bcms-placement-node {
    width: 195px;
    margin-bottom: 5px;
}

div.bcms-add-node-col .bcms-placement-dropzone {
    margin-bottom: 5px;
}

/*OUTDATED DO NOT DEETE UNTIL SITEMAP IS FULLY IMPLEMNTED*/
/*

.bcms-placement-holder-inner {
    border-left: 3px solid #e3e3e3;
    padding-left: 20px;
}*/
