.bcms-clearfix:after, .bcms-top-block-filters:after {
  content: '';
  display: table;
  clear: both;
}

.bcms-search-field-box {
  margin: 0;
  padding: 0;
}

.bcms-sitemap-links-holder {
  padding: 10px 20px;
}

.bcms-sidebar-search {
  margin: 15px 0;
  position: relative;
}

.bcms-sidebar-search .bcms-editor-field-box {
  background-color: #fff;
}

.bcms-addnode-placement-holder {
  display: block;
  min-height: 52px;
  padding: 0 0 4px;
}

.bcms-addnode-placement-holder .bcms-placement-node:hover {
  border: 1px dashed #bdbdbd;
  cursor: move;
}

.bcms-addnode-placement-holder-readonly {
  display: block;
  min-height: 52px;
  padding: 0 0 4px;
}

.bcms-sitemap-holder {
  margin-top: -8px;
  padding: 0 20px;
}

.bcms-sitemap-filter-holder {
  display: table-caption;
  height: 62px;
  margin-left: 10px;
  position: relative;
}

.bcms-language-bar {
  display: table;
  margin-top: 15px;
}

.bcms-language-selector-box {
  float: right;
  margin-top: 0;
}

.bcms-table-middle-box {
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
}

.bcms-sitemap-filter-holder .bcms-expand-link-holder {
  position: absolute;
  right: 20px;
  top: 25px;
  width: auto;
}

.bcms-sitemap-history {
  height: 100%;
  overflow: auto;
}

.bcms-sitemap-history .bcms-sitemap-filter-holder {
  display: block;
}

.bcms-add-node-col {
  border-top: 1px solid #C6C6C6;
}

.bcms-drop-area {
  border: 2px dashed #0383df;
  border-radius: 4px;
  margin: 0 20px 20px;
  min-height: 65px;
  padding-top: 20px;
}

.bcms-dropable-page-box {
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  cursor: move;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 15px;
  position: relative;
}

.bcms-dropable-page-box:hover {
  border: 1px dashed #a4a4a4;
}

.bcms-dropable-page-box:active {
  opacity: 0.8;
}

.bcms-dropable-page-box .bcms-content-titles {
  padding-bottom: 5px;
}

.bcms-dropable-page-box .bcms-dropable-text {
  padding-bottom: 20px;
}

.bcms-tree-holder > div {
  position: relative;
}

.bcms-edit-node {
  display: none;
}

.bcms-edit-node-holder {
  padding-bottom: 5px;
  position: relative;
}

.bcms-edit-node-holder .bcms-tooltip-mark {
  left: -20px;
  top: 1px;
}

.bcms-placement-node-edit {
  height: 67px;
  padding-left: 30px;
}

.bcms-placement-node-edit:hover div.bcms-node-controls {
  display: none;
}

.bcms-placement-node-edit .bcms-node-info {
  display: none;
}

.bcms-placement-node-edit .bcms-edit-node {
  display: block;
}

.bcms-node-controls {
  box-sizing: border-box;
  display: none;
  padding: 12px 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
}

div.bcms-menu-left-col {
  width: 50%;
}

div.bcms-add-node-col > .bcms-content-titles {
  cursor: pointer;
}

div.bcms-add-node-col .bcms-placement-node {
  margin-bottom: 5px;
  width: 195px;
}

div.bcms-add-node-col .bcms-placement-dropzone {
  margin-bottom: 5px;
}

.bcms-placement-node + .bcms-zone-holder {
  margin-top: 8px;
}

.bcms-zone-holder {
  position: relative;
  border-left: 3px solid #c6c6c6;
  padding: 0 0 0 20px;
}

.bcms-nodes-dropzone + .bcms-zone-holder {
  margin-top: 0;
}

.bcms-nodes-dropzone {
  padding: 4px 0;
}

.bcms-nodes-dropzone-active {
  padding: 8px 0;
}

.bcms-nodes-dropzone-active .bcms-node-infotext {
  display: block;
}

.bcms-node-infotext {
  display: none;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  color: #bdbdbd;
  border: 1px dashed #bdbdbd;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
}

.bcms-placement-holder {
  display: block;
  padding: 0 20px;
  margin-top: -8px;
}

.bcms-leftcol-helper {
  border-top: 1px solid #c6c6c6;
}

.bcms-placement-node {
  position: relative;
  height: 30px;
  padding: 8px 15px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  background-color: #f5f5f5;
}

.bcms-placement-node:hover .bcms-node-controls {
  display: block;
}

.bcms-placement-node .bcms-placement-title {
  max-width: 450px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  cursor: pointer;
}

.bcms-placement-node .bcms-placement-path {
  max-width: 350px;
  line-height: 16px;
  font-size: 11px;
  color: #0383df;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-decoration: none;
}

.bcms-placement-node-drag {
  border: 1px dashed #bdbdbd;
  background: #effcfe;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

div.bcms-placement-one-active {
  background: #effcfe;
  cursor: move;
}

.bcms-placement-node-drag a.bcms-icn-edit {
  display: none;
}

.bcms-placement-node-drag a.bcms-icn-delete {
  display: none;
}

.bcms-expand-collapse-node {
  position: absolute;
  left: -8px;
  top: -8px;
  width: 16px;
  height: 16px;
  background: url("images/sprite-base-2.png") no-repeat -2px -179px;
  cursor: pointer;
  text-indent: -9999px;
}

a.bcms-expanded-nodes {
  background-position: -23px -179px;
}

.bcms-expand-link-holder {
  display: inline-block;
  width: 100%;
}

.bcms-expand-link {
  float: right;
  line-height: 16px;
  padding-left: 11px;
  color: #0383df;
  text-decoration: none;
  cursor: pointer;
}

.bcms-expand-link:hover {
  text-decoration: underline;
}

.bcms-placement-dropzone {
  height: 46px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 46px;
  border: 2px dashed #bdbdbd;
  border-radius: 2px;
  background: #fff;
}

.bcms-history-preview-holder {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  padding-bottom: 251px;
  position: relative;
}

.bcms-history-preview {
  height: 100%;
  width: 100%;
}

.bcms-history-info {
  color: #24597e;
  font-size: 19px;
  font-weight: 700;
  left: 0;
  line-height: 1.5em;
  margin-top: -139px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.bcms-history-content {
  padding: 20px;
}

.bcms-history-table-holder {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.bcms-history-table-top {
  background-color: #e3e3e3;
  border-top: 4px solid #7a7a7a;
  padding: 10px 15px;
}

.bcms-history-grid thead tr {
  display: block;
}

.bcms-history-cell:hover {
  background-color: #fff;
}

.bcms-scroll-tbody {
  height: 160px;
  overflow-y: scroll;
}

.bcms-scroll-tbody tr:hover a.bcms-icn-preview {
  background-position: -60px -133px;
}

.bcms-scroll-tbody tr:hover a.bcms-icn-preview:active {
  background-position: -60px -159px;
}

.bcms-scroll-tbody tr:hover a.bcms-icn-restore {
  background-position: right -1121px;
  color: #303030;
}

.bcms-scroll-tbody tr:hover a.bcms-icn-restore:active {
  background-position: right -1151px;
  color: #df2200;
}

.bcms-scroll-tbody tbody td {
  vertical-align: middle;
}

.bcms-published-state {
  color: #24597e;
}

.bcms-draft-state {
  color: #20cd00;
}

.bcms-archived-state {
  color: #e64343;
}

.bcms-editseo-window {
  width: 670px;
  min-height: 100%;
}

.bcms-editseo-urlpath {
  font-size: 12px;
  color: #595959;
}

.bcms-edit-urlpath-box {
  position: relative;
  min-width: 503px;
  max-width: 620px;
  z-index: 1;
  padding-bottom: 10px;
  margin: -22px 0 0 0;
}

.bcms-permissions-column {
  float: left;
  width: 170px;
  padding: 0 30px 20px 0;
}

.bcms-edit-check-field {
  padding: 10px 0 0;
}

.bcms-edit-check-field input[type="checkbox"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.bcms-edit-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.bcms-top-block-holder {
  padding: 20px 0;
  position: relative;
}

.bcms-top-block-inner {
  display: inline-block;
  vertical-align: middle;
}

.bcms-top-block-inner.bcms-active-search .bcms-search-block {
  min-width: 330px;
  opacity: 1;
}

.bcms-top-block-inner.bcms-active-search .bcms-search-field-box {
  min-width: 280px;
}

.bcms-top-block-pager {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

.bcms-top-block-filters {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 5px 0;
}

.bcms-top-controls-btn-holder {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.bcms-btn-opener {
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  transition: background-color 200ms;
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  width: 37px;
  background: #0d7ce7 url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNy44IiBoZWlnaHQ9IjEwLjMiIHZpZXdCb3g9Ii01OTEuNiA3ODMuNSAxNy44IDEwLjMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgLTU5MS42IDc4My41IDE3LjggMTAuMyI+PHBhdGggZD0ibS01NzUuMiA3ODQuOWwtNy41IDcuNS03LjUtNy41IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==") no-repeat center;
  cursor: pointer;
}

.bcms-btn-opener:hover {
  background-color: #0a62b7;
}

.bcms-btn-opener-holder {
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  left: 0;
  border: 1px solid #0d7ce7;
  box-sizing: border-box;
  display: none;
  z-index: 5;
}

.bcms-btn-opener-holder.bcms-opened {
  display: block;
}

.bcms-btn-opener-link {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffffff;
  border-top: 1px solid #0d7ce7;
  color: #0d7ce7;
  line-height: 37px;
}

.bcms-btn-opener-link:first-child {
  border-top: 0;
}

.bcms-search-block {
  -webkit-transition: opacity 150ms ease-in, width 150ms ease-in;
  -moz-transition: opacity 150ms ease-in, width 150ms ease-in;
  transition: opacity 150ms ease-in, width 150ms ease-in;
  display: inline-block;
  vertical-align: middle;
  min-width: 250px;
  opacity: 0;
  position: relative;
  white-space: nowrap;
}

.bcms-search-field-box {
  height: 37px;
  width: 250px;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #0d7ce7;
  border-left: 0;
  box-sizing: border-box;
  color: #303646;
  font-size: 14px;
  font-style: italic;
}

.bcms-search-field-box::-webkit-input-placeholder {
  color: #a6a6a6;
  font-size: 14px;
  font-style: italic;
}

.bcms-search-field-box::-moz-placeholder {
  color: #a6a6a6;
  font-size: 14px;
  font-style: italic;
}

.bcms-search-field-box:-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 14px;
  font-style: italic;
}

.bcms-filter-holder {
  float: right;
  position: relative;
  z-index: 1;
}

.bcms-grid-filtering {
  border: 1px solid transparent;
  box-sizing: border-box;
  line-height: 30px;
}

.bcms-grid-filtering.bcms-active-filter {
  border-color: #dfdfdf;
  border-bottom-color: #ffffff;
}

.bcms-filterbox {
  padding-left: 5px;
  padding-right: 20px;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iLTMwMCAzOTMgMTAgOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAtMzAwIDM5MyAxMCA4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDojQUNBQ0FDO30NCjwvc3R5bGU+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTI5NiwzOTcuOGwtNC00LjhoMTBsLTQsNC44djMuMmgtMlYzOTcuOCIvPg0KPC9zdmc+DQo=") no-repeat 90% center;
  color: #a1a1a1;
  cursor: pointer;
  font-size: 11px;
  line-height: 28px;
  position: relative;
  text-transform: uppercase;
}

.bcms-filter-selection-block {
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  padding: 15px;
  width: 450px;
  z-index: -1;
}

.bcms-filter-controls {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 8px;
  padding-bottom: 5px;
}

.bcms-filter-options {
  float: left;
  padding-bottom: 5px;
  padding-right: 5px;
}

.bcms-filter-options:first-child {
  margin-right: 15px;
}

.bcms-filter-options .bcms-global-select {
  height: 28px;
  padding-top: 2px;
  width: 200px;
}

.bcms-filter-text {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.bcms-filter-field-holder {
  position: relative;
}

.bcms-filter-field-holder .bcms-add-tags-field {
  background-color: #fff;
  height: 20px;
  line-height: 20px;
  width: 180px;
}

.bcms-check-field-holder {
  float: left;
  margin: 4px 0 0 -3px;
}

.bcms-newcontent-top {
  height: 80px;
  padding-top: 20px;
}

.bcms-newcontent-top .bcms-input-field-holder {
  float: left;
  margin-left: 20px;
}

.bcms-newcontent-top .bcms-input-field-holder:first-child {
  margin-left: 0;
}

.bcms-text-editor-holder {
  padding-bottom: 25px;
  position: relative;
}

.bcms-slider-box {
  padding: 20px;
  position: relative;
}

.bcms-slider-box:hover a.bcms-slider-prev, .bcms-slider-box:hover a.bcms-slider-next {
  opacity: 1;
}

.bcms-slides-container {
  height: 265px;
  margin: 0 auto;
  width: 750px;
}

.bcms-slides-container .bcms-slides-single-slide {
  height: 265px;
  width: 750px;
}

a.bcms-slider-prev, a.bcms-slider-next {
  background: url("images/sprite-pages-2.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  width: 44px;
  z-index: 10;
}

a.bcms-slider-prev {
  background-position: 15px 50%;
  left: 0;
}

a.bcms-slider-prev:active {
  background-position: -27px 50%;
}

a.bcms-slider-next {
  background-position: -70px 50%;
  right: 0;
}

a.bcms-slider-next:active {
  background-position: -112px 50%;
}

.bcms-slides-single-slide .bcms-preview-block {
  margin: 0 16px 0 22px;
}

.bcms-title-holder .bcms-content-titles {
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bcms-controls-holder .bcms-icn-delete {
  margin-top: -10px;
  position: absolute;
  right: -15px;
  top: 50%;
}

.bcms-category-titles {
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
}

.bcms-uploaded-image {
  background: url("images/bcms-no-image-2.png") no-repeat center center #f5f5f5;
  border: 1px solid #c6c6c6;
  display: inline-block;
  height: 124px;
  position: relative;
  width: 124px;
}

.bcms-uploaded-image img {
  background: #f5f5f5;
  max-width: 100%;
}

.bcms-page-images-holder {
  width: 840px;
}

.bcms-page-images-holder .bcms-input-list-holder {
  display: inline-block;
  margin-right: 50px;
}

.bcms-page-images-holder .bcms-btn-small {
  display: block;
  text-align: center;
}

.bcms-tags-box-holder {
  border-bottom: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
  padding: 10px 0 0 30px;
}

.bcms-tags-box-holder .bcms-content-titles:hover {
  color: #24597e;
  cursor: pointer;
}

.bcms-tags-box-holder .bcms-content-titles {
  display: inline-block;
  vertical-align: top;
}

.bcms-categories-box-holder {
  border-top: 1px solid #c6c6c6;
}

.bcms-categories-box-holder .bcms-content-titles:hover {
  color: #24597e;
  cursor: pointer;
}

.bcms-categories-box-holder .bcms-content-titles {
  display: inline-block;
  vertical-align: top;
}

.bcms-addpage-title {
  position: relative;
}

.bcms-addpage-title .bcms-tooltip-mark {
  left: -15px;
  top: 4px;
}

.bcms-sidebar-info-block {
  left: 20px;
  position: absolute;
  top: 70px;
  width: 193px;
}

.bcms-sidebar-info-block > .bcms-content-titles {
  line-height: 18px;
  margin-bottom: 5px;
}

.bcms-sidebar-info-block .bcms-btn-main {
  margin-top: 10px;
}

.bcms-sitemap-title-link {
  color: #0383df;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
}

.bcms-title-show-helper {
  position: relative;
}

.bcms-add-language-button {
  padding: 0 0 10px 50px;
}

.bcms-add-language-button .bcms-btn-links-main {
  padding-left: 0;
}

.bcms-preview-module-image {
  background: url("images/bcms-no-image-1.png") no-repeat center center #f5f5f5;
  border: 1px solid #c6c6c6;
  float: left;
  height: 350px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 521px;
}

.bcms-preview-module-image > div {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.bcms-preview-module-image img {
  background: #f5f5f5;
  max-height: 350px;
  max-width: 521px;
}

.bcms-check-field {
  display: inline-block;
  vertical-align: middle;
}

.bcms-check-label {
  display: inline-block;
  vertical-align: middle;
}

.bcms-btn-field-holder {
  float: right;
}

.bcms-tracking-code {
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bcms-sitemaps-arrow-left {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAbElEQVQY02NgmPGOAQnLAPFLIP4PxLP////PgCzJBsQnoZLHQXx0BXOgki+gJjEgK8iASv4EYluYJpgCK6gESEEOsptgCs5AJS+gOZh4E9DdYINNAQjPhSp6DsTS2BSwA/EpfOGAPSRBBD4MAL5/ytmW8CT1AAAAAElFTkSuQmCC") no-repeat center;
  cursor: pointer;
  float: left;
  height: 100%;
  width: 22px;
}

.bcms-sitemaps-arrow-left.bcms-sitemaps-arrow-inactive {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAbElEQVQY02Pw9PRkQMIyQPwSiP8D8ez///8zIEuyAfFJqORxEB9dwRyo5AuoSQzICjKgkj+B2BamCabACioBUpCD7CaYgjNQyQtoDibeBHQ32GBTAMJzoYqeA7E0NgXsQHwKXzhgD0kQgQ8DAGp5l2oEYfPPAAAAAElFTkSuQmCC");
}

.bcms-sitemaps-arrow-right {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAdElEQVQY02NgmPFuNhD/B+KXQCwDxAww/P//fwYQgw2Ij0MVnYTyURQwQHW+gCqai00BCNsA8U+oogxsCkA4B6oApNAKmwIQvgBVdAabgmwkE6zxuSET3Q3SQPwcly9A/j4GlTwFxOzoCmAh+QprSIIIfBgAv3TK2uB+QioAAAAASUVORK5CYII=") no-repeat center;
  cursor: pointer;
  float: right;
  height: 100%;
  width: 22px;
}

.bcms-sitemaps-arrow-right.bcms-sitemaps-arrow-inactive {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAdElEQVQY02Pw9PScDcT/gfglEMsAMQMM////nwHEYAPi41BFJ6F8FAUMUJ0voIrmYlMAwjZA/BOqKAObAhDOgSoAKbTCpgCEL0AVncGmIBvJBGt8bshEd4M0ED/H5QuQv49BJU8BMTu6AlhIvsIakiACHwYAa26Xa0spcakAAAAASUVORK5CYII=");
}

.bcms-template-usage {
  color: #C0C0C0;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding-right: 22px;
  position: relative;
}

.bcms-template-usage:hover {
  color: #303030;
  text-decoration: none;
}

.bcms-template-usage:after {
  background: url("images/sprite-base-2.png") no-repeat -60px -107px;
  content: "";
  cursor: pointer;
  height: 12px;
  margin-top: -6px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: 9999px;
  top: 50%;
  transition: all 0.1s ease-in-out 0s;
  width: 18px;
}

.bcms-template-usage:hover:after {
  background-position: -60px -133px;
}
