@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root.Content.Resources

@model BetterCms.Module.Pages.ViewModels.Seo.EditSeoViewModel

@if (!Model.IsInSitemap)
{
    <div class="bcms-messages-ui bcms-js-messages">
        <ul class="bcms-success-messages" style="display: none"></ul>
        <ul class="bcms-info-messages" style="display: none"></ul>
        <ul class="bcms-warning-messages">
            <li>
                <div class="bcms-messages-close bcms-js-btn-close" id="bcms-seo-closeinfomessage">@RootGlobalization.Button_Close</div>
                @PagesGlobalization.EditSeo_Messages_NotInSitemapWarnMessage
            </li>
        </ul>
        <ul class="bcms-error-messages" style="display: none"></ul>
    </div>
}
