@using BetterCms.Module.Navigation.Content.Resources
@using BetterCms.Module.Navigation.Controllers
@using BetterCms.Module.Navigation.ViewModels.Sitemap
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc


<div class="bcms-scroll-window" style="height: 897px;">
    <div class="bcms-columns-container">
        <div class="bcms-leftcol">
            <div class="bcms-sitemap-links-header">
                <div id="bcms-create-link" class="bcms-content-titles">Add Custom Link</div>
                <div class="bcms-plain-text">Drag your page where you want to place it.</div>
                <div class="bcms-add-custom-link">
                    <div class="bcms-content-titles">Title</div>
                    <input type="text" class="bcms-editor-field-box">
                    <div class="bcms-content-titles">URL Path</div>
                    <input type="text" class="bcms-editor-field-box">
                </div>
            </div>
            
            <div class="bcms-sitemap-links-holder">
                <div id="bcms-show-links" class="bcms-content-titles">Add Page Link</div>
                <div class="bcms-sitemap-links-block">
                    <div class="bcms-sidebar-search">
                        <input type="text" class="bcms-editor-field-box" placeholder="Search..." style="width: 166px;">
                        <div class="bcms-btn-search">Search</div>
                    </div>
                    <div class="bcms-sitemap-nodes ui-sortable">
                        <div class="bcms-placement-node">
                            <div class="bcms-placement-title">Home Page</div>
                            <div class="bcms-placement-path">/</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bcms-rightcol">
            <div class="bcms-sitemap-holder">
                <div class="bcms-addnode-placement-holder bcms-sitemap-nodes ui-sortable">
                    @* Form is required for unobtrusive validation. *@
                    @using (Html.BeginForm())
                    {
                        @Html.MessagesBox("bcms-messages-box")
                        @Html.Partial("Partial/Sitemap", new SitemapNodeViewModel())
                    }
                </div>
            </div>
        </div>
    </div>
</div>