@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.ViewModels.Templates
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Grids.Extensions
@using BetterCms.Module.Root.Mvc.Grids.TableRenderers
@using MvcContrib.UI.Grid


@model TemplateEditViewModel
           
@{
    Action<ColumnBuilder<TemplateRegionItemViewModel>> columns = column =>
    {
        column.EditButtonColumn();

        column.For(model => Html.InlineEditColumnWithNamePattern(m => model.Identifier, "bcms-region-key", "bcms-old-region-key", "Regions[{0}].Identifier"))
            .Named(PagesGlobalization.TemplateRegions_IdentificatorColumn)
            .Sortable(false)
            .Attributes(@class => "bcms-option-key");

        column.For(model => Html.InlineEditColumnWithNamePattern(m => model.Description, "bcms-region-description", "bcms-old-region-description", "Regions[{0}].Description"))
           .Named(PagesGlobalization.TemplateRegions_DescriptionColumn)
           .Sortable(false)
           .Attributes(@class => "bcms-option-value");

        column.InlineEditControlsColumn(RootGlobalization.Button_Ok);
    };
}

<div class="bcms-top-block-holder">
    <div class="bcms-btn-links-main" id="bcms-add-region-button">@PagesGlobalization.TemplateRegions_AddNewRegion</div>
</div>

@Html.Grid(Model.Regions).Columns(columns).Attributes(@class => "bcms-tables", @id => "bcms-regions-grid").RowAttributes(delegate(GridRowViewData<TemplateRegionItemViewModel> row)
                  {
                      return new Dictionary<string, object>
                              {
                                    {"data-id", row.Item.Id},
                                    {"data-version", row.Item.Version}
                              };
              }).RenderUsing(new EditableHtmlTableGridRenderer<TemplateRegionItemViewModel>())

                                              <script type="text/html" id="bcms-editable-row-template">
      @(Html
        .Grid(new List<TemplateRegionItemViewModel> { new TemplateRegionItemViewModel() })
        .Columns(columns)
        .Attributes(@class => "bcms-tables")
        .RenderUsing(new HtmlTableGridSingleRowRenderer<TemplateRegionItemViewModel>()))
</script>

