<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" async>
    <link href="~/Content/Styles/bcms.users.min.css" rel="stylesheet" type="text/css">
    @RenderSection("Head", false)
</head>

<body>
    <div class="bcms-modal" spellcheck="true">
        <div class="bcms-modal-body">
            <div class="bcms-modal-header">
                <div class="bcms-modal-frame-holder">
                    <div class="bcms-modal-title">@ViewBag.Title</div>
                </div>
            </div>

            <div class="bcms-modal-content">
                <div class="bcms-window-installation">
                    @RenderBody()
                </div>
            </div>

            <div class="bcms-modal-footer"></div>
        </div>
    </div>
</body>
</html>
