$loader-height: rem(30);
$loader-width: rem(8);

$access-control-buttons: (
                ('plus', $bcms-tree-plus),
                ('minus', $bcms-tree-minus)
);

$loading-spinner: (
                ('loader'),
                ('loader-2')
);

//module titles & containers
.bcms-input-list-holder {
    margin: 30px 0 0;
    position: relative;
}

.bcms-large-titles {
    @include vertical-align();
    color: $text-dark;
    font: {
        size: 18px;
        family: $font-base-family;
    }
}

.bcms-content {
    &-info-container {
        box-sizing: border-box;
        max-width: 50%;
        padding: 30px 0 0 10px;
    }

    &-info-block {
        .bcms-input-list-holder {
            @include vertical-align($align: top);
            margin-top: 0;
        }
    }

    &-titles {
        @include vertical-align();
        color: $text-dark;
        cursor: default;
        font: {
            family: $font-base-family;
            size: 14px;
            weight: 700;
        }
        line-height: 20px;
        margin-bottom: 4px;
        position: relative;

        > a {
            color: $text-blue;
            cursor: pointer;
            font: {
                size: 12px;
                weight: 400;
            }
            margin-left: 10px;
        }
    }

    &-dialog-title {
        border-bottom: $border-thin-smoke;
        color: $text-gray;
        font: {
            size: 18px;
            weight: 600;
        }
        margin-top: 30px;
        padding: 5px 0;
    }

    &-description {

    }
}

//module url paths container
.bcms-edit {
    &-urlpath-box {
        background-color: $bg-gray-lighter;
        border: $border-thin-smoke;
        box-sizing: border-box;
        padding: 10px;
        position: relative;
        z-index: 1;

        .bcms-field-wrapper {
            @include vertical-align();
            width: 80%;
        }
    }

    &-check-field {
        padding: 10px 0 0;

        input[type="checkbox"] {
            margin: 0 5px 0 0;
            vertical-align: middle;
        }
    }
}

.bcms-edit-label {
    @include vertical-align();
    cursor: pointer;
}

//module image upload thumbnails
.bcms-thumb {
    &-container {
        display: table;
        margin-bottom: 45px;
    }

    &-box {
        @include vertical-align($block: table-cell, $align: top);
        padding-right: 50px;

        .bcms-input-list-holder {
            margin-left: 0;
        }

        .bcms-content-titles {
            font: {
                size: 13px;
                weight: 400;
            }
        }

        .bcms-btn-selection {
            width: 100%;
        }
    }

    &-image {
        @include size(125px);
        background-color: $white;
        background-size: cover;
        border: $border-thin-smoke;
        box-sizing: border-box;
        margin-bottom: 5px;
        position: relative;

        img {
            max-width: 100%;
        }
    }
}

//module access control table
.bcms-access {
    &-title {
        border: {
            top: $border-thin-smoke;
            bottom: $border-thin-smoke;
        }
        display: table;
        margin-top: 10px;
        width: 100%;
    }

    &-line {
        border-bottom: $border-thin-smoke;
        display: table;
        width: 100%;
    }

    &-title-text {
        @include vertical-align($block: table-cell);
        color: $text-dark;
        font-size: 12px;
        font-weight: 700;
        padding: 5px;
        text-align: center;
        width: 80px;

        &:first-child {
            padding: 0;
            text-align: left;
            width: auto;
        }
    }

    &-value {
        @include vertical-align($block: table-cell);
        padding: 5px;
        width: 80px;

        &:first-child {
            padding: 0;
            text-align: left;
            width: auto;
        }

        > span {
            vertical-align: middle;
        }

        input[type="radio"] {
            cursor: pointer;
            display: block;
            margin: auto;
        }
    }

    &-value-add {
        color: $text-blue;
        cursor: pointer;

        > span {
            vertical-align: middle;
        }

        .bcms-field-wrapper {
            @include vertical-align();
        }

        .bcms-field-text {
            font-size: 12px;
            height: 20px;
        }
    }

    @each $name, $icon in $access-control-buttons {
        &-#{$name} {
            @include size(20px);
            @include vertical-align();
            background: url($icon) no-repeat center;
            cursor: pointer;
            margin-right: 10px;
            padding: 5px 0;
        }
    }
}

//module BetterCms helper styles
.bcms-inactive {
    position: relative;

    @include virtual(after) {
        @include size(100%);
        @include position(absolute, 0 null null 0);
        background-color: $white;
        cursor: default;
        opacity: .3;
        z-index: 99;
    }
}

//module spinner
.bcms-spinner-container {
    background-color: $white;
}

@each $name, $color in $loading-spinner {
    .bcms-#{$name} {
        @include positioning($center: true, $position: fixed);
        @include size($loader-width $loader-height);
        @include transform(translateZ(0));
        @include animation(loader 800ms infinite ease-in-out);
        @include animation-delay(-160ms);
        background-color: $bg-blue;
        z-index: 9999;
        font-size: 11px;

        @include virtual($both: true) {
            @include animation(loader 800ms infinite ease-in-out);
            @include size($loader-width $loader-height);
            position: absolute;
            background-color: $bg-blue;
            top: 0;
            z-index: 999;
        }

        &:after {
            left: ($loader-width * 1.5);
        }

        &:before {
            @include animation-delay(-320ms);
            left: -($loader-width * 1.5);
        }
    }
}

@include keyframes (loader) {
    0%,
    80%,
    100% {
        box-shadow: 0 0 $bg-blue;
        height: ($loader-height - rem(5));
    }
    40% {
        box-shadow: 0 -2em $bg-blue;
        height: $loader-height;
    }
}
