//module BetterCms helper styles
.bcms-inactive {
    position: relative;

    @include virtual(after) {
        @include size(100%);
        @include position(absolute, 0 null null 0);
        background-color: $white;
        cursor: default;
        opacity: .3;
        z-index: 99;
    }
}
