html,
body {
    height: 100%;
    width: 100%;
}

html {
    &.bcms-noscroll {
        overflow: hidden;
    }
}

body {
    font-family: $font-base-family;
    margin: 0;
}

a,
div,
button {
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

//todo remove when iFrame implemented
[class*="bcms-"] {
    font-family: $font-base-family;
}

//todo end of
.bcms-scroll-window {
    &-settings {
        height: calc(100vh - #{$settings-frame});
        overflow: {
            x: hidden;
            y: scroll;
        }
        padding-right: 30px;
        position: relative;
    }

    &-tabbed {
        height: calc(100vh - #{$settings-frame - $inner-navigation});
        overflow: {
            x: hidden;
            y: scroll;
        }
        padding-right: 30px;
        position: relative;
    }

    &-options {
        background-color: $white;
        height: calc(100vh - #{$settings-frame + $tab-height});
        overflow: {
            x: hidden;
            y: scroll;
        }
        padding-right: 30px;
        position: relative;
    }
}

//fixme remove from html
//.bcms-padded-content {
//    max-width: 830px;
//    padding-left: 50px;
//}

.bcms-modal {
    @include position(fixed, 0);
    background-color: $gray-bg;
    font-size: 13px;
    overflow: hidden;

    &-frame-holder {
        height: 100%;
        margin: auto;
        max-width: $page-width;
        position: relative;
    }

    &-body {
        height: 100vh;
        margin: auto;
        position: relative;
    }

    &-header {
        @include position(absolute, 0 0 null);
        background-color: $main-dark;
        box-sizing: border-box;
        height: $header-height;
        line-height: $header-height;
        padding: 0 $page-frame-gutters;
        z-index: 6;
    }

    &-title {
        color: $white;
        font-size: 20px;
    }

    &-close {
        @include size(15px);
        @include positioning($center-y: true);
        background: url($bcms-close) no-repeat center;
        cursor: pointer;
        overflow: hidden;
        right: 0;
        text-indent: -999em;
    }

    &-content {
        box-sizing: border-box;
        margin: auto;
        padding: $header-height 0 $footer-height;
    }

    &-footer {
        @include position(absolute, null 0 0);
        background-color: $main-dark;
        box-sizing: border-box;
        height: $footer-height;
        padding: 18px $page-frame-gutters;
        z-index: 6;
    }

    &-cmslogo {
        @include positioning($center-y: true);
        right: 0;
    }

    &-edit-seo {
        .bcms-modal-content {
            margin: auto;
            width: $page-width;
        }
    }

    form {
        background: none !important;
        color: inherit !important;
        height: auto !important;
        margin: auto !important;
        max-width: none !important;
        padding: 0 !important;
        width: auto !important;
    }
}

.bcms-no-ui {
    //this class used for any element which doesn't require any styling.
}

//module dialog frame

.bcms-settings {
    &-frame {
        @include size($page-width calc(100vh - #{$settings-frame}));
        background-color: $white;
        border: {
            right: $border-frame;
            left: $border-frame;
        }
        display: table;
        margin: auto;
        table-layout: fixed;
    }

    &-menu {
        @include vertical-align($block: table-cell, $align: top);
        background-color: $gray-l30;
        padding-top: 40px;
        width: $settings-sidebar;
    }

    &-window {
        @include vertical-align($block: table-cell, $align: top);
        padding-left: 30px;
    }

    &-link {
        color: $gray-light;
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 38px;
        padding-left: 40px;
        text-decoration: none;
        text-transform: uppercase;
        width: 210px;

        &:hover,
        &-active {
            background-color: $white;
            color: $black;
            text-decoration: none;
        }

    }
}
