@import '../core/variables';

//module Main Tabed View
.bcms-tab-header {
    background: #303030;
    height: 30px;
    padding: 10px 60px 0;
}

.bcms-tab-header > .bcms-tab {
    background: #e5e5e5;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
    max-width: 250px;
    overflow: hidden;
    padding: 0 22px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 100ms ease;
    -webkit-transition: all 100ms ease;
    white-space: nowrap;
}

.bcms-tab-header > .bcms-tab:hover {
    background-color: #c0c0c0;
}

.bcms-tab-header > a.bcms-tab-active {
    background-color: #FFFFFF;
}

.bcms-tab-header > a.bcms-tab-active:hover {
    background-color: #FFFFFF;
}

//module Inner Tabed View
.bcms-innertab-header {
    background: #eaeaea;
    border-bottom: 1px solid #c6c6c6;
    height: 30px;
    left: -1px;
    margin-top: -1px;
    padding: 25px 20px 0;
    position: relative;
}

.bcms-innertab-header > .bcms-tab {
    background: #e5e5e5;
    border: 1px solid #c6c6c6;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 29px;
    line-height: 29px;
    margin-right: 5px;
    padding: 0 22px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.bcms-innertab-header > .bcms-tab:hover {
    background-color: #c0c0c0;
}

.bcms-innertab-header > a.bcms-tab-active {
    background-color: #FFFFFF;
    border-bottom: 1px solid #fff;
}

.bcms-innertab-header > a.bcms-tab-active:hover {
    background-color: #FFFFFF;
}

//module inner tabs for modal
.bcms-inner-tabs-holder .bcms-tab-header {
    background: #ffffff;
    border-bottom: 1px solid #c6c6c6;
    padding-left: 10px;
}

.bcms-inner-tabs-holder {
    .bcms-tab {
        border: {
            top: $border-thin-gray;
            right: $border-thin-gray;
            left: $border-thin-gray;
        }
        position: relative;

        @include virtual(after) {
            @include position(absolute, null 0 -1px 0);
            border-top: 1px solid $white;
        }
    }

    .bcms-tab-single {
        padding-top: 20px;
    }
}

.bcms-inner-grid-box {
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
    float: left;
    margin-left: 20px;
    max-width: 220px;
    padding: 8px 3px 3px;
    position: relative;
}

.bcms-inner-grid-box:first-child {
    margin-left: 0;
}

.bcms-inner-grid-box .bcms-content-titles {
    padding: 0 4px;
}

.bcms-inner-grid-box-active {
    background-color: #eff9fd;
    border: 2px solid #0383df;
    cursor: default;
}

.bcms-inner-grid-box-active .bcms-content-titles {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA20lEQVQ4y2NgaHrEgIa1gLgPiK8D8Q8ovgYV08JQj8RhA+IpQPwXiP/jwCC5GUDMiW4ASPNuPBrR8V6oHrgBU0nQDMNTYAZoA/EfMgz4A9YLJPqJ0SDa8+R/xtZ36OL9DNDQhguCFIEUo2u+8urXfxDI2Y5iyHWQAT9hAiBJEAAphhmCrBlZHIp/ohiArlhr+nN8mkH4M4YXkA359/8/Ps0gfAVrIBJwNjKeADJAB1s0gjRNPPkJn+Y/YL0UJKSpVE3KFGcmZKwNDpymRzeA+BcQfwGHNkRMB109AFNqT2Ji6QGbAAAAAElFTkSuQmCC") no-repeat right center;
    color: #0383df;
    padding-right: 20px;
}

.bcms-inner-grid-box-notcompatible {
    background-color: #fcecec;
    border: 1px solid #e64343;
}
