//module global colors
$black: #000000;
$white: #ffffff;
$green: #33aa61;
$orange: #e5a12a;
$red: #dc4250;
$blue: #368fd3;
$dark-main: #303646;
$blue-main: #0d7ce7;
$dark: #303030;
$gray: #636363;
$gray-smoke: #dfdfdf;
$gray-light: #a6a6a6;
$light: #d0d0d0;
$gray-lighter: #eae8e9;
$sky-blue: #deeaf1;

//module text colors
$text-gray: $gray;
$text-light: $gray-light;
$text-smoke: $gray-smoke;
$text-dark: $dark-main;
$text-blue: $blue-main;
$text-red: $red;
$text-green: $green;

//module background colors
$bg-red: $red;
$bg-green: $green;
$bg-blue: $blue-main;
$bg-dark: $dark-main;
$bg-gray-lighter: $gray-lighter;
$bg-modal-options: #f3f3f3;
$bg-node-step: #d2cfcf;

//module shadows
$sh-dark: #c8c8c8;

//module border colors
$border-red: $red;
$border-blue: $blue-main;
