@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root.Content.Resources

<div class="bcms-messages-ui bcms-js-messages">
    <ul class="bcms-success-messages" style="display: none"></ul>
    <ul class="bcms-info-messages">
        <li>
            <div class="bcms-messages-close bcms-js-btn-close" id="bcms-editpage-closeinfomessage">@RootGlobalization.Button_Close</div>
            @PagesGlobalization.MasterPage_InfoMessage
        </li>
    </ul>
    <ul class="bcms-warning-messages" style="display: none"></ul>
    <ul class="bcms-error-messages" style="display: none"></ul>
</div>
