@using BetterCms.Module.Pages.Content.Resources
<div class="bcms-messages-type-1">
    <ul class="bcms-success-messages" style="display: none">
    </ul>
    <ul class="bcms-info-messages">
        <li>
            @PagesGlobalization.MasterPage_InfoMessage
        </li>
    </ul>
    <ul class="bcms-warning-messages" style="display: none">
    </ul>
    <ul class="bcms-error-messages" style="display: none">
    </ul>
</div>
