@using BetterCms.Core.DataContracts.Enums
@using BetterCms.Module.Pages.Content.Resources

@model BetterCms.Module.Pages.ViewModels.Content.IDraftDestroy

@if (Model.CurrentStatus == ContentStatus.Draft)
{
    <div class="bcms-messages-type-1">
        <ul class="bcms-success-messages" style="display: none">
        </ul>
        <ul class="bcms-info-messages" style="display: none">
        </ul>
        <ul class="bcms-warning-messages">
            <li>
                @PagesGlobalization.EditPageContent_Messages_DraftStatusWarnMessage
                @if (Model.CanDestroyDraft)
                {
                    @Html.Raw(PagesGlobalization.EditPageContent_Messages_DraftStatusWarnMessage_Destroy)
                }
            </li>
        </ul>
        <ul class="bcms-error-messages" style="display: none">
        </ul>
    </div>
}
