@using BetterCms.Module.Root.Mvc.Helpers

@* Form is required for unobtrusive validation *@
@using (Html.BeginForm())
{
    <div class="bcms-data-bind-container">
        <div data-bind="template: { name: 'bcms-media-list-top-block-template' }"/>

        @Html.MessagesBox("bcms-site-settings-media-messages")

        <div data-bind="template: { name: 'bcms-media-list-template' }" />
    </div>
}