@using BetterCms.Module.MediaManager.Content.Resources

<div id="bcms-files-dropzone" class="bcms-dropzone">
    <div class="bcms-dropzone-infotext" data-bind="text: !(activeUploads().length > 0) ? '@MediaGlobalization.SingleFileUpload_DragDropBox' : '@MediaGlobalization.MultiFileUpload_Uploading'"></div>
    <div class="bcms-btn-upload-files" data-bind="visible: !(activeUploads().length > 0)">
        <label for="uploadFile" class="bcms-btn-upload-files-text">@MediaGlobalization.MultiFileUpload_UploadButton</label>
        <input type="file" name="uploadFile" id="uploadFile" style="position: absolute; left: -999em; top: -999em;" />
    </div>
</div>