<div class="bcms-scroll-window">
    <div class="bcms-insert-content-modal">
        @Html.Partial("~/Areas/bcms-media/Views/MediaManager/Partial/MediaManagerTab.cshtml")
    </div>
</div>

@Html.Partial("~/Areas/bcms-media/Views/MediaManager/Partial/MediaManagerTemplate.cshtml")
