@using BetterCms.Module.MediaManager.Controllers
@using Microsoft.Web.Mvc

<div class="bcms-insert-content-modal">
    @{
        Html.RenderAction<ImagesController>(f => f.ImagesTab());
    }
</div>
