<div class="bcms-modal-frame-holder">
    <div class="bcms-window-options bcms-insert-content-modal">
        @Html.Partial("~/Areas/bcms-media/Views/Shared/Partial/MediaManagerInsertion.cshtml")
    </div>

    @Html.Partial("~/Areas/bcms-media/Views/Shared/Partial/MediaManagerTemplate.cshtml")
</div>