@model BetterCms.Module.ImagesGallery.ViewModels.AlbumEditViewModel

<div class="album">
    <h1 class="gallery-title">
        Album Title <a class="back-link">< Back</a>
        <time datetime="2012-01-01">Jan. 01, 2012</time>
    </h1>

    <div class="gallery-view" id="gallery">
    </div>

    <div class="gallery-scrollbar">
        <div class="gallery-slider"></div>
    </div>

    <div class="thumbnails clearfix">
        <a class="active-image">
            <img src="/Content/images/gallery-1.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-2.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-3.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-4.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-5.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-6.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-1.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-2.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-3.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-4.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-5.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-6.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-1.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-2.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-3.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-4.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-5.jpg" alt="Thumbnail Title" /></a>
        <a>
            <img src="/Content/images/gallery-6.jpg" alt="Thumbnail Title" /></a>
    </div>

    <article class="content-article">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diamnonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, nos trud exe rci tation ullamc orper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel feugait nulla facilisi.</p>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel feugait nulla facilisi.</p>
    </article>
</div>