<br /><br />

<div style="border: 1px solid black; margin-left: 30px; padding: 10px;">
<span style="color: blue;">STARTING DYNAMIC LAYOUT</span>

<p style="maring-left: 10px;">
    @RenderSection("DynamicLayoutSubSection", false)
    @RenderBody()
</p>

<span style="color: blue;">ENDING DYNAMIC LAYOUT</span>
</div>

<br /><br />