@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@model BetterCms.Module.Root.ViewModels.Category.CategoryTemplateViewModel

@{ var canEdit = (ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.EditContent); }

<div class="bcms-content-titles">@RootGlobalization.CategoriesTemplate_AddCategories_Title</div>
@Html.Tooltip(Model.TooltipDescription)
<input type="hidden" id="bcms-js-categories-select" />

<div class="bcms-single-tag-holder" data-bind="foreach: items">
    <div class="bcms-single-tag" >
        <div data-bind="text: $data.text"></div>
        <div data-bind="@(canEdit ? "click: $parent.remove" : string.Empty)">@RootGlobalization.Button_Remove</div>
    </div>
    <input type="hidden" data-bind="attr: { name: 'Categories['+ $index() +'].key', value: $data.id }"/>
</div>
