@model BetterCms.Module.Search.Models.SearchResults

@if (Model != null && Model.Items.Count > 0)
{
    foreach (var item in Model.Items)
    {
        <article class="bcms-search-result">
            <h3>@item.Title</h3>            
            <a href="@item.Link">@item.FormattedUrl</a>
            <p>@item.Snippet</p>            
        </article>
    }
}