@using Autofac
@using BetterCms.Module.Search.Content.Resources
@using BetterCms.Module.Search.Services
@using BetterModules.Core.Dependencies

@model BetterCms.Module.Root.ViewModels.Cms.RenderWidgetViewModel

@{
    bool hasImplementation;
    using (var container = ContextScopeProvider.CreateChildContainer())
    {
        hasImplementation = container.IsRegistered<ISearchService>();
    }

    if (!hasImplementation)
    {
        <h3 style="color: red;">@SearchGlobalization.Search_Module_Has_No_Service_Implementations</h3>
    }
    else
    {
        Html.RenderAction("Results", "Search", new { Area = "bcms-search", WidgetModel = Model });
    }
}