@model BetterCms.Module.Root.ViewModels.Shared.EditableGridViewModel

@if (Model.CanAddNewItems)
{
    <div class="bcms-top-controls-btn-holder">
        <div class="bcms-btn-main" data-bind="click: addNewItem">@Model.AddNewTitle</div>
        <div class="bcms-btn-opener" data-bind="click: addNewItem"> </div>
        <div class="bcms-btn-opener-holder" data-bind="css: {'bcms-opened' : isAddNewSelected}, foreach: optionTypes">
            <div class="bcms-btn-opener-link" data-bind="text: name, click: $parent.addOption, clickBubble: false"></div>
        </div>
    </div>
}
<div class="bcms-language-selector-box" data-bind="visible: showLanguages, with: language">
    <div class="bcms-filter-text">Edit in language:</div>
    <select class="bcms-global-select" data-bind="options: languages, optionsText: 'value', optionsValue: 'key', value: languageId, select2: { minimumResultsForSearch: -1 }"></select>
</div>