@using BetterCms.Module.Root
@using BetterCms.Module.Root.Mvc.Grids

@model EditableGridColumn

<!-- ko if: canEditOption() -->
    <td>&nbsp;</td>
<!-- /ko -->

<!-- ko ifnot: canEditOption() -->
@Html.Partial(RootModuleConstants.EditableGridBooleanCellTemplate, new EditableGridBooleanColumn(Model.HeaderTitle, Model.SortColumn, Model.ValueBind)
                                                                        {
                                                                            HiddenFieldName = Model.HiddenFieldName,
                                                                            HeaderAttributes = Model.HeaderAttributes,
                                                                            AutoFocus = Model.AutoFocus,
                                                                            ShowValueAsText = true
                                                                        })
<!-- /ko -->
