@using BetterCms.Module.Root.Mvc.Grids

@model EditableGridColumn

<!-- ko if: canEditOption() -->
    <td>&nbsp;</td>
<!-- /ko -->

<!-- ko ifnot: canEditOption() -->
<td>
    @if (Model.CanBeEdited)
    {
        <!-- ko if: isActive() -->
        <input type="checkbox" class="bcms-checkbox-holder bcms-pointer" style="position: absolute;" data-bind="
            checked: @(Model.ValueBind),
            click: onItemSelect,
            event: {blur: onBlurField, focus: onItemSelect},
            enterPress: onSave, 
            afterRender: initInput($element, @Model.ValueBind),
            escPress: onCancelEdit
            @(Model.AutoFocus ? ", hasfocus: isActive() && hasFocus" : "") " />
        
        <div style="width: 100%; margin: 0; padding: 0;" data-bind="click: changeUseDefaultValue">&nbsp;</div>
        <!-- /ko -->
        <!-- ko ifnot: isActive() -->
    }
    <input type="checkbox" class="bcms-checkbox-holder" data-bind="checked: @(Model.ValueBind)(), click: onOpen" />
    @if (Model.CanBeEdited)
    {
        <!-- /ko -->
    }
</td>
<!-- /ko -->
