@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@model BetterCms.Module.Pages.ViewModels.Filter.PagesGridViewModel<BetterCms.Module.Pages.ViewModels.SiteSettings.SiteSettingPageViewModel>

<div id="bcms-pages-grid" class="bcms-list-pages">
        <!-- ko foreach: items -->
        <div class="bcms-list-pages-row bcms-js-list-row">
            @if ((ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.MultipleRoles(RootModuleConstants.UserRoles.EditContent, RootModuleConstants.UserRoles.PublishContent)))
            {
                <div class="bcms-list-column bcms-list-edit">
                    <div class="bcms-action-edit bcms-grid-item-edit-button" data-bind="attr: { 'data-id': id }">@RootGlobalization.Button_Edit</div>
                </div>
            }
            
            <div class="bcms-list-column">
                <div class="bcms-list-link bcms-page-title" data-bind="text: title, attr: { 'data-url': url, 'data-id': id }"></div>

                <div class="bcms-list-row">
                    <div class="bcms-list-dates bcms-page-created" data-bind="text: createdOnTitle"></div>
                    <div class="bcms-list-dates bcms-page-created" data-bind="text: modifiedOnTitle"></div>                
                </div>
            </div>

            <div class="bcms-list-column bcms-list-status">
                <div class="bcms-page-ispublished" data-bind="text: pageStatus"></div>
            </div>

                @if ((ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.DeleteContent))
                {
                    <div class="bcms-list-column bcms-list-delete">
                        <div class="bcms-action-delete bcms-grid-item-delete-button" data-bind="attr: { 'data-id': id, 'data-version': version }">@RootGlobalization.Button_Delete</div>
                        <div style="display: none" class="bcms-grid-item.message"></div>
                    </div>
                }
            </div>
        <!-- /ko -->
</div>