<div class="bcms-user-access" data-bind="with: translations">
    <div class="bcms-input-list-holder">
        <div class="bcms-tooltip-mark" data-message="TODO TODO TODO TODO TODO TODO "></div> 
        <div class="bcms-content-titles">Other languages</div> 
        <div class="bcms-access-table">
            <div class="bcms-access-title bcms-clearfix">
                <div class="bcms-access-title-text">Culture</div> 
                <div class="bcms-access-title-text">Title</div> 
                <div class="bcms-access-title-text">Url</div> 
            </div> 
            <div data-bind="foreach: items()">
                <!-- ko if: cultureId() != $parent.culture.cultureId() -->
                <div class="bcms-access-line bcms-clearfix">
                    <div class="bcms-access-value">
                        <div class="btn-acces-minus" data-bind="click: $parent.unassignPage">&nbsp;</div> <span data-bind="html: cultureName()"></span> 
                    </div> 
                    <div class="bcms-access-value" data-bind="html: title()"></div> 
                    <div class="bcms-access-value"><a data-bind="html: title(), attr: {href: url()}" target="_blank"></a></div> 
                </div>
                <!-- /ko -->
                <input type="hidden" data-bind="attr: { name: getPropertyIndexer($index(), 'CultureId') }, value: cultureId()" />
                <input type="hidden" data-bind="attr: { name: getPropertyIndexer($index(), 'Id') }, value: id()" />
            </div> 
            <div class="bcms-access-line bcms-clearfix" data-bind="visible: unassignedCultures().length > 1">
                <div class="bcms-access-value-add">
                    <div class="btn-acces-plus" data-bind="click: clickPlus">&nbsp;</div> 
                    <span data-bind="click: clickPlus, visible: !isInAddMode()">Add Translation</span> 
                    <!-- ko if: isInAddMode() -->
                    <select data-bind="options: unassignedCultures(), optionsText: 'value', optionsValue: 'key', value: addCultureId">
                    </select>
                    <!-- ko if: addCultureId() -->
                    <a data-bind="click: selectPage" src="#">Select page</a>
                    <!-- /ko -->
                    <!-- /ko -->
                </div> 
            </div> 
        </div> 
    </div> 
</div> 